<!--popup start-->
<div class="popup_box1" id="avatar_card">
  
</div>
<!--popup end-->

<div class="messages_content">
  <div class="msg_content_left">
    <!-- Message -->
      <div id="message_wrapper" class="message_wrapper">
        <% if @messages %>
          <% @messages.each do |message| %>
            <%= render :partial => "/message/messages", :locals => {:message=>message} %>
          <% end %>
        <% end %>
      </div>
      <div id="friend_requests">
        <h2>Friend Requests</h2>
        <% if @friend_requests %>
          <% @friend_requests.each do |friend_request| %>
            <%= render :partial => "/message/friend_requests", :locals => {:friend_request=>friend_request} %>
          <% end %>
        <% end %>
       
      </div>
      
      <div id="notes">
        <% if @notes %> 
           <% @notes.each do |note| %>
             <%= render :partial => "/message/notes", :locals => {:note=>note} %>
           <% end %>
        <% end %>
       
      </div>
    <!-- Message ends -->
    
    <!-- Add Friend -->
    <div id="avatar_card" class="hide">
      
    </div>
    <!-- Add Friend ends -->
  </div>
  <div class="friend_list" id="friend_list">
    <% if @friend %>
      <% @friend.each do |friend| %>
        <%= render :partial => "/message/friend_list", :locals => {:friend=>friend} %>
      <% end %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
<!-- 
  //Post Message
  $('.message_wrapper').delegate('.sbmt_msg', 'click', function(){
    showSpinner(true);
    parent_id = $(this).attr("id");
    parent_type = $(this).attr("rel");
    text = $(this).attr("title");
    message = $("#"+text).val();
    var dataString = {parent_id:parent_id, parent_type:parent_type, content: message};
    $.ajax({  
      type: "POST",  
      url: "/message/save",  
      data: dataString,
      success: function(data) {
        $("#"+text).val("");
        if (parent_type=="Message") {
          $("#post_comment_"+parent_id).hide();
          $("#messsage_box_"+parent_id).append(data);
        } else {
          $("#message_wrapper").append(data);
          $("#msg_input").fadeOut();
        }
        showSpinner(false);
      }
    });  
  });
  
  //Like/Unlike a message or comment
  $('.message_wrapper').delegate('.like', 'click', function(){
    showSpinner(true);
    if(this.id){
      action = $(this).attr('rel');
      controller = this;
      $.ajax({  
        type: "POST",  
        url: "/message/"+action,
        dataType: 'json',
        data: {message_id:this.id},
        success: function(data) {
          if (data) {
            $(controller).attr('rel',data.action);
            $(controller).text(data.action.toUpperCase());
            $('#count_'+controller.id).html(data.count);
          }
          showSpinner(false);
        }
      });
    }
  });
  
  $('.message_wrapper, .friend_list').delegate('.profile', 'click', function(){
    var p = $(this);
    var position = p.position();
    showSpinner(true);
    $.ajax({  
      type: "POST",  
      url: "/message/add_friend_card",
      data: {profile_id:this.id},
      success: function(data) {
        if (data) {
          $('#avatar_card').html(data);
          $('#avatar_card').css("top",position.top-165);
          $('#avatar_card').css("left",position.left-100);
          $('#avatar_card').show();
        }
        showSpinner(false);
      }
    });
  });
  
-->
</script>