<%if @message_id && !@message_id.nil?%>
<div class="message_warning_box ">
  <div class="heading">Warning</div>
    <div class="clear"></div>
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
     <div >
     <%if @del == true%>
        You are not able to delete this message <br/>because it have others users comments.
     <%else%>
        <%if @type=="message"%>You are about to remove this message along with<br />any comments on this message. Are you sure?<%else%>You are about to remove this message Are you sure?<%end%>
    <%end%>
    </div>
    <div class="spacebar10px"></div>
  <div align="right">
  <%if @del == true%>
      <a class="big_blue_btn  inlineblock" id = "dont_delete_btn" href="javascript:void(0)">OK</a>
  <% else %> 
     <a class="smaller_text big_blue_btn  inlineblock" id = "dont_delete_btn" href="javascript:void(0)">DON'T DELETE</a>
    <a class="big_orange_btn  inlineblock clr_red" id = "delete_btn" href="javascript:void(0)" rel ="<%=@message_id%>"  rev ="<%=@delete_all%>">DELETE</a> 
  <% end %>
  
  </div>
</div>
<% end %>
<script type="text/javascript">
<!--
 $("#dont_delete_btn").click(function(){
      $("#div_message_delete").hide();
  });
  
 $("#delete_btn").click(function(){
    showSpinner(true);
      id = $(this).attr("rel");
      delete_all = $(this).attr("rev");
      var dataString = 'id='+id+"&delete_all="+delete_all;
      $.ajax({
           type: "POST",  
           url: "/message/delete_message",  
           dataType:"json",
           data: dataString,
           success: function(data) {
             $("#div_message_delete").html('');
             //$("#div_message_delete").hide();
             $("#messsage_box_"+id).fadeOut(1000);
               $("#border_"+id).fadeOut(1000);
             showSpinner(false);
             }
        });
  }); 
-->
</script>