<% if !@outcomes.nil? %>
  <% @outcomes.each do |outcomes| %>
    <div id="task_outcomes_<%=outcomes.id%>" class="task_outcomes">
    <input type="checkbox" name="chk_outcomes[]" checked="true"   id="<%=outcomes.id%>"  value="<%=outcomes.id%>" />
    &nbsp;&nbsp;&nbsp;<%= outcomes.name %><br/>
    </div>
  <% end %>  
<% end %>

<script type="text/javascript">
<!--
  $($('input[name="chk_outcomes[]"]')).each(function(){
    if(this.checked) {
      setStorage("task_outcomes_"+$(this).attr('id'), $(this).val());
    } else {
      deleteStorage("task_outcomes_"+$(this).attr('id'));
    }
  });

-->
</script>