<div class="task_outcomes">
<input type="checkbox" name="chk_outcomes[]" id="<%=outcomes.id%>" <%= @task && outcome_associate(outcomes.id, @task.id) ? "checked='checked'" : "" %> value="<%=outcomes.id%>" />
&nbsp;&nbsp;&nbsp;<%= outcomes.name %><br/>
</div>


<script type="text/javascript">
<!--
  $($('input[name="chk_outcomes[]"]')).each(function(){
    if(this.checked) {
      setStorage("task_outcomes_"+$(this).attr('id'), $(this).val());
    } else {
      deleteStorage("task_outcomes_"+$(this).attr('id'));
    }
  });
  
  $('input[name="chk_outcomes[]"]').live('click', function () {
    if(this.checked) {
      setStorage("task_outcomes_"+$(this).attr('id'), $(this).val());
    } else {
      deleteStorage("task_outcomes_"+$(this).attr('id'));
    }
  });
-->
</script>