<!-- Warning pop for grading category select -->
<div id="warning_msg" class="add_task_popup" style="display:none;position:fixed;z-index:10000">
	<div class="heading">Grading Category Missing!!!</div>
	<div class="boxadnt"> 
		You are creating a task without assigning it a grading category. If you grade this task, 
		it will not affect the student's course average until you later assign this task a grading category.
  </div>
	<div class="spacebar10px"></div>
	<div class="spacebar10px"></div>
	<div align="right" style="margin-right:20px;">
		<a class="big_blue_btn inlineblock" id="dont_save_btn" href="javascript:void(0)">Don't Save</a> 
		<a class="big_blue_btn inlineblock" id="save_task_btn" href="javascript:void(0)">Save</a>
	</div>
</div>
<!-- Warning pop for grading category select ends -->
