<div class="task_content">
  <div class="board_left">
    <div class="board_right">
      <div class="board_center">
        <div class="task_pad_top"><div class="task_pad_top_inner "></div></div>
        <div class="task_pad">
          <!-- tabs-->
          
          <div class="tabs menu_container" align="right">
            <a href="javascript:void(0)"  id="menu1" value="1" class="tab_open" ><span class="task_tab">Current</span></a>
            <a href="javascript:void(0)"  id="menu2" value="2" class="tab_close" ><span class="task_tab">Past</span></a>
            <a href="javascript:void(0)"  id="menu3" value="3" class="tab_close"><span class="task_tab">Starred</span></a>
          </div>

          <div style="margin:30px 0 20px 30px;">
          <span style="font-weight:bold;margin-right:15px;">SHOW:</span>
          <%= select_tag "course_id", options_for_select(Course.all.collect{|c| [c.code,c.id]}),{:prompt => "All Courses"} %>
          </div>
           <div class="task_2box">
           <div class="titleTcheckbox">&nbsp;</div>
           <div class="titleTDue">DUE</div>
           <div class="titleTTAsk">TASK</div>
           <div class="titleTType">TYPE</div>
<div class="clear"></div>
           </div>
          <div id="task_show_list_data">
            <%if @tasks %>
             <%= render :partial => "/task/task_list", :locals => {:t=>@tasks} %>
            <% end %>
          </div>
  
      </div>
    </div>
  </div>
</div>
</div>
<div id="sidebar_right">
  <div class="task_side_buttons">
    <a class="big_blue_btn menu_btn" name="menu_btn_add" id="menu_btn_add" rel="/task/new" href="javascript:void(0)">ADD</a>
  </div><!-- crud_level -->
</div>

<script type="text/javascript">
  //Toggle Tabs
$(document).ready(function(){

  $(".menu_container a").unbind('click').bind('click', function(){
    idx = $(this).attr("value");
    $(".menu_container a").removeClass("active");
    $(this).addClass("active");
    for(i=0;i<3;i++){
      if(document.getElementById("menu"+(i+1))!=null){
        document.getElementById("menu"+(i+1)).className = "tab_close";
      }
    }
    document.getElementById("menu"+idx).className = "tab_open";
    course_id = $("#course_id").find("option:selected").val();
    if(course_id){
      showSpinner(false);
      $.ajax({
        type: "POST",  
        url: "/task/get_task",  
        data: {menu_id:idx,course_id:course_id},
        success: function(data) {
          $("#task_show_list_data").html(data);
          showSpinner(false);
        }
      }); 
    }else{
      showSpinner(false);
    }
  });
    
    //Show task by drop down course_id  
    $("#course_id").change(function(){
       showSpinner(true);
       var course_id = $(this).find("option:selected").val();
       $.ajax({
          type: "POST",  
          url: "/task/get_task",  
          data: {course_id:course_id},
          success: function(data) {
            $("#task_show_list_data").html(data);
            showSpinner(false);
          }
       });
    });
});
</script>