<div class="task_content">
  <div class="board_left">
    <div class="board_right">
      <div class="board_center">
        <div class="task_pad_top"><div class="task_pad_top_inner "></div></div>
        <div class="task_pad">
          <!-- tabs-->
          <div style="margin:30px 0 20px 0;">
          <span style="font-weight:bold;margin-right:15px;">COURSE:</span>
          <%= select_tag "course_id",options_for_select(Course.all.collect{|c| [c.code,c.id]}) %>
          </div>
          
		       <table width="100%" align="center" cellspacing="0" cellpadding="4">
             <thead>
              <tr class="tbl_header">
                <td width="30%">
                 Image
                </td>
                <td>
                  DUE
                </td>
                <td>
                  TASK
                </td>
                <td>
                  TYPE
                </td>
              </tr>
              <thead>
              <tbody>
              <%if @tasks %>
               <%= render :partial => "/task/task_list", :locals => {:t=>@tasks} %>    
              <% end %>
              </tbody>
            </table>
            <div style="height:520px"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="sidebar_right">
  <div class="task_side_buttons">
    <a class="big_blue_btn menu_btn" name="menu_btn_add" id="menu_btn_add" rel="/task/new" href="javascript:void(0)">ADD</a>
  </div><!-- crud_level -->
</div>

<script type="text/javascript">
  //prepare show links
$(document).ready(function(){
  setPageTitle("My Tasks");
  
  $('a.view').click(function() { 
    showSpinner(true);
    $("#container").load(this.href, function(){
      task_id = $(this).attr("id");
      $("#menu_btn_dup").attr("data","id="+task_id);
      $("#menu_btn_dup").show();
      showSpinner(false);
    });
    return false; 
  });
  jStorage.flush();
  
  $("#course_id").change(function(){
     var course_id = $(this).find("option:selected").val();
     $.ajax({
        type: "POST",  
        url: "/task/get_task",  
        data: {course_id:course_id},
        success: function(data) {
          $("tbody").html(data);
          showSpinner(false);
        }
     });
  });
});
</script>