<div class="task_pad_top_inner "></div>
<div class="task_content">
  <div class="board_left">
    <div class="board_right">
      <div class="board_center main_div_height">
        <div class="task_pad_top"></div>
        <div class="task_pad">
          <!-- tabs-->
          
          <div class="tabs menu_container" align="right">
            <a href="javascript:void(0)"  id="menu1" value="1" filter="current" class="side_tab tab_open" ><span class="task_tab">Active</span></a>
            <a href="javascript:void(0)"  id="menu2" value="2" filter="past" class="side_tab tab_close" ><span class="task_tab">Completed</span></a>
            <!-- <a href="javascript:void(0)"  id="menu3" value="3" class="tab_close"><span class="task_tab">Starred</span></a> -->
          </div>
          <div style="margin:30px 0 20px 30px;">
            <span style="font-weight:bold;margin-right:15px;">SHOW:</span>

            <select id="course_id">
              <option value="">All Tasks</option>
              <option value="starred">Starred Tasks</option>
              <optgroup label="By Course">
                <% unless @courses.nil? %>
                  <% @courses.each do |c| %> 
                  <option value="<%= c.id %>"  <% if defined?(course_id) %><%if c.id == course_id.to_i %> selected <%end%><%end%>><%= c.name %></option>
                  <% end %>
                <% end %>
              </optgroup>
            </select>
          
          </div>
          
          <div class="clipboard_header">
            <div style="float:left; width:150px;"><div class="titleTcheckbox">&nbsp;</div></div>
            <div style="margin-left:150px;">
            <div class="titleTDue">DUE</div>
            <div class="titleTTAsk">TASK</div>
            <!-- From the right -->
            <div class="titleTrating">XP</div>
            <div class="titleTType">COURSE</div>
            </div>
            <div class="clear"></div>
          </div>
          
          <div id="task_show_list_data">
             <% unless @tasks.nil? %>
             <%= render :partial => "/task/task_list", :locals => {:t=>@tasks} %>
            <% end %>
          </div>

          
  
      </div>
    </div>
  </div>
</div>
</div>
<div id="sidebar_right">
  <div class="task_side_buttons">
   <%if Role.check_permission(@profile.id,"T") == true%>
      <a class="big_blue_btn menu_btn" name="menu_btn_add" id="menu_btn_add" rel="/task/new?course_id=<%=h course_id %>" href="javascript:void(0)">ADD</a>
  <%end%>
  </div><!-- crud_level -->
</div>

<script type="text/javascript">

$(document).ready(function() {

  setPageTitle("My Tasks");

  // Handler for side-tabs
  $(".side_tab").unbind('click').bind('click', function(){
    $('.side_tab').addClass("tab_close").removeClass("tab_open");
    $(this).addClass("tab_open").removeClass("tab_close");
    getTasks();
  });
    
  // Handler for SHOW selection
  $("#course_id").change(function(){
    getTasks();
  });
});

// Retrieve tasks based on the current filters
function getTasks() {
  showSpinner(true);
  var filter = $(".tab_open:first").attr("filter");
  var show = $("#course_id").find("option:selected").val();
  $.ajax({
     type: "POST",  
     url: "/task/get_task",  
     data: {filter:filter, show:show},
     success: function(data) {
       $("#task_show_list_data").html(data);
       showSpinner(false);
     }
  });
}
</script>