<!-- Warning pop for remove task -->
<div id="warning_msg_remove" class="add_task_popup" style="display:none;position:fixed;z-index:10000">
	<div class="heading">Remove Task</div>
	<div class="boxadnt"> 
		Warning: By removing this content you will lose all data and files associated with it.
  </div>
	<div class="spacebar10px"></div>
	<div class="spacebar10px"></div>
	<div align="right" style="margin-right:20px;">
		<a class="smaller_text big_blue_btn inlineblock dialog_btn" id="dont_remove_btn" href="javascript:void(0)">Don't Remove</a> 
		<a class="big_orange_btn inlineblock dialog_btn" id="remove_task_cnfrm" href="javascript:void(0)">Remove</a>
	</div>
</div>
<!-- Warning pop for remove task ends -->