<% if @tasks.nil? %>
  ERROR: Nil @tasks
<% else %>
  <%= render :partial => "task_list_page", :locals => { :tasks => @tasks } %>
<% end %>
<!-- Warning pop for remove task -->
<div id="warning_msg_remove" class="add_task_popup" style="display:none;position:fixed;z-index:10000">
	<div class="heading">Remove Task</div>
	<div class="boxadnt"> 
		Warning: By removing this content you will lose all data, files, and grades associated with it.
  </div>
	<div class="spacebar10px"></div>
	<div class="spacebar10px"></div>
	<div align="right" style="margin-right:20px;">
		<a class="smaller_text big_blue_btn inlineblock dialog_btn" id="dont_remove_btn" href="javascript:void(0)">Don't Remove</a> 
		<a class="big_orange_btn inlineblock dialog_btn" id="remove_task_cnfrm" href="javascript:void(0)">Remove</a>
	</div>
</div>

<!-- Warning pop for grading category select ends -->
<script type="text/javascript">
	var remove_task_id;
	$(document).ready(function() {
    $(".description").dotdotdot({
	        //  configuration goes here
	    });
	});
  //setPageTitle("My Tasks");
  $('a.view').click(function() {
    showSpinner(true);
    $("#container").load(this.href, function(){
      task_id = $(this).attr("id");
      $("#menu_btn_dup").attr("data","id="+task_id);
      $("#menu_btn_dup").show();
      showSpinner(false);
    });
    return false; 
  });
  jStorage.flush();
  
 $('input[type="checkbox"]').unbind('click').bind('click',function(event) {
    check_val = $(this).is(':checked');
    showSpinner(true);
    task_id = $(this).attr("rel");
    $.ajax({
       type:"POST",
       url:"/task/task_complete",
       data:{task_id:task_id,check_val:check_val},
       dataType:"json",
       success:function(data){
         showSpinner(false);
         if (data.status) {
           setAlert("Task completed")
           $(".clipboard_list[task_id="+task_id+"]").css("background-color", "#BCD599");
         } else {
           setAlert("Task not completed")
           $(".clipboard_list[task_id="+task_id+"]").css("background-color", "");
         }
       }
    });
    event.stopPropagation();
  });
   
  $(".task_list_content").hover(
    function () {
      $(".list_hover", this).show();
    }, 
    function () {
      $(".list_hover", this).hide();
    }
  );
  
  $(".task_list_content").click(function() {
    var task_id = $(this).attr("task_id")
    setAlert("Show task " + task_id);
    load_data("/task/show/"+task_id, null);
  });

  $(".tasks_pri_toggle").click(function(event){
    showSpinner(true);
    task_id = $(this).attr("task_id");
    $.ajax({
       type: "POST",  
       url: "/task/toggle_priority",  
       data: {task_id:task_id},
       dataType: "json",
       success: function(data) {
         if (data.status){
           if (data.priority == "H") {
             $(".tasks_pri_toggle_btn[task_id="+task_id+"]").html("Unstar");
             $(".tasks_pri_toggle_img[task_id="+task_id+"]").attr("src", "/images/star_up.png");
           } else {
             $(".tasks_pri_toggle_btn[task_id="+task_id+"]").html("Star");
             $(".tasks_pri_toggle_img[task_id="+task_id+"]").attr("src", "/images/star_down.png");
           }
         }
         showSpinner(false);
       }
    });
    event.stopPropagation();
  });  
  
	// Remove task confirmation
  $(".tasks_del").click(function(event){
		remove_task_id = $(this).attr("task_id");
		$("#warning_msg_remove").show();
    event.stopPropagation();
  });  
	
	// Remove task
	$("#remove_task_cnfrm").click(function(){
		$("#warning_msg_remove").hide();
		showSpinner(true);
		$.ajax({
       type: "POST",  
       url: "/task/remove_tasks",  
       data: {task_id:remove_task_id},
       dataType: "json",
       success: function(data) {
				 if(data.status){
           $(".task_list_content[task_id="+remove_task_id+"]").fadeOut();
         }
				 remove_task_id = '';
         showSpinner(false);
       }
    });
	});
	
	$("#dont_remove_btn").click(function(){
		$("#warning_msg_remove").hide();
	});
  
  // For task priority
  $("#XXXstaronavatar2 a").unbind("click").bind("click",function(){
    showSpinner(true);  
    priority = $(this).attr("rel");
    task_id = $(this).attr("id");
    $.ajax({
      type:"POST",
      url:"/task/check_priorities",
      data:{priority:priority,task_id:task_id},
      success:function(data){
        if(data.status)
          showSpinner(false);
        else  
          showSpinner(true);
      },
      error:function(){
        alert("Error");
        showSpinner(false);
      }
    });
  }); 
</script>
