<div class="content_wrapper">
  <table width="95%" align="center" cellspacing="0" cellpadding="4">
    <tr class="tbl_header">
      <td width="40%">
        Task
      </td>
      <td>
        Created on
      </td>
      <td>
        Category
      </td>
    </tr>
    <% @tasks.each do |t| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td>
        <%=t.name %>
      </td>
      <td>
        <%=t.created_at %>
      </td>
      <td>
        <%=t.category.name %>
      </td>
    </tr>
    <% end %>
  </table>
</div>