<div class="wrapper">
  <div class="menu_container">
    <ul>
      <li>
        <a href="javascript:void(0)" value="1" class="active">SUMMARY</a>
      </li>
      <li>
        <a href="javascript:void(0)" value="2" >AWARDS</a>
      </li>
      <li>
        <a href="javascript:void(0)" value="3" >RESOURCES</a>
      </li>
      <li>
        <a href="javascript:void(0)" value="4" >NOTIFICATION</a>
      </li>
      <li>
        <a href="javascript:void(0)" value="5" >PEOPLE</a>
      </li>
    </ul>
  </div>
  <div class="content_container">
    <form name="frm_task" id="frm_task" enctype="multipart/form-data">
      <div id="div_1" class="form_container">
        <div class="frm_label">
          Task
        </div>
        <div class="frm_input">
          <input type="text" name="task" id="task" class="large" onblur='javascript:setStorage("task_name", $(this).val())'/>
        </div>
        <div class="frm_label">
          Description
        </div>
        <div class="frm_input">
          <textarea name="descr" id="descr" rows="10" onblur='javascript:setStorage("task_descr", $(this).val())'></textarea>
        </div>
        <div class="frm_label">
          Due Date
        </div>
        <div class="frm_input">
          <input type="text" name="due_date" id="due_date" class="medium" />
        </div>
      </div>
      <div id="div_2" class="form_container hide">
        <div class="frm_label">
          Points
        </div>
        <div class="frm_input">
          <input type="text" name="points" id="points" class="small" onblur='javascript:setStorage("task_points", $(this).val())'/>
        </div>
        <div class="frm_label">
          Outcomes
        </div>
        <div class="frm_input" id="outcome_container">
          <input type="text" name="outcomes[]" id="outcomes_1" rel="percentage_1" class="medium" onblur='javascript:setStorage("task_outcomes_1", $(this).val())'/> &nbsp;&nbsp;
          <input type="text" name="percentage[]" id="percentage_1" rel="outcomes_1" class="small" onblur="javascript:setPercentages($(this));"/>
        </div>
      </div>
      <div id="div_3" class="form_container hide">
        <div id="upload_container" style="width:600px;margin:auto;">
          <!-- input type="file" name="resources" id="resources" / -->
        </div>
      </div>
      <div id="div_4" class="form_container hide">
        <div class="frm_label">
          Email
        </div>
        <div class="frm_input">
          <input type="text" name="email" id="email" class="large" />
        </div>
        <div class="frm_label">
          Facebook Id
        </div>
        <div class="frm_input">
          <input type="text" name="facebook" id="facebook" class="large" />
        </div>
      </div>
      <div id="div_5" class="form_container hide">
        <div class="frm_label">
          Organizer
        </div>
        <div class="frm_input">
          <input type="text" name="organizer" id="organizer" class="medium" onblur='javascript:setStorage("task_organizer", $(this).val())'/>
        </div>
        <div class="frm_label small_label">
          Participants
        </div>
        <div class="frm_input" id="participants_container">
          <input type="checkbox" name="chk_participants[]" id="chk_participants_1" />
          <input type="text" name="participants[]" id="participants_1" class="medium" />
        </div>
      </div>
      <div class="frm_button">
        <input type="button" name="btn_task" id="btn_task" value="Save"/>
      </div>
      <input type="hidden" name="task_id" id="task_id_hdn" value="" />
    </form>
  </div>
</div>
<script type="text/javascript">
<!--
//For dynamic added nodes
var _counter = 2;
var _counter_people = 2;
//For percent counter
var _percent = 100;
//For Autocomplete tags
var _outComeTags = [];
var _participantsTags = [];
var i = 0;
var j = 0;
//Set CSRF Token (Required for ajax request (post))
$(document).ajaxSend(function(e, xhr, options) {
  var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});

$(document).ready(function(){
  //Flush the previous storage
  jStorage.flush()
  //Toggle Tabs
  $(".menu_container a").click(function(){
    idx = $(this).attr("value");
    $(".menu_container a").removeClass("active");
    $(this).addClass("active");
    for(i=0;i<6;i++){
      if(idx != i){
        $("#div_"+i).hide();
      }
    }
    $("#div_"+idx).fadeIn();
  });
    
  //Submit data
  $("#btn_task").click(function(){
    //Get data from offline storage
    task_id = $("#task_id_hdn").val();
    task = getStorage("task_name");
    descr = getStorage("task_descr");
    due_date = getStorage("task_due_date");
    task_points = getStorage("task_points");
    //For outcome data object (gather values from dynamic created nodes)
    var outcomeObject = [];
    //Prepare all outcomes created as nodes
    for(i=1; i<_counter; i++) {
      storage_key = "task_outcomes_"+i;
      outcomeObject[i] = getStorage(storage_key);
    }
    
    var dataString = 'id='+ task_id +'&task='+ task + '&descr=' + descr + '&due_date=' + due_date + '&points=' + task_points + '&outcomes=' +outcomeObject ;  
    //alert (dataString);return false;  
    $.ajax({  
      type: "POST",  
      url: "/task/save",  
      data: dataString,
      dataType:"json",
      success: function(data) {
        if (data) {
          alert("Data Saved");
          $("#task_id_hdn").val(data.task.id);
        } else {
          alert("ERROR");
        }
      }
    });  
    return false;  
  });
  
  $(function() {
    //Due date datepicker
    $("#due_date").datepicker({
      dateFormat: 'yy-mm-dd',
      onSelect: function(dateText, inst) {setStorage("task_due_date", dateText);}
    });
    
    //fill up the outcome tags object
    <% @outcomes.each do |outcome| %>
      _outComeTags[i] = "<%=outcome.name %>";
      i++;
    <% end %>
    //fill up the participants tags object
    <% @participants.each do |participant| %>
      _participantsTags[j] = "<%=participant.object_type %>";
      j++;
    <% end %>
    
    $("#outcome_container .medium").live("keydown.autocomplete", function() {
        $(this).autocomplete({
          source: _outComeTags,
          select: function(event, ui){
            
          }
        });
    });
    
    $("#outcome_container .medium").live("focusout", function(){
      current_node = _counter - 1;
      if($("#outcomes_"+current_node).val()!="") {
        addNode('outcome');
        /*percent_node = _counter - 2
        points = $("#points").val();
        $("#percentage_"+percent_node).val(_percent+"%");
        $("#points_label_"+percent_node).html(points);*/
      }
    });
    
    $("#participants_container .medium").live("keydown.autocomplete", function() {
      $(this).autocomplete({
        source: _participantsTags,
        select: function(event, ui){
          addNode('people');
        }
      });
    });
    
  // Setup html5 file upload
  $("#upload_container").pluploadQueue({
    // General settings
    runtimes : 'html5',
    url : '/task/upload_resource',
    max_file_size : '10mb',
    chunk_size : '1mb',
    unique_names : true,
    filters : [
      {title : "Image files", extensions : "jpg,gif,png"},
      {title : "Zip files", extensions : "zip"}
    ],
    // Resize images on clientside if we can
    resize : {width : 320, height : 240, quality : 90}
  });
    
  }); // $(function) ends
}); //document.ready ends

//Set temp storage
function setStorage(key,value){
  if(value!=""){
    jStorage.set(key, value);
  }
}
//Get temp storage
function getStorage(key) {
  var val
  if(jStorage.get(key)!=""){
    val = jStorage.get(key);
  }
  return val;
}

//Adding text field nodes for outcomes/peoples
function addNode(element) {
  if(element == "outcome") {
    var newNode = $(document.createElement('div')).attr("id", 'outcome_node_div' + _counter);
    newNode.css("marginTop" , "20px");
    newNode.html('<input type="text" name="outcomes[]" id="outcomes_' + _counter + '" rel="outcomes_' + _counter + '" value="" class="medium" onblur="javascript:setStorage(\'task_outcomes_'+_counter+'\', $(this).val())" /> &nbsp;&nbsp;<input type="text" name="percentage[]" id="percentage_' + _counter + '" rel="outcomes_' + _counter + '" value="" class="small" onblur="javascript:setPercentages($(this));">');
    //newNode.html('<input type="text" name="outcomes[]" id="outcomes_' + _counter + '" value="" class="medium" onblur="javascript:setStorage(\'task_outcomes_'+_counter+'\', $(this).val())" />');
    newNode.appendTo("#outcome_container");
    _counter++;
  } else if (element == "people") {
    var newNode = $(document.createElement('div')).attr("id", 'people_node_div' + _counter_people);
    newNode.css("marginTop" , "20px");
    newNode.html('<input type="checkbox" name="chk_participants[]" id="chk_participants_'+ _counter_people +'" /><input type="text" name="participants[]" id="participants_' + _counter_people + '" value="" class="medium">');
    newNode.appendTo("#participants_container");
    _counter_people++;
  }
}

//Showing Percentage/points for each outcome
function setPercentages(obj) {
  var total = 0;
  var objVal = parseInt($.trim(obj.val().replace('%', '')));
  $.each($('input[name$="percentage[]"]'), function() {
      rel = $(this).attr("rel");
      if($("#"+rel).val()) {  
        val = $(this).val();
        if(val!="") {
          val = parseInt($.trim(val.replace('%', '')));
        }else{
          val = 0;
        }
        if(total>=0) {
          total = parseInt(total) + parseInt(val);
        }
        if(total>=100) {
          total = total - 100;
          obj.val(total);
        } else {
          total = 100 - total; 
          alert(total)
          obj.val(objVal + total);
        }
        //if($(this.id))
      }
  });
  //alert(total);
  //obj.val(total);
}
-->
</script>