<div class="confirm_box_width warningbox ">
  <div class="heading">Warning</div>
    <div class="clear"></div>
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
     <div >You are about to archive this course. Once archived, you will no longer see this course in your Active list. Are you sure you want to archive this course? </div>
    
    <div class="spacebar10px"></div>
  <div align="right">
  <a class="big_blue_btn smaller_text inlineblock" id = "dont_archive_btn" href="javascript:void(0)">Don't Archive</a>
  <a class="big_orange_btn inlineblock clr_red" id = "save_archive_btn" href="javascript:void(0)">Archive</a> 
  </div>
</div>

<script type="text/javascript">
 $(function(){
    $("#dont_archive_btn").click(function(){
      $("#confirm_box").hide();
    });
    
    $("#save_archive_btn").click(function(){
      course_id = $("#course_id_hdn").val();
      showSpinner(true);
     $.ajax({  
          type: "POST",  
          url: "/course/set_archive",
          dataType: "json",
          data:{id:course_id},
          success: function(data) {
            showSpinner(false);
            $("#confirm_box").hide();
          },
          error: function()
          {
            alert("An Error has occured");
            showSpinner(false);
          },
        }); 
      });
    });
</script>