<div id="div_4" class="tab_content">
  <div id="confirm_upload" class="add_file" style="display:none;">   
    <div class="c_upload">Confirm Upload</div>
    <div id="container">
        <a class="big_blue_btn" id="pickfiles" href="javascript:void(0)">Browse</a>
    </div>
    <div id="show_file_uploading"></div>
    <div id="show_file_data" style="display:none;">
      <div class="display_text">
        <p>You are about to upload an updated version
        of an assignment file. Do you wish to
        continue uploading?</p>
      </div>
      <div class="display_data">Task:<span id="file_task"></span></div>
      <div class="display_data">Original Uploaded By:<span id="file_uploaded_by"></span></div>   
      <div class="display_data">Original Uploaded On:<span id="file_uploaded_on"></span></div>
      <div class="display_data">Revision:<span id="file_revision"></span></div>
      <div style="float:right">
        <a class="big_blue_btn" id="file_upload" href="javascript:void(0)">Upload</a>
        <a class="big_blue_btn" onClick="javascript:$('#confirm_upload').hide();" href="javascript:void(0)">Close</a>
      </div>                                
    </div>                  
  </div>
    
  <div id="show_file" style="width:150px;height:40px;background-color:#FFFFFF;">
    DROP THE FILE
  </div>
  <div id="show_file_list" style="display:none;">
      <span id="file_task"></span>
      <span id="file_updated"></span>
      <span id="file_size"></span>                            
  </div>
   <br/>
   <div class="titleTextShow">Show:&nbsp;&nbsp;<span><select class="dd_input brown_bg">
   <option>Task</option>
   <option>Course</option>
   <option>Notes</option>
   </select></span></div>
   <div class="titleTextKind">Kind</div>
   <div class="titleTextUpdated">Updated</div><br/><br/>
  <% if @course %>
  <% @course.attachments.reverse.each do |a| %>
    <%= render :partial => "/course/file_list", :locals => {:a=>a} %>               
  <% end %>
  <% end %>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  $(function(){
    //Uploader task image upload
    var add_file_uploader = new plupload.Uploader({
      runtimes: 'html5',
      drop_element: 'show_file',
      container: 'show_file',
      max_file_size: '5mb',
      resize : {width : 125, height : 125},
      url: '/course/add_file',
      multipart_params: {
        'authenticity_token' : token,  //For csrf-authentication
        'school_id' : $("#course_school_id_hdn").val(),
        'id' : $("#course_id_hdn").val()
      }
    });
    
    add_file_uploader.init();
    
    add_file_uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
      add_file_uploader.start();
    });
    
    add_file_uploader.bind('UploadProgress', function(up, file) {
      $('#show_file').html('<center>Uploading..</center>');
    });
    
    add_file_uploader.bind('FileUploaded', function(up, file, info) {
      var obj = jQuery.parseJSON( info.response);
      $("#show_file").text("DROP THE FILE");
      $("#show_file_list").show();
      $("#file_task").text(obj.attachment.resource_file_name);
      $("#file_updated").text(obj.attachment.updated_at);
      $("#file_size").text(obj.attachment.resource_file_size);
      showSpinner(false);
    });
  });
</script>