<div>
  <div id="confirm_upload" class="add_file" style="display:none;">   
    <div class="c_upload">Confirm Upload</div>
    <div id="container">
        <a class="big_blue_btn" id="pickfiles" href="javascript:void(0)">Browse</a>
    </div>
    <div id="show_file_uploading"></div>
    <div id="show_file_data" style="display:none;">
      <div class="display_text">
        <p>You are about to upload an updated version
        of an assignment file. Do you wish to
        continue uploading?</p>
      </div>
      <div class="display_data">Task:<span id="file_task"></span></div>
      <div class="display_data">Original Uploaded By:<span id="file_uploaded_by"></span></div>   
      <div class="display_data">Original Uploaded On:<span id="file_uploaded_on"></span></div>
      <div class="display_data">Revision:<span id="file_revision"></span></div>
      <div style="float:right">
        <a class="big_blue_btn" id="file_upload" href="javascript:void(0)">Upload</a>
        <a class="big_blue_btn" onClick="javascript:$('#confirm_upload').hide();" href="javascript:void(0)">Close</a>
      </div>                                
    </div>                  
  </div>
  <br/>
   <div class="titleTextShow">Show:&nbsp;&nbsp;<span><select class="dd_input brown_bg">
   <option>Task</option>
   <option>Course</option>
   <option>Notes</option>
   </select></span></div>
     
  
   <div class="titleTextKind">Size</div>
   <div class="titleTextUpdated">Updated</div><br/><br/>
   <div id="all_files">
    <div id="show_file" class="btn_drop_file">DROP FILE HERE</div>
    <div id="load_files">
    <% if @course %>
    <% @course.attachments.reverse.each do |a| %>
      <%= render :partial => "/course/file_list", :locals => {:a=>a} %>               
    <% end %>
    <% end %>
   </div>
  </div>
  
   
  <div class="clear"></div>
</div>
<script type="text/javascript">
  $(function(){
  
       <% if @courseMaster %>
       <% if @courseMaster.id != user_session[:profile_id] %>
       $("#show_file").css("display","none");
       <%end%>
       <%end%>
       //Remove files
      $(".files_del").click(function(){
        showSpinner(true);
        file_id=$(this).attr("rel");
        $("#filename_"+file_id).remove();
        var dataString = 'files='+file_id;
        $.ajax({
           type: "POST",  
           url: "/course/remove_course_files",  
           data: dataString,
           dataType:"json",
           success: function(data) {
             showSpinner(false);
           }
        });
      });
      
    $(".file_pri_toggle").click(function(event){
    showSpinner(true);
    att_id = $(this).attr("rel");
    $.ajax({
       type: "POST",  
       url: "/course/toggle_priority_file",  
       data: {id:att_id},
       dataType: "json",
       success: function(data) {
           if (data.starred) {
             $(".file_pri_toggle_btn[rel="+att_id+"]").html("Unstar");
             $(".file_pri_toggle_img[rel="+att_id+"]").attr("src", "/images/star_up.png");
           } else {
             $(".file_pri_toggle_btn[rel="+att_id+"]").html("Star");
             $(".file_pri_toggle_img[rel="+att_id+"]").attr("src", "/images/star_down.png");
           }
        showSpinner(false);
       },
       error: function(){
          alert("An Error has occured");
          showSpinner(false);
        }
    });

  });  
      
      
      
      
      $(".files_download").click(function(){
        $("#file_download").show();
      });
      
     //For files hover div
      $(".file_content").hover(
        function () {
          id = $(this).attr("id");
          $("#"+id+" #files_hover").show();
        }, 
        function () {
          id = $(this).attr("id");
          $("#"+id+" #files_hover").hide();
        }
      );
    
    //Uploader task image upload
    var add_file_uploader = new plupload.Uploader({
      runtimes: 'html5',
      drop_element: 'show_file',
      container: 'show_file',
      max_file_size: '5mb',
      resize : {width : 125, height : 125},
      url: '/course/add_file',
      multipart_params: {
        'authenticity_token' : token,  //For csrf-authentication
        'school_id' : $("#course_school_id_hdn").val(),
        'id' : $("#course_id_hdn").val()
      }
    });
    
    add_file_uploader.init();
    
    add_file_uploader.bind('FilesAdded', function(up, files) {
      showSpinner(true);
      add_file_uploader.start();
    });
    
    add_file_uploader.bind('UploadProgress', function(up, file) {
      $('#show_file').html('<center>Uploading..</center>');
    });
    
    add_file_uploader.bind('FileUploaded', function(up, file, info) {
      showSpinner(true);
      $("#show_file_list").show();
      $("#load_files").prepend(info.response);
      $("#show_file").text("DROP THE FILE");
      $("#show_file").fadeOut('slow');
      $("#load_files").slideDown(10000);
      $("#show_file").fadeIn('slow');
      showSpinner(false);
    });
    
    
    var file_uploader = new plupload.Uploader({
        runtimes : 'html5',
        browse_button : 'pickfiles',
        container: 'pickfiles',
        max_file_size : '10mb',
        url : '/course/add_file',
        multipart_params: {
          'authenticity_token' : token,  //For csrf-authentication
          'school_id' : $("#course_school_id_hdn").val(),
          'id' : $("#course_id_hdn").val()
        }
      });

      file_uploader.init();
      
      file_uploader.bind('FilesAdded', function(up, files) {
         showSpinner(true);
         file_uploader.start();
      });

      file_uploader.bind('UploadProgress', function(up, file) {
        $('#show_file_uploading').html('<center>Uploading..</center>');
      });
      
      
     file_uploader.bind('FileUploaded', function(up, file, info) {
        showSpinner(true);
        $('#confirm_upload').hide();
        $("#show_file").text("DROP THE FILE");
        $("#load_files").prepend(info.response);
        showSpinner(false);
    });
  });
</script>