<div class="add_task_popup" >
  <div class="heading">Remove Forum</div>
    <div class="boxadnt"> 
			Warning: By removing this content you will lose all data and files associated with it.
		</div>
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
    <!--
		<div class="heading02">Removing this forum will permanently delete the forum and all data in the forum. Are you sure you want to remove this Forum ? </div>
		-->
  <div align="right">
		<a class="smaller_text big_blue_btn inlineblock" id = "dont_archive_btn" href="javascript:void(0)">Don't Remove</a>
		<a class="big_orange_btn inlineblock clr_red" id = "save_archive_btn" href="javascript:void(0)">Remove</a> 
  </div>
</div>

<script type="text/javascript">
 $(function(){
    $("#dont_archive_btn").click(function(){
      $("#confirm_box").hide();
    });
    
    $("#save_archive_btn").click(function(){
      course_id = $("#new_course_id").val();
      showSpinner(true);
     $.ajax({  
          type: "POST",  
          url: "/course/set_archive",
          dataType: "json",
          data:{id:course_id},
          success: function(data) {
			course_id = $("#course_id_hdn").val();
            section_type = $("#section_type").val();
			idx = "3";
			var data = {value:idx,id:course_id,section_type:section_type};
            $("#load_data").load("/course/show_course",data, function(response, status, xhr) {
              if(response)
              {
                $("#load_data").html(response);
                showSpinner(false);
              }
              if (status == "error")
              {
                var msg = "Sorry but there was an error: ";
                alert(msg);
              }
      
            });
          },
          error: function()
          {
            alert("An Error has occured");
            showSpinner(false);
          },
        }); 
      });
    });
</script>