<div class="course_content">
  <div class="course_board_left">
    <div class="course_board_right">
      <div class="course_board_center">
        <div class="texture_board">
          <div class="course_pad_top"> </div>
          <div class="course_pad">
           <% if section_type == "G" %>
            <div class="tabs menu_container" align="right">
            <a href="javascript:void(0)"  id="menu1" value="1" filter="M" class="side_tab tab_group side_tab_open" ><span class="task_tab">Active</span></a>
            <a href="javascript:void(0)"  id="menu2" value="2" filter="A" class="side_tab tab_group side_tab_close" ><span class="task_tab">All</span></a>
            <!-- <a href="javascript:void(0)"  id="menu3" value="3" class="tab_close"><span class="task_tab">Starred</span></a> -->
          </div>
          <%end%>
          <% if section_type == "C" %>
            <div class="tabs course_tabs" align="right">
            <a href="javascript:void(0)"  id="menu1" value="1" filter="active" class="side_tab tab_course side_tab_open" ><span class="task_tab">Current</span></a>
            <a href="javascript:void(0)"  id="menu2" value="2" filter="past" class="side_tab tab_course side_tab_close" ><span class="task_tab">Past</span></a>
          </div>
          <%end%>
          
          <div id ="content_list">
           <%= render :partial=>"/course/content_list",:locals => {:section_type=>section_type}%>
           </div>  
          </div>  

          <div class="end_of_page"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="sidebar_right">
  <div class="course_side_buttons">
    <%if Role.check_permission(@profile.id,section_type) == true%> 
      <a class="big_blue_btn menu_btn" <% if defined?(section_type) %> data="<%=section_type%>" <%end%> name="menu_btn_add" id="menu_btn_add" rel="/course/new"href="javascript:void(0)">ADD</a>
    <%end%>
  </div><!-- crud_level -->
</div>

<script type="text/javascript">

$(document).ready(function(){
  
  section_type = $("#section_type").val();
  if (section_type == "G") {
    setPageTitle("My Groups");
  }
  else {
    setPageTitle("My Courses");
  }
  
  //prepare show links
  
  jStorage.flush();
});

$(".course_row").hover(
  function () {
    $(".list_hover", this).show();
  }, 
  function () {
    $(".list_hover", this).hide();
  }
);

$(".join_btn").click(function(event){
  showSpinner(true);
  course_id = $(this).attr("course_id");
  $.ajax({
     type: "POST",  
     url: "/course/send_group_invitation",  
     data: {id:course_id},
     dataType: "json",
     success: function(data) {
       if (data.status) {
         $(".join_btn[course_id="+course_id+"]").hide();
         setAlert("The group organizer has been notified of your request to join this group.");
       }
       showSpinner(false);
     },
     error: function()
     {
       setAlert("An error occurred while joining this group.");
       showSpinner(false);
     }
  });
  event.stopPropagation();
});
  // Handler for side-tabs
  $(".tab_group").unbind('click').bind('click', function(){
    $('.tab_group').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");
    filter();
  });
    
   $(".tab_course").unbind('click').bind('click', function(){
    $('.tab_course').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");
     filter();
  });  
  
// Retrieve groups based on the current filters
function filter() {
  showSpinner(true);
  var section_type = $("#section_type").val();
  var filter = $(".side_tab_open:first").attr("filter");
  $.ajax({
     type: "POST",  
     url: "/course/filter",  
     data: {filter:filter,section_type:section_type},
     success: function(data) {
       $("#content_list").html(data);
       showSpinner(false);
     }
  });
}
/*
function getCourses() {
  showSpinner(true);
  var filter = $(".side_tab_open:first").attr("filter");
  $.ajax({
     type: "POST",  
     url: "/course/get_course",  
     data: {filter:filter},
     success: function(data) {
       $("#content_list").html(data);
       showSpinner(false);
     }
  });
}*/
</script>