<div class="screen_title">
  COURSE
</div>
<div class="content_wrapper">
  <table width="95%" align="center" cellspacing="0" cellpadding="4">
    <tr class="tbl_header">
      <td width="40%">
        Course
      </td>
      <td>
        Created on
      </td>
    </tr>
    <% @courses.each do |c| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td>
        <a href="/course/show/<%=c.id%>" class="view"><%=c.name%></a>
      </td>
      <td>
        <%=c.created_at %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div id="sidebar_right">
  <div id="crud_level">
    <input type="button" name="menu_btn_add" id="menu_btn_add" rel="/course/new" value="Add" class="menu_btn"/>
  </div><!-- crud_level -->
</div>
<script type="text/javascript">
<!--
$(document).ready(function(){
  //prepare show links
  $('a.view').click(function() {
    showSpinner(true);
    $("#container").load(this.href, function(){
      $("#menu_btn_dup").show();
      showSpinner(false);
    }); 
    return false; 
  });
});
-->
</script>