<div id="div_6" class="tab_content">
  <%if (@courseMaster and !@courseMaster.nil? and @course.parent_type=="C") || (@course and @course.parent_type=="G")%> 
  <div class="titleTextParticipants">Add:&nbsp;&nbsp;
    <span><input type="text" name="add_people_email[]" class="dd_select brown_bg" style="width:300px; padding:2px;" id="add_course_people" placeholder="Enter email..."  /></span>
    <span style="float:right; margin-right:89px;"><a href="javascript:void(0)" name="btn_add_people" id="btn_add_people" class="blue_bt19px btn_add">Invite</a></span>
  </div> 
	<%end%>
	
	<div style="padding:10px;">
		<span style="float:right; margin-right:80px;">
		<% if @courseMaster %>
			<a href="javascript:void(0)" name="btn_email_all" id="btn_email_all" class="blue_bt19px btn_add">Send Message to All</a>
		<% end %>
		</span>
	</div>
  
  <div class="frm_input">
    <div class="frm_input" id="add_people_container"></div>
  </div>
  
  <div class="frm_label small_label">
    &nbsp;
  </div>
  <div class="clear"></div>
  <div id="course_people" class="frm_input" style="width:100%;">
		<% if @peoples and (@course.parent_type != "F" or @courseMaster.nil?)  %>
      <%= render :partial => "/course/participant_list", :locals => {:peoples=>@peoples, :mode=>"list"} %>
		<%else%>
			<%= render :partial => "/course/forum_participant_list", :locals => {:peoples=>@peoples, :mode=>"list"} %>
    <% end %>
  </div>
  <div id="course_participant_list" class="hide">
      <div class="participant_close">
        <a href="javascript:void(0)" onClick="javascript:$('#course_participant_list').hide();" class="big_blue_btn">Close</a>
      </div>
      <div id="course_participant_list_inner">
         Loading...
      </div>
  </div>
  <input type="hidden" name="new_course_id" id="new_course_id" value="<%=@course.id if @course%>">
  <div class="clear"></div>
</div>
<div id="send_email_all" class="add_task_popup" style="display:none">
	<div class="heading">Send Email to All Participants</div>
	<div class="boxadnt"> 
		<span class="heading02">Message</span>
    <div class="heading02_field">
      <div class="dd_bg brown_bg02">
        <textarea class="dd_input brown_bg02" style="height:55px" name="mail_msg" id="mail_msg"></textarea>
      </div>
    </div>
    <div class="clear"></div>
		<div class="spacebar10px"></div>
		<div class="spacebar10px"></div>
  </div>
	<div align="right" style="margin-right:20px;">
		<a class="big_blue_btn inlineblock" id="dont_send_btn" href="javascript:$('#send_email_all').hide();">Don't Send</a> 
		<a class="big_blue_btn inlineblock" id="send_btn" href="javascript:void(0)">Send</a>
	</div>
</div>
<script type="text/javascript">
//List people (participants)

  	  $('#course_people').delegate('input[name="chk_forum_people[]"]', 'change', function(){
    check_val = $(this).is(':checked');
    member_id = $(this).attr('id');
    course_id = $("#new_course_id").val();
    var id = $(this).attr('id');
    var val = $(this).val();
      if(course_id){ 
        showSpinner(true);
        $.ajax({
           type:"POST",
           dataType: "json",
           url:"/course/forum_member_unchecked",
           data:{course_id:course_id,member_id:member_id,check_val:check_val},
           success:function(data){
             if(data.status)
             {
               showSpinner(false);
                changed=true;
             } 
			 
           }
        });
      }  
  });
  
  $('#course_people').delegate('input[name="chk_include_all"]', 'change', function(){
  	check_val = $(this).is(':checked');
    course_id = $("#new_course_id").val();
	
	showSpinner(true);
      $.ajax({
         type:"POST",
         dataType: "json",
         url:"/course/forum_member_unchecked",
         data:{course_id:course_id,check_val:check_val},
         success:function(data){
           showSpinner(false);
            changed=true;
			$('.forum_people').prop("checked",true);
			$('.forum_people').prop("disabled",check_val);
         }
      });
  });
  
  var a,b;
  a = function () {
      $(".list_hover", this).show();
    }, 
    b = function () {
      $(".list_hover", this).hide();
    }
  $(".blackboard_list").hover(a,b);

  $('#add_course_people').bind('keyup', function(e) {
      if ( e.keyCode === 13 ){
          $("#btn_add_people").click();
      }
  });

  $("#btn_add_people").click(function() {
    course_id = $("#course_id_hdn").val();
    section_type = $("#section_type").val(); 
    if($("#hdn_forum_id").val()!="" && $("#hdn_forum_id").val()!= undefined){
        course_id = $("#hdn_forum_id").val();
        section_type = "G"
      }
      else{
         course_id = $("#course_id_hdn").val();
      }
    
    email_id = $("#add_course_people").val();
    node_class = "even";
    dataString = {course_id:course_id, email:email_id,section_type:section_type};
    if (course_id && email_id) {
        showSpinner(true); 
        $.ajax({  
          type: "POST",  
          url: "/course/add_participant",  
          data: dataString,
          dataType: "json",
          success: function(data) {
            if (data.status) {
              participant_node = $('<li id="'+ data.profile.id + '" class="msg_big_boxC2 blackboard_list '+node_class+'" style="width:88%; height:88px;"></li>');
              participant_node.className = node_class;
              participant_node.id = data.profile.full_name;
              partcipant_html = '<div class="avatar_white_bdr floatL"><img src='+data.profile.image_file_name+'></div>';
              if(data.new_user){
              partcipant_html += '<div class="people_name" style="width:27%; margin:7px 8px;">' + data.user.email +'</div>';
              //partcipant_html += '<div style="font-size:10px; font-weight:normal;">' + email_id + '</div>';
              }
              else if(data.profile.full_name){
              partcipant_html += '<div class="people_name" style="width:27%; margin:7px 8px;">' + data.profile.full_name +'</div>';
             // partcipant_html += '<div style="font-size:10px; font-weight:normal;">' + email_id + '</div>';
              }
			  else{
			  partcipant_html += '<div class="people_name" style="width:27%; margin:7px 8px;">' + data.user.email +'</div>';
			  }
			  partcipant_html += '<div class="field_label3" style="width:30%;margin:7px 8px;"><a>'+data.user.email+ '</a></div>';
              partcipant_html += '</br><span class="participant_type" style="font-size:10px; font-weight:normal;margin:9px -421px;">Pending</span>';
			  partcipant_html += '<div class="FloatR" style="width:20%"><div class="list_hover" style="margin-top:10px;width:10%;">';
              partcipant_html += '<a href="javascript:void(0)" class="people_resend blue_bt19px FloatL" rel='+data.profile.id+' value='+data.user.email+'>Resend</a>';
			  partcipant_html += '<a href="javascript:void(0)" class="people_delete blue_bt19px FloatR" rel='+data.profile.id+'  >Remove</a></div></div>';
			  partcipant_html += '<div class="clear"></div>';
              participant_node.append(partcipant_html);
              $("#course_people ul").prepend(participant_node);
              $("#course_participant_list").hide();
              $("#hdn_is_page_change").val(true);
			  $('.blackboard_list').first().hover(a,b);
            } 
            else {
                $("#course_participant_list").hide();
                $("#add_course_people").val("");
            }
            showSpinner(false);
			alert("An invitation email has been sent to " + email_id);
          }
        });
     } else {
      alert("Please insert participant name");
    }
  });
  
	// For showing popup of send email to all
	$("#btn_email_all").click(function(){
		$('#send_email_all').show();
	});
	
	// For sending email to all
	$("#send_btn").click(function() {
		showSpinner(true);
		var course_id = $("#course_id_hdn").val();
		var mail_msg = $('#mail_msg').val();
		if(course_id) {
			var dataString = {id:course_id, mail_msg:escape(mail_msg)};
			$.ajax({
				type: "POST",
				url: "course/send_email_to_all_participants",
				data: dataString,
				success: function(data) {
					if(data) {
						showSpinner(false);
						$('#send_email_all').hide();
						alert("Email Sent Successfully!!!");
					}
				}
			});
		} 
	});
	
  // Resend Email to pending user
  $(".people_node").delegate(".people_resend", "click", function(){
    course_id = $("#course_id_hdn").val();
    section_type = $("#section_type").val(); 
    if($("#hdn_forum_id").val()!="" && $("#hdn_forum_id").val()!= undefined){
        course_id = $("#hdn_forum_id").val();
        section_type = "G"
      }
      else{
         course_id = $("#course_id_hdn").val();
      }
    
    email_id = $(this).attr("value");
    dataString = {course_id:course_id, email:email_id,section_type:section_type,resend:true};
    showSpinner(true); 
    $.ajax({  
      type: "POST",  
      url: "/course/add_participant",  
      data: dataString,
      dataType: "json",
      success: function(data) {
	  	showSpinner(false);
		alert("An invitation email has been sent to " + email_id);
	  }	
	});
  });
  // Delete participant
  $(".people_node").delegate(".people_delete", "click", function(){
    showSpinner(true);
    profile_id = $(this).attr("rel");
    course_id = $("#course_id_hdn").val();
    if($("#hdn_forum_id").val()!="" && $("#hdn_forum_id").val()!= undefined){
        course_id = $("#hdn_forum_id").val();
      }
    else{
         course_id = $("#course_id_hdn").val();
    }
    dataString = {course_id:course_id, profile_id:profile_id};
    if(profile_id) {
      $.ajax({  
        type: "POST",  
        url: "/course/delete_participant",  
        data: dataString,
        success: function(data) {
          if (data) {
            $("#"+profile_id).remove();
          } else {
            alert("ERROR");
          }
          showSpinner(false);
        }
      });
    }
  });
  
   $("#btn_task").click(function(data){
   var course_id=$("#course_id_hdn").val();
   var dataString = {course_id:course_id};
   showSpinner(true);
   $.ajax({  
        type: "GET",  
        url: "/task/view_task",  
        data: dataString,
        success: function(data) {
		      $("#container").html(data);
			    showSpinner(false);
        },
        error: function()
        {
          alert("An Error has occured");
          showSpinner(false);
        },
      }); 
    });
</script>