<div id="div_6" class="tab_content">
  <div class="frm_label small_label">
    Participants
  </div>
  <div class="frm_input">
    <input type="text" name="add_people_email[]" class="dd_select brown_bg medium" id="add_course_people" /> 
    <input type="button" name="btn_add_people" id="btn_add_people" value="Add" />
    <div class="frm_input" id="add_people_container">
    </div>
  </div>
  <div class="frm_label small_label">
    &nbsp;
  </div>
  <div id="course_people" class="frm_input">
    <% if @peoples %>
      <%= render :partial => "/course/participant_list", :locals => {:peoples=>@peoples, :mode=>"list"} %>
    <% end %>
  </div>
  <div id="course_participant_list" class="hide">
    <div style="width:40px;height:10px;float:right;padding:2px;">
      <a href="javascript:void(0)" onClick="javascript:$('#course_participant_list').hide();">Close</a>
    </div>
    <div id="course_participant_list_inner">
        Loading...
    </div>
  </div>
  <div class="clear"></div>
</div> 