<div class="message_container">
  <div class="avatar_thumb">
    <img src="https://s3.amazonaws.com/<%=@message.profile.school.vaults[0].folder%>/avatar_thumb/avatar_<%=@message.profile.id%>.jpg" />
  </div>
  <div class="message_content">
    <div id="content">
      <%=@message.profile.full_name%> <br />
      <%=@message.content%>
    </div>
    <div id="info">
      <div id="time">
        4 hours ago
      </div>
      <div id="links">
        <a class="sbmt_msg">Comment</a>
      </div>
    </div>
  </div>
</div>