<div class="badge_popup"> 
<div class="heading">PERMISSION REQUIRED</div>
  </br>
  <div>
     <div class="heading02" style="float:left;">You do not have permission to see <%=@course.name%>. Please consider joining the group.<strong></strong>
     </div>
  </div> 
  
</div>


<script type="text/javascript">

// Hide the card if clicked outside
$(document).click(function (e)
{
    var container = $("#permission");

    if (container.has(e.target).length === 0)
    {
        container.hide();
        $(document).unbind('click');
    }
});

</script>