// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input, .input_readonly {
  border: none;
}

.full_name {
  padding-top: 5px;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: #FFF;
  width: 300px;
  height: 80px;
  overflow: hidden;
}

.major {
  font-family: 'Metrophobic', sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFF;
}

.level_text {
  font-family: 'Metrophobic', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #007594;
}

.avatar_portal {
  position: absolute;
  left: 400px;
  top: 0px;
  width: 251px;
  height: 688px;
  background-color: #eee;
}

.avatar {
  position: absolute;
  width: 251px;
  height: 688px;
}

.avatar_stats {
  position: absolute;
  left: 20px;
  top: 20px;
}

.avatar_controls {
  position:absolute; 
  left: 395px; 
  top: 810px; 
  font-family:Arial, Helvetica, sans-serif; 
  color:#19546E;
  text-align: center;
  font-weight:bold; 
  width: 205px;
}

.wardrobe_options {
}

.wardrobe_categories {
}

.wardrobe_subcategories {
  position: absolute;
  left: 140px;
  top: 0px;
}

.wardrobe_item {
}

.wardrobe_categories > .wardrobe_item {
}

.wardrobe_subcategories > .wardrobe_item {
}

.selected {
  color: #fff;
}

.clickable {
  cursor: pointer;
}

.button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  background-color: #ddd;
}

.dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 960px;
  background-image: url(/images/ui/bg_640.jpg);
  background-repeat:no-repeat;
  visibility: hidden;
}

.dialog_contents {
  padding: 50px;
  color: white;
}