// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input, .input_readonly {
  border: none;
}

.full_name {
  padding-top: 5px;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: #FFF;
  width: 300px;
  height: 80px;
  overflow: hidden;
}

.major {
  font-family: 'Metrophobic', sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFF;
}

.level_text {
  font-family: 'Metrophobic', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #007594;
}

.avatar_portal {
  position: absolute;
  left: 400px;
  top: 0px;
  width: 251px;
  height: 688px;
  background-color: #eee;
}

.avatar {
  position: absolute;
  width: 251px;
  height: 688px;
}

.avatar_stats {
  position: absolute;
  left: 20px;
  top: 20px;
}

.avatar_controls {
  position:absolute; 
  left: 395px; 
  top: 780px; 
  font-family:Arial, Helvetica, sans-serif; 
  color:#19546E;
  text-align: center;
  font-weight:bold; 
  width: 205px;
}

.wardrobe_options {
}

.wardrobe_categories {
}

.wardrobe_subcategories {
  position: absolute;
  left: 0px;
  top: 0px;
  border:1px solid red;
}

#subcategory_wrapper {
  overflow:hidden;
  width:300px;
  height:529px;
  left:140px;
  margin-top:50px;
  margin-left:15px;
  position:absolute
}

#wardrobe_subcategories {
  position: absolute;
  z-index:-1;
}

#subcategory_scroll {
  float:left;
  height:528px;
  overflow:hidden;
  padding-left:3px;
}

#subcategory_container {
  float:left;
}

.wardrobe_item {
}

.wardrobe_categories > .wardrobe_item {
}

.wardrobe_subcategories > .wardrobe_item {
}

.selection_instructions {
  float: left;
  width: 150px;
  margin-left: 40px;
  margin-top: 50px;
  padding-top: 70px;
  text-transform:uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size:46px;
  text-align:center;
  color:#71B6CF;
}

.color_palette {
  position:absolute;
  width:270px;
  left:320px;
  top:600px;
  display:none;
}

.color_palette #color_palette_left_arrow {
  width:20px;
  float:left;
  padding-top:4px;
}

.color_palette  #head_color, #hair_color{
  width:300px;
  border:none;
  display:none
}

.color_palette #color_1, #color_2, #color_3, #color_4, #color_5 , #hair_color_1, #hair_color_2, #hair_color_3, #hair_color_4, #hair_color_5 {
  width:40px; 
  height:40px; 
  float:left; 
  border:2px solid #1D4D67; 
  margin-left:6px;
}

.color_palette #color_1 {
  background-color:#E5E4E2; 
}

.color_palette #color_2 {
  background-color:#D8C078; 
}

.color_palette #color_3 {
  background-color:#B28149; 
}

.color_palette #color_4 {
  background-color:#8D6331; 
}

.color_palette #color_5 {
  background-color:#553A1C; 
}

.color_palette #hair_color_1 {
  background-color:#96947B;
}

.color_palette #hair_color_2 {
  background-color:#A18B48;
}

.color_palette #hair_color_3 {
  background-color:#4E3422; 
}

.color_palette #hair_color_4 {
  background-color:#41240F; 
}

.color_palette #hair_color_5 {
  background-color:#000000; 
}

.clickable {
  cursor: pointer;
}

.button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  background-color: #ddd;
}

.dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 920px;
  background-image: url(/images/ui/bg_640.jpg);
  background-repeat:no-repeat;
  visibility: hidden;
}

.dialog_contents {
  padding: 50px;
  color: white;
}