body{
  font-family:Arial, Helvetica, sans-serif;
  background:url(../images/body_bg.png) repeat;
  height:100%;
  margin:0px;
  padding:0px;
}
.wrapper {
  width: 640px;
  height: 920px;
}
.wrapper .header {
  height: 143px;
  margin-top: 30px;
  margin-left: 30px;
}
.wrapper .level {
  background-image: url(/images/ui/levelbg.png);
  height: 240px;
  background-repeat: no-repeat;
  width: 138px;
  float: right;
  margin-top: -30px;
}
.wrapper .header .icon {
  float: left;
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  color: #007594;
  /* [disabled]background-image: url(/images/ui/levelbg.png); */
  background-repeat: no-repeat;
}
.wrapper .header .title {
  background-image: url(/images/ui/tibg.png);
  background-repeat: no-repeat;
  height: 117px;
  margin-left: 10px;

}
.wrapper .avat {
  margin-left: 0px;
  float: left;
  margin-top: -70px;
}
.wrapper .selections {
  width: 340px;
  float: left;
  height: 640px;
  padding-left: 30px;
  /* [disabled]background-color: #333; */
  color: #FFF;
}
.wrapper .selections .lev0 {
  background-color: #1D4D67;
  float: left;
  height: 529px;
  width: 128px;
  margin-top: 50px;
  -webkit-border-radius: 5px;
}
.wrapper .selections .indi {
  position: absolute;
  width: 50px;
  height: 40px;
  /*left: 162px;*/
  left:155px;
  /*top: 262px;*/
  /*display:none;*/
  top:265px;
}
.wrapper .selections .lev1 {
  float: left;
  background-color: #1D4D67;
  height: 529px;
  width: 128px;
  /*margin-left: 50px;
  margin-top: 50px;*/
  -webkit-border-radius: 5px;
}

.wrapper .selections .lev2{
  float: left;
  background-color: #1D4D67;
  height: 529px;
  width: 128px;
  margin-left: 270px;
  margin-top: 0px;
  -webkit-border-radius: 5px;
}

.wrapper .selections #uparr {
  width: 54px;
  height: 36px;
  position: absolute;
  background-image: url(/images/ui/uparr.png);
  /*left: 246px;*/
  left: 240px;
  /*top: 192px;*/
  top:195px;
  background-repeat: no-repeat;
}
.wrapper .selections #dwnarr {
  width: 58px;
  height: 33px;
  position: absolute;
  background-image: url(/images/ui/dwarr.png);
  background-repeat: no-repeat;
  /*left: 244px;*/
  left:240px;
  /*top: 766px;*/
  top:755px;
}
.wrapper .selections .lev0 .btn {
  width: 122px;
  height: 101px;
  margin: 4px auto;
  background-image: url(/images/ui/btnbg.png);
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}
.wrapper .selections .lev1 .btn {
  width: 122px;
  height: 101px;
  margin: 4px auto;
  background-image: url(/images/ui/btnbg.png);
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  /* [disabled]font-weight: bold; */
}
.wrapper .selections .lev2 .btn {
  width: 122px;
  height: 101px;
  margin: 4px auto;
  background-image: url(/images/ui/btnbg.png);
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}
.selected {
  color: #32748b;
}
.wrapper .selections .btn img {
  margin-left: 11px;
  margin-top: 15px;
  width: 60px;
  height: 60px;
}
.wrapper .bottom {
  height: 105px;
  margin-top: -5px;
  float: left;
  margin-left: 0px;
  width: 640px;
  background-image: url(/images/ui/bottombg.png);
  background-repeat: repeat-x;
}
.wrapper .bottom .botbtn {
  width: 105px;
  height: 105px;
  /* [disabled]padding: 5px; */
  border-right-width: medium;
  border-right-style: solid;
  border-right-color: #666;
  float: left;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.wrapper .bottom .botbtn img {
  margin-top: 10px;
  /* [disabled]margin: 4px auto; */
}
.wrapper .bottom .others {
  width: 95px;
  height: 105px;
  float: left;
  text-align: center;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.wrapper .bottom .others img {
  margin-top: 40px;
}

/*.signin {
  width: 640px;
  height: 920px;
  padding: 50px;
  font-family: 'Metrophobic', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
}

.signin h2  {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: #FFF;
}
*/
.majorlist h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: #FFF;
}
/*
.signin input[type="text"], input[type="email"], input[type="password"]{
  width: 520px;
  margin-bottom: 20px;
  border: none;
  background: #2d5e6b;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 30px;
  color: #FFF;
}

.signin input[type="submit"], input[type="button"] {
  width: 123px;
  height: 103px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background: transparent url(/images/ui/btnbg.png) no-repeat scroll top right;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
}

.signin a {
  color: #FFF;
}
*/
.uppercase {
  text-transform: uppercase;
}

.waiting {
  position: fixed;/*absolute*/
  top: 0px;
  left: 0px;
  width: 640px;
  height: 920px;
  text-align: center;
  padding-top: 420px;
  visibility: hidden;
}
.error_message{
  color: #BD6F49;
  background:url(../images/body_bg.png) repeat;
  padding: 30px 0;
  width: 84%;
  }
/*New CSS for new login page layout*/
body, div, table, tr, td, input, form, ul, li, dl, ol, b, strong, h1, h2, h3, h4, h5, h6, p, th, textarea, select, img, label {
	margin: 0;
	padding: 0;
	border:0px solid;
}

html{
	height:100%;
	 }

/*body{
	height:100%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#8690a0;
}*/

.txt_box{
	 border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    font-size: 16px;
    padding: 5px;
}

.clear{
	clear:both;
	height:0px;
	width:100%;
	font-size:0px;
	line-height:0px;
}

.clearfix:after {
  display: table;
  content: " ";
}

.Main_Wp{
  background:url(../images/body_bg.png) repeat;
	width: 1000px;
	height:auto;
	margin:0 auto;
  color:#FFFFFF;
  position: relative;
}

.Content_Wp h1, #feature_splash h2 {
  font-family:'CollegeRegular', Arial, Helvetica, sans-serif;
  color: white;
}

.clear {
  font-family:'AthleticRegular', Arial, Helvetica, sans-serif;
  color: white;
}

.Header_Wp{
	width:100%;
	height:80px;
/*  border-bottom:1px solid #f2f7fb;*/
}

.Logo_Wp{
	float:left;
	height:auto;
	width:167px;
	padding:16px 0 0 0;

}

.Panel_Left{
	float: left;
  min-height: 400px;
  width: 500px;
}
.Panel_Left_img{
  /*width :550px;
  height :400px;*/
}

.Panel_Rirght{
	float:right;
	width:40%;
	min-height:400px;
	padding:0px 5% 0 5%;
}

.left_content_box {
    float: left;
    margin: -20px 0 0 70px;
    text-align: center;
    /*padding:365px 0 0 0;*/
}
.left_content_box h1{
	font-size:21px;
	margin:15px 0;
	color:#000000;
}

.Let_Go{
	background:#3799e9;
	border:1px solid #2667a0;
	width:100px;
	border-radius:3px;
	color:#fff;
	text-align:center;
	padding:5px 0px;
	margin: 0 auto;
	cursor:pointer;
}

.Divider_15{
	height:15px;
	width:100%;
}

.Divider_70{
	height:70px;
	width:100%;
}

.Divider_90{
	height:90px;
	width:100%;
}

.Divider_10{
	height:10px;
	width:100%;
}


.creat_text{
	float: right;
  margin: -25px 10px;
  width: auto;
}

.sign_in_box{
	float:left;
	width:100%;
	color:#000;
}

.blue{
	color:#3080d8;
	font-weight:bold;
}

.check_box_wp{
	float:left;
	width:20px;
}

.check_box_text{
	float:left;
	width:auto;
}

.remember_wp{
	float:left;
	width:auto;
}

.sign_in_button_wp{
  float: right;
  margin-right: 10px;
}

.btn_submit{
	padding:0 20px;
	border:1px solid #a5d0f4;
	color:#247ad5;
	background:none;
	border-radius:2px;
	height:28px;
	cursor:pointer;
}
.btn_submit:hover{color:#2555ad;}

.creat_text a{
	color:#3f92df;
	font-size:14px;
	text-decoration:none;
}

.forgot_your_pass_wp{
	width:100%;
	height:auto;
  padding-top:10px;
}

.forgot_your_pass_wp a{
	color:#3f92df;
	font-size:14px;
	text-decoration:none;
}

.big_bluebtn {
  background:#5a95ad;
  width:90px;
  height:36px;
  display:block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#e2e4eb;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
}
.big_bluebtn:hover {
  background:#6aa5bd;
  cursor: pointer;
}
.long_btn {
  width: 180px;
  display: inline-block;
  border: 0;
}
.two_line_btn {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px !important;
}
#btn_wrapper_box {
  text-align: center;
  padding-right:10px;
  padding-top:10px;
}
#school_code_box, #evaluate_checkbox_box, #register_button, #reset_button, #error_pane {
  display: none;
}
.left {
  float: left;
  width: 380px;
}
#height_thing {
  height: 135px;
}

#feature_hero {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 27.5px;
  line-height: 50px;
  text-align: center;
  width: 410px;
  margin: 0 auto;
  padding: 50px 0 60px;
  color: #333b07;
}

#feature_splash {
  background: #93ad00;
  background: -webkit-linear-gradient(top, #93ad00, #687b00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #93ad00, #687b00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #93ad00, #687b00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #93ad00 , #687b00); /* Standard syntax */
  display: none;
}

#feature_splash h2 {
  font-size: 40px;
  text-shadow: 2px 5px black;
  padding-top: 10px;
}

#feature_splash p {
  font-size: 18px;
  color: #333b07;
  margin-top: 15px;
  width: 410px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 30px;
}

#feature_1, #feature_2, #feature_3, #feature_4, #feature_5 {
  height: 246px;
  margin-bottom: 38px;
  padding-left: 560px;
}

#feature_1 { background: url(/images/feature_1.jpg) top left no-repeat;}
#feature_2 { background: url(/images/feature_2.jpg) top left no-repeat;}
#feature_3 { background: url(/images/feature_3.jpg) top left no-repeat;}
#feature_4 { background: url(/images/feature_4.jpg) top left no-repeat;}
#feature_5 { background: url(/images/feature_5.jpg) top left no-repeat;}

.big_orangebtn {
  width: 255px;
  display: block;
  margin: 0 auto 38px;
  background-color: #eb8133;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  line-height: 82px;
}

#copyright {
  text-align: center;
  padding-bottom: 38px;
  font-size: 16px;
  color: #40432a;
}

#page_footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  line-height: 30px;
  width: 100%;
  padding-bottom: 38px;
}

#page_footer #version {
  float: left;
  color: #a5a0a0;
  font-size: 16px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#page_footer #learn_more {
  display: block;
  width: 140px;
  margin: 0 auto;
  text-decoration: none;
  color: #fdcb64;
  font-size: 16px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
}

#page_footer #learn_more span {
  float: left;
}

#page_footer #learn_more img {
  float: right;
}

#page_footer img {
  display: inline;
}

#version_box{
  position: absolute;
  top: 580px;
  left: -50px;
}
#existing_course_btn{
  width:189px;
  margin-right:3px;
}
#demo_course_btn{
  width:190px;
  margin-left:3px;
}
.contact_info{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: block;
}