body{
  margin:0px;
  padding:0px;
  font-family:'Metrophobic',sans-serif;
  color:#292827;
}
#wrapper {
  border:1px solid #A9A9A9;
  width:75%;
  margin:10px auto;
  height:650px;
}
#sidebar_left {
  width:12%;
  height:100%;
  float:left;
  border-right:1px solid #A9A9A9
}
#sidebar_menu_top {
  width:115px;
  margin:5px auto auto 2px;
  height:150px;
  padding-left:3px;
  /*border:1px solid*/
}
#sidebar_menu_middle {
  width:115px;
  margin:5px auto auto 2px;
  height:120px;
  /*border:1px solid*/
}
#sidebar_menu_bottom  {
  width:115px;
  margin:5px auto auto 3px;
  height:250px;
  /*border:1px solid*/
}
#root_level {
  width:110px;
  margin:5px auto auto 3px;
  height:125px;
  padding:132px 0 0 5px;
}
#crud_level {
  width:110px;
  margin:5px auto auto 3px;
  height:125px;
  padding:60px 0 0 5px;
}
#root_level input[type=button],  #crud_level input[type=button]{
  margin-top:10px;
}
#header {
  width:75%;
  border-top:1px solid #A9A9A9;
  border-bottom:1px solid #A9A9A9;
  margin-top:20px;
  height:80px;
  position:absolute;
  background:#fff
}
#avatar_thumb {
  float:left;
  width:65px;
  height:65px;
  border:1px solid #A9A9A9;
  margin:5px auto auto 25px;
}
#avatar_info {
  width:250px;
  height:60px;
  padding:3px;
  float:left;
  margin:5px auto auto 5px;
}
#avatar_name {
  width:170px;
  height:35px;
  float:left;
  font-size:20px;
}
#avatar_major { 
width:170px;
height:30px;
float:left;
}
#logout {
  width:60px;
  float:right;
  border:1px solid #A9A9A9;
  text-align:center;
  cursor:pointer;
}
#logout a {
  text-decoration:none;
  color:#292827;
}
#sidebar_container {
  width:125px;
  height:83%;
  margin:105px auto;
}
#container  {
  float:left;
  width:100%;
  padding-left:35px;
}
#wardrobe_fields{
  float:left;
  width:260px;
  margin:5px;
}
#wardrobe_icon{
  float:left;
  border:1px solid #A9A9A9;
  width:100px;
  height:70px;
  text-align:center;
  padding-top:30px;
  margin:25px 5px;
}
#wardrobe_image{
  float:left;
  border:1px solid #A9A9A9;
  width:300px;
  height:300px;
  margin:25px 5px;
}
.top_menu_item {
  float:left;
  width:20px;
  height:100px;
  border:1px solid #A9A9A9;
  margin:3px;
  cursor:pointer;
}
.middle_menu_item {
  float:right;
  width:20px;
  height:100px;
  border:1px solid #A9A9A9;
  margin:3px;
  cursor:pointer;
  text-align:center;
}
.content_wrapper {
  width:700px;
  margin:60px auto;
  padding:20px;
  border:1px solid #A9A9A9;
  height:480px;
}
.menu_container {
  width:600px;
  margin:auto;
  float:left;
}
.menu_container ul {
  padding-left:5px;
}
.menu_container ul li {
  display:inline;
  padding:20px;
}
.menu_container ul li  .active{
  font-weight:bold;
  text-decoration:none;
  color: #292827;
}
.menu_container ul li  a{
  color: #292827;
}

.content_container {
  width:700px;
  float:left;
  height:380px;
  overflow:auto;
}
.form_container {
  width:670px;
  margin:auto;
  float:left;
  padding-top:25px;
}
.form_container label {
  font-weight:bold;
  font-size:20px;
}
.show {
  display:block;
}
.hide {
  display:none;
}
div .frm_label {
  float:left;
  width:190px;
  padding:5px 0 0 10px; 
  font-weight:bold;
  font-size:20px;
  margin-top:20px;
}
div .small_label {
  width:168px !important;
}
div .frm_input {
  float:left;
  width:400px;
  margin-top:20px;
}
div .frm_button{
  position:absolute;
  right: 200px;
  width:120px;
  margin:400px 25px 0 0;
  text-align:right;
}
div .left_button {
  widht:200px;
  float:left;
  margin:20px 0 0 12px;
}
div .level_radio {
  width:20px;
  float:left;
}
div .level_label {
  margin:6px 0 0 5px;
  width:auto;
  padding-right:10px;
  float:left
}
input {
  border:1px solid #A9A9A9;
  height:30px;
  font-size:20px;
  font-family:'Metrophobic',sans-serif;
}
.large {
  width:400px !important;
}
.medium {
  width:300px;
}
.small {
  width:50px;
}
.node {
  font-style:italic;
}
.big_btn {
  width:140px !important;
}
textarea {
  border:1px solid #A9A9A9;
  width:400px;
}
select {
  border:1px solid #A9A9A9;
  width:250px;
  height:30px;
}
input[type=button] {
  cursor:pointer;
  width:100px;
}
input[type=file] {
  border:none;
}
table .tbl_header {
  background-color:#A9A9A9;
  color:#fff;
  padding:2px;
}

table .even {
  background-color:#fff;
}
table .odd {
  background-color:#EDEDED;
}

.odd td, .even td {
  padding-left:10px;
}