a {
  text-decoration:none;
  color:#fff;
  font-family;Arial, Helvetica, sans-serif;
}
body{
  margin:0px;
  padding:0px;
  font-family:'Metrophobic',sans-serif;
  color:#292827;
}
form {margin:0px;padding:0px;}
#crud_level {
  width:110px;
  margin:300px auto auto 0px;
  height:125px;
  float:right;
  /*padding:60px 0 0 5px;*/
}

#search_options {
  width:232px;
  float:right;
  margin-right:8px;
  margin-top:2px;
  border:1px solid #65781E;
  background:#90AC24;
  color:#434F14;
  font-size:14px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
}
#search_options  li{
  padding-left:10px !important;
}
#clear_search {
  width:10px;
  position:absolute;
  z-index:2;
  right:65px;
  margin-top:3px;
  font-weight:bold;
  cursor:pointer;
}

#wardrobe_fields{
  float:left;
  width:260px;
  margin:5px;
}
#wardrobe_icon{
  float:left;
  border:1px solid #A9A9A9;
  width:100px;
  height:100px;
  margin:25px 5px;
}
#icon_progress{
  margin:5px auto;
  width:60px;
  height:60px;
  text-align:center;
}
#icon_progress img{
  width:60px;
  height:60px;
}
#wardrobe_image{
  float:left;
  border:1px solid #A9A9A9;
  width:241px;
  height:660px;
  margin:25px 5px;
}
#image_progress{
  margin:5px auto;
  width:241px;
  height:660px;
  text-align:center;
}
#image_progress img{
  width:241px;
  height:660px;
}
#head_items {
  width:700px;
  float:left;
  margin-left:25px;
}
#head_left {
  width:300px;
  float:left;
}
#head_right {
  width:350px;
  float:right;
  text-align:right
}
#upload_header {
  background:#A9A9A9;
  color:#fff;
  font-size:18px;
  text-align:center;
  padding-top:5px;
  height:30px;
}
#resource_container {
  width:150px;
  margin:20px 10px;
  float:left;
  height:180px;
  overflow:hidden;
}
#resource_container ul {
  margin:0px;
  padding:0px;
}
#resource_container ul li{
  list-style:none;
  line-height:30px;
}
#resource_container ul li .file_name {
  width:100px;
  font-size:12px;
  float:left;
}
#resource_container ul li .file_remove{
  width:20px;
  font-size:10px;
  float:left;
}

.waiting {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 800px;
  text-align: center;
  visibility: hidden;
  padding-top:280px;
  z-index:9001;
}
.marked_item {
  background-color:#A9A9A9;
  color:#fff
}
.top_menu_item {
  float:left;
  width:90px;
  height:20px;
  border:1px solid #A9A9A9;
  margin:1px 0px;
  cursor:pointer;
  font-size:14px;
  text-align:center;
}
.middle_menu_item {
  float:right;
  width:20px;
  height:100px;
  border:1px solid #A9A9A9;
  margin:3px;
  cursor:pointer;
  text-align:center;
}
.content_wrapper {
  float:left;
  width:700px;
  margin:0px auto auto 10px;
  padding-top:0px;
  border:1px solid #A9A9A9;
  border-bottom:none;
  height:auto;
  background:#fff;
}
/*
.menu_container {
  width:100px;
  position:absolute;
  right:185px;
  margin-top:20px;
}
.menu_container ul {
  padding-left:0px;
}
.menu_container ul li {
  list-style:none;
  padding:10px 5px;
}
.menu_container ul li  .active{
  font-weight:bold;
  text-decoration:none;
  color: #292827;
}

.menu_container div {
  float:left;
  width:70px;
  border:1px solid #A9A9A9;
  font-size:14px;
  padding:5px;
  margin-top:5px;
}

.menu_container div  a{
  color: #292827;
  text-decoration:none;
}
*/
.screen_title { 
  height:40px;
  font-size:20px;
  padding:5px 0 0 20px;
}
.content_container {
  width:710px;
  float:left;
  height:auto;
  overflow:auto;
}
.form_container {
  width:670px;
  margin:auto;
  float:left;
  padding-top:25px;
  padding-:25px;
}
.form_container label {
  font-weight:bold;
  font-size:20px;
}
.left_form_container {
  float:left;
  width:150px;
  height:50px;
}
.right_form_container{
  float:left;
  width:420px;
}
.right_form_container #course_category{
  width:420px;
  background:#D4D6D7;
  padding:5px 5px 10px 5px;
  float:left
}
#course_dropdown, #category_dropdown {
  float:left;
  width:210px;
}
#participant_list {
  border:1px solid #A9A9A9;
  width:500px;
  height:400px;
  overflow:auto;
  position:absolute;
  margin-left:10px;
  background:#fff;padding:10px;
}
.thumbnail_large {
  float:left;
  width:125px;
  height:125px;
  border: 1px solid #A9A9A9;
  margin-left:10px;
}
.thumbnail_large img{
  width:125px;
  height:125px;
}
.row_container {
  float:left;
  width:205px;
  margin:5px;
  border:1px solid #A9A9A9;
  padding:5px;
  min-height:200px;
}
.row_container , #search_options  li{
  list-style:none;
  padding:3px;
  cursor:pointer;
}
.row_container  li:hover, #search_options  li:hover{
  background-color:#65781E;
  color:#90AC24;
}
.show {
  display:block;
}
.hide {
  display:none;
}
div .frm_block {
  clear: both;
  margin:20px 20px 50px 20px;
}
div .frm_label {
  float:left;
  width:200px;
}
div .frm_caption {
  font-size:12px;
  font-weight:normal;
}
div .small_label {
  width:168px !important;
}
div .frm_input {
  float:left;
  width:415px;
}
div .frm_button{
  position:absolute;
  right: 310px;
  top:620px;
  width:120px;
  /*margin:0 25px 0 0;*/
  text-align:right;
}
div .left_button {
  widht:200px;
  float:left;
  margin:20px 0 0 12px;
}
div .level_radio {
  width:20px;
  float:left;
}
div .level_label {
  margin:6px 0 0 5px;
  width:auto;
  padding-right:10px;
  float:left
}
.large {
  width:400px !important;
}
/*.medium {
  width:300px;
}*/
.upper {
  text-transform:uppercase;
}
.small {
  width:50px;
}
.node {
  font-style:italic;
}
.big_btn {
  width:140px !important;
}
select {
  border:1px solid #A9A9A9;
  width:160px;
  height:25px;
  font-size:15px;
  font-family:'Metrophobic',sans-serif;
  padding:2px;
}
input[type=button] {
  cursor:pointer;
  width:100px;
}
.small_btn{
  width:65px !important;
}
input[type=file] {
  border:none;
}


.people_name {
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  width:200px;
  color:#fff;
  float:left;
}
table .tbl_header {
  background:url(/images/border_dashed.png) repeat-x bottom !important;
  padding-bottom:10px;
  text-align:left;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
  height:30px;
}
th .tbl_header {
  padding:10px;
}
.even td a ,.odd td a{
   color:#000000;
}
/*.even {
  background-color:#fff;
}
.odd {
  background-color:#EDEDED;
}*/

.odd td, .even td {
  padding-left:10px;
}
.highlight {
  background-color:yellow;
}

table.blackboard_list {
  width:100%;
}
table.blackboard_list th {
  padding:10px;
  font-weight:strong;
  text-align:left;
}
table.blackboard_list td {
  padding:10px;
  vertical-align:middle;
}
table.blackboard_list tr {
	color:#fff;
  background:url(/images/border_dashed.png) repeat-x bottom !important;
	cursor:pointer;
}

.page_block {
  float:left;
  width:100%;
  margin:10px;
  clear:both;
  /*min-width:750px;*/
}
.page_block_left {
  float:left;
  width:200px;
  margin-left:5px;
}
.page_block_right {
  float:left;
  margin-left:20px;
  min-width:500px;
  min-height:50px;
}

.message_input {
  position:absolute;
  border:5px solid #A9A9A9;
  width:370px;
  height:200px;
  z-index:10;
  top:40%;
  left:36%;
  background:#fff;
  padding:10px;
}
.message_container {
  float:left;
  width:420px;
  height:auto;
  padding:5px;
}
.message_container .avatar_thumb {
  width:70px;
  height:70px;
  border:2px solid #A9A9A9;
  float:left;
}
.message_container .avatar_thumb img {
  margin:-8px 0 0 -10px;
  width:85px;
  height:75px;
}
.message_content {
  width:300px;
  height:65px;
  float:left;
  margin-left:10px;
  font-size:12px;
  border:1px solid #A9A9A9;
  padding:5px;
}
.message_content #content {
  width:300px;
  min-height:50px;
  float:left;
}
.message_content #info {
  width:300px;
  height:15px;
  float:left;
}
.message_content #info #time {
  float:left;
  width:150px;
}
.message_content #info #links {
  float:right;
  width:140px;
  text-align:right;
}
.profile {
  cursor:pointer;
}
.avatar_big, .avatar_medium {
  border:#eaebeb 5px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: url(../images/avatar_bg.jpg) no-repeat center;
  -moz-box-shadow: inset 0px 0px 2px 1px #000000;
  -webkit-box-shadow: inset 0px 0px 2px 1px #000000;
  box-shadow: inset 0px 0px 2px 1px #000000;
  width: 70px;
  height: 70px;
  vertical-align:middle;
  display: block;
}
.avatar_medium {
  border:#eaebeb 5px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}

img.image_icon_drop_target {
  position:absolute;
  left:0px;
  top:0px;
}
/* Avatar card
.avatar_card{position:absolute;right:340px;top:170px;}*/

.msg_txt {
  width:215px; 
  padding:5px;
  background-color:#ccc;
  color:#244B6B;
  margin:10px 0 10px 0;
}

.comment_input textarea {
  background:#B9D48F;
  width:310px;
  color:#4A4A48;
}

.note_btn,.msg_btn,.root_btn {width:225px;text-align:right;}