 body {
    background-image: url(../images/Layer29.png); 
    margin: 0;
    padding: 0;
  }

   #Stripes 
  { 
  background-image: url(../images/Stripes.png);
  width: 1024px;
  height: 146px;
  float: left;
  }

  #section_one
  {
    width: 1024px;
    height: 350px;
    float: left;
  }   
  #section_two
  {
   width: 1024px;
   height: 250px;
   float: left;
  }
 #Stripes_0 
  { 
   background-image: url(../images/Stripes_0.png); 
   
   width: 1024px;
   height: 240px;
   float: left ;
  } 
 .Layer30 
{ 
   left: 135px; 
   top: 50px; 
   position: absolute; 
   width: 300px;
   height: 300px;
   z-index:35;
} 

 .Shape46 
{  
 width: 230px;
 height: 66px;
 position: absolute;
 top: 230px;
 left: 56px;
} 

 .Download 
{ 
 
 left: 75px; 
 top: 250px; 
 position: relative; 
 width: 108px;
 height: 19px;
 z-index:37;
} 

 .Rectangle3 
{ 

 left: 65px; 
 top: 250px; 
 position: relative; 
 width: 27px;
 height: 23px;
 z-index:38;
} 

 .Rectangle4 
{ 
  
   left: 47px; 
   top: 241px; 
   position: relative; 
   width: 4px;
   height: 19px;
   z-index:39;
} 

 .Shape47 
{ 
  left: 93px; 
  top: 250px; 
  position: relative; 
  width: 18px;
  height: 11px;
  z-index:40;
} 


 #DownloadInstructions 

{
     background-image: url(../images/DownloadInstructions.png); 
     left: 105px; 
     top: 426px; 
     position: absolute; 
     width: 167px;
     height: 15px;
     z-index:41;
} 


 .Shape46_0 
{ 
     width: 242px;
     height: 69px;
     margin-top: 30px;
     position: absolute;
    /* z-index:44;*/
} 

 .Achievements 
{ 
    width: 154px;
    height: 19px;
    position: relative;
    top: 45px;
    left: 10px;
} 

 .VectorSmartObject 
{ 
  
   width: 30px;
   height: 33px;
   position: relative;
   top: 45px;
   left: 10px;
} 

 #Rectangle6 
{   
    background-image: url(../images/Rectangle6.png);
     width: 1024px;
     height: 200px;
} 

 .Polygon2 
{ 
 left: 200px; 
 top: 963px; 
 position: absolute; 
 width: 37px;
 height: 26px;
 z-index:48;
} 

 .LeaderBoard 
{ 
 top: 20px;
 left: 77px;  
 position: relative; 
 width: 144px;
 height: 18px;
} 

 #Avatar 
{ 
     background-image: url(../images/Avatar.png);
     left: 109px; 
     top: 1089px; 
     position: absolute; 
     width: 56px;
     height: 52px;
     z-index:51;
} 

 #Rectangle6 
{   
    background-image: url(../images/Rectangle6.png);
     width: 1024px;
     height: 200px;
} 

 #Shape8 
{ 
    background-image: url(../images/Shape8.png); 
     right: 46px; 
     top: -16px; 
     position: absolute; 
     width: 117px;
     height: 224px;
     z-index:67;
} 

 #VectorSmartObject_0 
{ 
    background-image: url(../images/VectorSmartObject_0.png);
     right: 73px; 
     top: 46px; 
     position: absolute; 
     width: 65px;
     height: 62px;
     z-index:68;
} 

#thumbs
  {
    margin-top: 27px;
    margin-left: 40px;
  }

.imgg{
   vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.imaa{
  width: 185px;
  height: 150px;
} 
.screenshot
{
  margin-left: 20px;
} 

.slider_image
 {
  display: inline-block;
 }
 .image_slider
 {
  margin-top: 85px;
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
 }

.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}

.text-info{
  /*font-family: 'Oswald', sans-serif*/;
}

.game_detail{
  margin-top: 100px;
}

.game_name{
  color: #FFA500;
  
}
.game_desc,.learning_text{
  color: #9cbbbb;
  font-family: '-moz-fixed';
  font-weight: 400;
  font-style: normal;
}
.show_page{
  position: relative;
}
