body{
  margin:0px;
  padding:0px;
  font-family:'Metrophobic',sans-serif;
  color:#292827;
}
.wrapper {
  width:620px;
  margin:50px auto;
  padding:20px;
  border:1px solid #A9A9A9;
  height:450px;
}
.menu_container {
  width:600px;
  margin:auto;
  float:left;
}
.menu_container ul {
  padding-left:5px;
}
.menu_container ul li {
  display:inline;
  padding:20px;
}
.menu_container ul li  .active{
  font-weight:bold;
  text-decoration:none;
  color: #292827;
}
.menu_container ul li  a{
  color: #292827;
}

.content_container {
  float:left;
  height:350px;
  overflow:auto;
}
.form_container {
  width:630px;
  margin:auto;
  float:left;
  padding-top:25px;
}
.form_container label {
  font-weight:bold;
  font-size:20px;
}
.show {
  display:block;
}
.hide {
  display:none;
}
div .frm_label {
  float:left;
  width:190px;
  padding:5px 0 0 10px; 
  font-weight:bold;
  font-size:20px;
  margin-top:20px;
}
div .small_label {
  width:168px !important;
}
div .frm_input {
  float:left;
  width:400px;
  margin-top:20px;
}
div .frm_button{
  position:absolute;
  right: 360px;
  width:120px;
  margin:370px 25px 0 0;
  text-align:right;
}
div .level_radio {
  width:20px;
  float:left;
}
div .level_label {
  margin:6px 0 0 5px;
  width:auto;
  padding-right:10px;
  float:left
}
input {
  border:1px solid #A9A9A9;
  height:30px;
  font-size:20px;
  font-family:'Metrophobic',sans-serif;
}
.large {
  width:400px !important;
}
.medium {
  width:300px;
}
.small {
  width:50px;
}
textarea {
  border:1px solid #A9A9A9;
  width:400px;
}
select {
  border:1px solid #A9A9A9;
  width:250px;
  height:30px;
}
input[type=button] {
  cursor:pointer;
  width:100px;
}
input[type=file] {
  border:none;
}