<div> 
  <h3>This email is not registered<h3></br>
  <div> Do you want sent email on <%=search_text%></div>
   <div> </br>
      <input type="button" name="btn_send_email" id="btn_send_email" value="Send" />
      <input type="button" name="btn_cancel" id="btn_cancel" value="Cancel" />
  </div>
</div>