<!-- #################################################### -->
<div id ="forum-data">
    <!-- Forum data will be placed over here -->
</div>
<!-- #################################################### -->

<!-- GameCenter Top -->
<div style="position:relative;" class='top-scale'>
  <div style="position:absolute; width:100%;">
    <div class="pr120">
      <div class="leader_pad_top container_tipshelp"> 
        <div class="tops_row">
          <div class="leftimg panel"></div>
          <div class="centerimg panel"></div>
          <div class="rightimg panel"></div>
        </div>
      </div>
    </div>
  </div>
</div>
                  
<!-- GameCenter -->
<div class="leader_content">
  <div class="leader_board_left">
    <div class="leader_board_right">
      <div class="leader_board_center main_div_height">
        <div class="leader_pad_top"></div>
        <div class="leader_pad">
          <!-- sub category tabs -->
          <div class="leader_tabs hide" align="right" id="leader_tabs">
            <a href="javascript:void(0)" class="side_tab side_tab_open id_link" id="game_main" filter="active"><span class="task_tab">Main</span></a>
            <a href="javascript:void(0)" class="side_tab side_tab_close id_link" id="download_page" filter="download"><span class="task_tab">Download</span></a>
            <a href="javascript:void(0)" class="side_tab side_tab_close badges-tab id_link hide" id="all_badges" filter="all_badges"><span class="task_tab">Rewards</span></a>
            <a href="javascript:void(0)" class="side_tab side_tab_close badges-tab id_link" id="game_stats" filter="game_stats"><span class="task_tab">My Stats</span></a>
            <a href="javascript:void(0)" class="side_tab side_tab_close id_link" id="leaderboard" filter="leaderboard"><span class="task_tab">Leader Board</span></a>
          </div>
          <!-- sub category tabs -->
          <!-- Main Category tabs -->
          <div class="leader_tabs" align="right" id="student_leader_tabs">
            <a href="javascript:void(0)" class="side_tab side_tab_open" data-tab-type="my_games" filter="active"><span class="task_tab">My Games</span></a>            
            <a href="javascript:void(0)" class="side_tab side_tab_close" filter="gameboard"><span class="task_tab">All Games</span></a>
          </div>
          <!-- Main Category tabs -->
        
          <!-- NEW BOX START HERE -->
          <div class="leader_TabCSS">
            <div class="steel_pin"><img src="/images/pin_steel.png" /></div>
            <div class="leader_topselect">
              <div class="clear"></div>
            </div>

            <div id="rows" class="LB_table">
              <!-- Data rows goes here -->
            </div>
            
          </div>

          <div class="end_of_page"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- side context buttons -->
<div id="sidebar_right">
  <div id="course_side_buttons" class="course_side_buttons">    
    <%if !student?%>
    <a class="big_blue_btn" name="menu_btn_add_game" href="javascript:void(0)" id="add_game">ADD GAME</a>
    <% end %>
  </div><!-- crud_level -->
</div>

<!-- <span class="default-listing-page"></span> -->

<script type="text/javascript">
<!--

$(document).ready(function(){

  setPageTitle("GameCenter");
  jStorage.flush();
  getRows();

  // Handler for side-tabs
  $(".side_tab").unbind('click').bind('click', function(){
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");
    getRows();
  });
  
  $("#add_game").unbind('click').bind('click', function(){
  	showSpinner(true);
  	var filter = $(".side_tab_open:first").attr("filter");
  	
  	$.ajax({
  		type: "GET",
  		url: "/gamecenter/add_game",
  		data: {filter:filter, show:"add_game"},
  		success: function(data) {
        $("#forum-data").html('');
       	$("#rows").html(data);
       	showSpinner(false);
     }
  	});
  });

  $("#game_main").unbind('click').bind('click', function(){
    showSpinner(true);
    var filter = $(".side_tab_open:first").attr("filter");
    var gameId = $(this).attr('game-id')
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");

    $.ajax({

      type: "GET",
      url: "/gamecenter/view_game?id="+gameId,
      data: {filter:filter, show:"download"},
      success: function(data) {
        $("#forum-data").html('');
        $("#rows").html(data);
        showSpinner(false);
      }
    });  
  });
  
  $("#download_page").unbind('click').bind('click', function(){
    showSpinner(true);
    var filter = $(".side_tab_open:first").attr("filter");
    var gameId = $(this).attr('game-id')
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");

    $.ajax({

      type: "GET",
      url: "/gamecenter/download?game_id="+gameId,
      data: {filter:filter, show:"download"},
      success: function(data) {
        $("#forum-data").html('');
        $("#rows").html(data);
        showSpinner(false);
      }
    });  
  });

  $("#all_badges").unbind('click').bind('click', function(){
    showSpinner(true);
    var gameId = $(this).attr('game-id')
    var myGame = $(this).attr('my-game');
    var filter = $(".side_tab_open:first").attr("filter");
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");
    $.ajax({

      type: "GET",
      url: "/gamecenter/all_badges?game_id="+gameId+"&my_game="+myGame,
      data: {filter:filter, show:"all_badges"},
      success: function(data) {
        $("#forum-data").html('');
        $("#rows").html(data);
        showSpinner(false);
      }
    });  
  });

  $("#game_stats").unbind('click').bind('click', function(){
    showSpinner(true);
    var gameId = $(this).attr('game-id')
    var myGame = $(this).attr('my-game');
    var filter = $(".side_tab_open:first").attr("filter");
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");
    $.ajax({

      type: "GET",
      url: "/gamecenter/view_game_stats?game_id="+gameId+"&my_game="+myGame,
      data: {filter:filter, show:"all_badges"},
      success: function(data) {
        $("#forum-data").html('');
        $("#rows").html(data);
        showSpinner(false);
      }
    });  
  });
  
  $("#achivements").unbind('click').bind('click', function(){
    showSpinner(true);
    var gameId = $(this).attr('game-id')
    var myGame = $(this).attr('my-game');
    var filter = $(".side_tab_open:first").attr("filter");
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");
    $.ajax({

      type: "GET",
      url: "/gamecenter/achivements?game_id="+gameId+"&my_game="+myGame,
      data: {filter:filter, show:"achivements"},
      success: function(data) {
        $("#forum-data").html('');
        $("#rows").html(data);
        showSpinner(false);
      }
    });  
  });

  $("#leaderboard").unbind('click').bind('click', function(){
    showSpinner(true);
    var gameId = $(this).attr('game-id')
    var filter = $(".side_tab_open:first").attr("filter");
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    $(this).addClass("side_tab_open").removeClass("side_tab_close");
    $.ajax({

      type: "GET",
      url: "/gamecenter/leaderboard?game_id="+gameId,
      data: {filter:filter, show:"leaderboard"},
      success: function(data) {
        $("#forum-data").html('');
        $("#rows").html(data);
        showSpinner(false);
      }
    });  
  });
  
});

function enableOwnerMode() {
  $('#all_badges').removeClass('hide');
}

function bindMenuButtons(id) {
  $('.id_link').attr('game-id', id);
  
  $("#btn_view_forums").unbind('click').bind('click', function(){    
    showSpinner(true);
    $(this).addClass('hide');
    var gameId = $(this).attr('game-id');
    var myGame = $(this).attr('my-game');  // Did I create this game?
    if(myGame == 'true'){
      var currentTab = 'my_games'      
    }
    var filter = $(".side_tab_open:first").attr("filter");
    $.ajax({

      type: "GET",
      url: "/gamecenter/support?game_id="+gameId,
      data: {filter:filter, show:"support"},
      success: function(data) {
        $('.leader_content').hide()
        $('.top-scale').hide()
        $("#forum-data").show();
        $("#forum-data").html(data);
        $("#rows").html('');
        gameViewUrl="/gamecenter/edit_game?id="+gameId+"&current_tab="+currentTab,
        $(".side_game_open:first").attr('game-view-url', gameViewUrl);
        showSpinner(false);
      }
    });  
  });

}

// Retrieve tasks based on the current filters
function getRows() {
  showSpinner(true);
  var filter = $(".side_tab_open:first").attr("filter");  
  var gameIdUrl = $(".side_tab_open:first").attr('game-view-url');
  var gameTabUrl = $(".side_game_open:first").attr('game-view-url');
  var myGame = $(".side_game_open:first").attr('my-game');

  if(myGame == 'true'){
    currentTab = 'my_games'
  }
  // alert(gameTabUrl)

  // dataTabType = $(".side_tab_open:first").attr("data-tab-type")

  // if(dataTabType !== undefined){
  //   dataTabType = true
  // }
  // else{
  //   dataTabType = false
  // }

  if(gameIdUrl == undefined){
    $.ajax({
      type: "GET",  
      url: "/gamecenter/get_rows",
      data: {filter:filter},
      success: function(data) {
        $("#forum-data").html('');
        $("#rows").html(data);
        showSpinner(false);
      }
    });    
  }
  else{    
    $.ajax({
      type: "GET",  
      url: gameIdUrl,  
      data: {filter:filter, current_tab: currentTab},
      success: function(data) {
        $("#forum-data").html('');
        $("#rows").html(data);
        showSpinner(false);
      }
    });    
  }
}
//-->
</script>