
<div class="message_warning_box ">
  <div class="heading">Warning</div>
    <div class="clear"></div>
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
     <div >
     Are you sure to delete this Setting?
    </div>
    <div class="spacebar10px"></div>
  <div align="right">
     <a class="smaller_text big_blue_btn  inlineblock" id = "dont_delete_btn" href="javascript:void(0)">DON'T DELETE</a>
    <a class="big_orange_btn  inlineblock clr_red" id="reward_delete_btn" href="javascript:void(0)" rel ="" >DELETE</a> 
  
  </div>
</div>

<script type="text/javascript">
<!--
 $("#dont_delete_btn").click(function(){
    $("#reward_warning_box").hide();
    /*$("#create_new_setting").removeClass("hide");*/
  });
  
 $("#reward_delete_btn").click(function(){
    showSpinner(true);
      id = $(this).attr("rel");
       $.ajax({
        type:"POST",
        data:{id:id},
        url:"/setting/delete/",
        dataType:"json",
        success:function(resp){
           if (resp.status==true){
            $("#s_"+id).fadeOut(1000);
            showSpinner(false);
            $("#reward_warning_box").hide();
            /*$("#container").load('/setting/', function(){
              showSpinner(false);
            });*/
          }
          else {
             showSpinner(false);
             alert("Error");
          }
        }
      });
  }); 
//-->
</script>