<div class="add_task_popup">
  <div class="heading">New Task</div>
  <div class="boxadnt"> <span class="heading02">Task Name</span>
    <div class="heading02_field">
      <div class="dd_bg brown_bg02">
        <input type ="text" class = "dd_input brown_bg02" id ="new_task" value="">
      </div>
    </div>
    <div class="clear"></div>
    <div class="spacebar10px"></div>
    <div>
    <div >Outcomes</div>
      <div class="spacebar10px"></div>
      <% if !@outcomes_course.nil? %>
       <% @outcomes_course.each do |outcomes| %>
        <div id="task_outcomes_<%=outcomes.id%>" class="">
          <span class="custom-checkbox">
          <input type="checkbox" name="chk_outcomes[]" checked="true" id="<%=outcomes.id%>"  value="<%=outcomes.id%>" <%if outcomes.shared == true%>disabled="disabled"<%end%> />
          <span class="box"><span class="tick"></span></span> </span><span class="rfw"><%= outcomes.name %></span>
          <div class="spacebar10px"></div>
        </div>
       <% end %>  
      <% end %>
    </div>  
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
  </div>
  <div align="right">
  <a class="big_blue_btn inlineblock" id = "dont_add_btn" href="javascript:void(0)">Don't add</a> <a class="big_orange_btn inlineblock clr_red" id = "add_btn" href="javascript:void(0)">add task</a></div>
</div>


<script type="text/javascript">
<!--
  $($('input[name="chk_outcomes[]"]')).each(function(){
    if(this.checked) {
      setStorage("task_outcomes_"+$(this).attr('id'), $(this).val());
    } else {
      deleteStorage("task_outcomes_"+$(this).attr('id'));
    }
  });

//-->
</script>