<div class="confirm_box_width warningbox ">
  <div class="heading">Finalize Grading</div>
    <div class="clear"></div>
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
    <p >Have you finished grading all tasks for the semester in your grade book? This will assign your students any remaining experience points (XP) and award gold medals for course outcomes.</p>
    
    <div class="spacebar10px"></div>
  <div align="right">
  <a class="big_blue_btn smaller_text inlineblock" id = "btn_not_done" href="javascript:void(0)">Not Done</a>
  <a class="smaller_text big_blue_btn inlineblock clr_reds" id = "btn_done_grading" href="javascript:void(0)">Done Grading</a> 
  </div>
</div>

<script type="text/javascript">
 $(function(){
    $("#btn_not_done").click(function(){
      $("#finalize_div").hide();
    });
    
    $("#btn_done_grading").click(function(){
      var course_id = $("#course_id").val(),
          channel_name = 'course-finalize-<%= current_user.id %>',
          pusher = new Pusher('<%= Pusher.key %>'),
          channel = pusher.subscribe(channel_name);
      console.log(channel_name);
      channel.bind('complete', function(data) {
        showSpinner(false);
        $("#finalize_div").hide();
      });

      showSpinner(true);
      $.ajax({  
        type: "POST",  
        url: "/grade_book/grading_complete",
        dataType: "json",
        data: { id: course_id },
        success: function(data) {
          $('#finalize_div p').html('<%= @latest_course.name %> is being finalized. This could take several minutes.  Have a cup of joe.');
          $('#finalize_div .big_blue_btn').hide();
        }
      }); 
    });
  });  
</script>