<div class="middle_main_div">
<div class="Main_content">
<div class="task_side_buttons"> <a href="#" class="big_blue_btn">ATTACH</a> <a href="#" class="big_orange_btn">POST</a> <a href="#" class="big_blue_btn">PRINT</a> </div>
<!-- notepad start-->
<div class="gradebook_content">
  <div class="gradebook_board_left">
    <div class="gradebook_board_right">
      <div class="gradebook_board_center">
        <div class="gradebook_partribbon">
          <div class="GDingbox" >
            <div class="GDingbox_botright" >
              <div class="GDingbox_botcenter" >
                <div class="GDingbox_botleft" >
                  <div class="GDingbox_heading" >GRADE PALLETE</div>
                  <div class="GDingbox_botcontainer" >
                    <div class="GDingboxinner_grade" >
                      <div align="center">GRADES</div>
                      <div class="fontsize0px">
                        <input name="" type="button" value="a" class="grading_Btn" />
                        <input name="" type="button" value="b" class="grading_Btn" />
                        <input name="" type="button" value="c" class="grading_Btn" />
                        <input name="" type="button" value="d" class="grading_Btn" />
                        <input name="" type="button" value="f" class="grading_Btn" />
                      </div>
                    </div>
                    <div class="GDingboxinner_plusminus" >
                      <div align="center">&nbsp;</div>
                      <div class="fontsize0px">
                        <input name="" type="image" src="/images/grade_plus.png" class="grading_Btn2" />
                        <input name="" src="/images/grade_minus.png" type="image"  class="grading_Btn2" />
                      </div>
                    </div>
                    <div class="GDingboxinner_outcome" >
                      <div align="center">OUTCOMES</div>
                      <div class="fontsize0px">
                        <input name="" type="button" value="1" class="grading_Btn Gbtn1" />
                        <input name="" type="button" value="2" class="grading_Btn Gbtn2" />
                        <input name="" type="button" value="3" class="grading_Btn Gbtn3" />
                      </div>
                    </div>
                    <div class="GDingboxinner_latest" >
                      <div align="center">LATEST</div>
                      <div class="fontsize0px">
                        <input name="" src="/images/grade_latestbt.png" type="image" class="grading_Btn2" />
                        <input name="" src="/images/grade_latestbt.png" type="image" class="grading_Btn2" />
                        <input name="" src="/images/grade_latestbt.png" type="image" class="grading_Btn2" />
                      </div>
                    </div>
                    <div class="GDingboxinner_delete" >
                      <div align="center">&nbsp;</div>
                      <div class="fontsize0px">
                        <input name="" src="/images/grade_deletebt.png" type="image" class="grading_Btn2" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="gradebook_pad_top"></div>
          <div class="gradebook_pad">
            <!-- tabs-->
            <div class="gradebook_tabs" align="right"><a  class="tab_open" ><img src="/images/task_text.png" class="task_tab" /></a> <a href="#" class="tab_close"><img src="/images/grading_text.png" class="grading_tab" /></a> </div>
            <!--tab content-->
            <div class="gradebook_tab_content">
              <div class="spacebar10px"></div>
              <div class="GB_course_box">
                <div class="page_heading">COURSE</div>
                <div class="selectbg"> <span class="fakebox">English</span>
                  <select id="single" name="myselect">
                    <option selected="selected" value="English">English</option>
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                    <option value="English">English</option>
                    <option value="English">English</option>
                  </select>
                </div>
                <div class="clear"></div>
                <div class="spacebarGbook"></div>
                <div class="GBtable_wrapper">
                
               <div class="outcome_wp">
               <div class="Grade_left_panel_head"><div class="Grade_box">GRADE</div></div>
               <div class="Grade_right_panel_head">
        <div class="selectbg2"> <span class="fakebox">OUTCOMES</span>
                            <select id="single" name="myselect">
                              <option selected="selected" value="OUTCOMES">OUTCOMES</option>
                              <option value="OUTCOMES">OUTCOMES</option>
                              <option value="Spanish">Spanish</option>
                              <option value="English">English</option>
                              <option value="English">English</option>
                            </select>
                        </div>
                        </div>
                        
                        
                         
                  </div><!--outcome_wp-->
                         
                  <div class="Grade_left_panel">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="GB_left_table">
                                <tr class="GB_odd">
                                  <td width="63%" class="Name_box">Patricio Hendricks</td>
                                  <td width="37%" align="center" valign="middle"> <div class="b_box">B</div></td>
                                </tr>
                                <tr>
                                  <td width="63%" class="Name_box">Nicole Liu</td>
                                  <td width="37%" align="center" valign="middle"> <div class="b_box">A</div></td>
                                </tr>
                              </table>

                         </div><!--Grade_left_panel-->
                         
                         <div class="Grade_right_panel">
                         
                         <table width="100%" border="0" cellpadding="0" cellspacing="0" class="GB_right_table">
                        <tr class="Dark_no">
                          <td><div class="GB_outcomment rotate_text">WRITING USING A QUILL</div>1
                          
                          </td>
                          <td>1</td>
                          <td>2</td>
                          <td>2</td>
                          <td>1</td>
                          <td>2</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>3</td>
                          <td>1</td>
                          <td>3</td>
                          <td>2</td>
                          <td>1</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        
                        <tr class="Dark_no">
                          <td>2</td>
                          <td>3</td>
                          <td>1</td>
                          <td>3</td>
                          <td>2</td>
                          <td>1</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        
                        <tr>
                          <td>2</td>
                          <td>3</td>
                          <td>1</td>
                          <td>3</td>
                          <td>2</td>
                          <td>1</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        
                        <tr class="Dark_no">
                          <td>2</td>
                          <td>3</td>
                          <td>1</td>
                          <td>3</td>
                          <td>2</td>
                          <td>1</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table>

                         </div><!--Grade_right_panel-->
              </div>
              </div>
              <div class="GB_course_box2">
             
                <div class="selectbg3"> <span class="fakebox">Essay 1</span>
                  <select id="single" name="myselect">
                    <option selected="selected" value="Essay 1">Essay 1</option>
                    <option value="Essay 2">Essay 2</option>
                    <option value="Essay 3">Essay 3</option>
                    <option value="Essay 4">Essay 4</option>
                    <option value="Essay 5">Essay 5</option>
                  </select>
                </div>
                
                 <div class="page_heading">TASK</div>
                <div class="clear"></div>
              <div class="spacebarGbook"></div>
              
              <div class="task_left_wp">
                <div class="task_left_heading">
                    
                       <div class="positn_rtlv"><div class="GBsttingbox"></div><div class="GB_sttingbt"><img src="/images/GB_setting_icon.png" /></div></div>
                      <span>ESSAY</span>
                      
                  </div><!--task_left_heading-->
                  <div class="clear"></div>
                  <table width="100%" border="0">
                        <tr class="GB_odd">
                          <td>B+</td>
                          <td class="Dark_no width_30"><div class="GB_outcomment2 rotate_text">WRITING USING A QUILL</div>3</td>
                          <td class="Dark_no width_30"><div class="GB_outcomment2 rotate_text">WRITING USING A QUILL</div>2</td>
                        </tr>
                        <tr>
                          <td>A+</td>
                          <td class="Light_no width_30">3</td>
                          <td class="Light_no width_30">2</td>
                        </tr>
                        
                        <tr class="GB_odd">
                          <td>B+</td>
                          <td class="Dark_no width_30"><div class="GB_outcomment2 rotate_text">WRITING USING A QUILL</div>3</td>
                          <td class="Dark_no width_30"><div class="GB_outcomment2 rotate_text">WRITING USING A QUILL</div>2</td>
                        </tr>
                      </table>


              </div><!--task_left_wp-->
              
              <div class="task_right_wp">
             
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr class="task_right_heading">
                  <th>ESSAY 2</th>
                  <th>ESSAY 3</th>
                  <th>ESSAY 4</th>
                  <th>ESSAY 5</th>
                  <th>ESSAY 6</th>
                </tr>
                <tr class="GB_odd">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                
                <tr >
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                
                <tr class="GB_odd">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table>

              </div><!--task_left_heading-->
              
              </div>
              <div class="clear"></div>
              <div class="extra_height_gradepage"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
	$('select').change(function(){
	var singleValues = $(this).val();
	// $('.abc').html(singleValues );
	 $(this).parent().find('.fakebox').html(singleValues );
 });
</script>
 </div>

