<!-- notepad start-->
  <div class="gradebook_content">
    <div class="gradebook_board_left">
      <div class="gradebook_board_right">
        <div class="gradebook_board_center main_div_height">
       
        <div class="gradebook_partribbon">
          
           <%if @enable_palette == true%>
            <div class="GDingbox" >
              <div class="GDingbox_botright" >
                <div class="GDingbox_botcenter main_div_height" >
                  <div class="GDingbox_botleft" >
                  <div class="GDingbox_heading" style="padding:9px 0 0 19px;" >GRADE PALETTE
                  <input id="hid" type="hidden" value="0" />
                  <input id="hid1" type="hidden" value="0" />
                  <input id="hid2" type="hidden" value="0" />
                  <input id="hid3" type="hidden" value="0" /></div>
                    <div class="GDingbox_botcontainer" id ="GDingbox_botcontainer" >
                      <div class="GDingboxinner_grade" >
                        <div align="center">GRADES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="a" id ="letter_a" class="grading_Btn alphabet" />
                          <input name="" type="button" value="b" id ="letter_b" class="grading_Btn alphabet" />
                          <input name="" type="button" value="c" id ="letter_c" class="grading_Btn alphabet" />
                          <input name="" type="button" value="d" id ="letter_d" class="grading_Btn alphabet" />
                          <input name="" type="button" value="f" id ="letter_f" class="grading_Btn alphabet" />
                        </div>
                      </div>
                      <div class="GDingboxinner_plusminus" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" type="image" src="images/grade_plus.png" class="grading_Btn2 symbol" value="+" id="plus"/>
                          <input name="" src="images/grade_minus.png" type="image"  class="grading_Btn2 symbol" value="-"  id="minus"/>
                        </div>
                      </div>
                      <div class="GDingboxinner_outcome" >
                        <div align="center">OUTCOMES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="1" class="grading_Btn Gbtn1 outcome_point" id="one_point" />
                          <input name="" type="button" value="2" class="grading_Btn Gbtn2 outcome_point" id="two_point"/>
                          <input name="" type="button" value="3" class="grading_Btn Gbtn3 outcome_point" id="three_point"/>
                        </div>
                      </div>
                      <div class="GDingboxinner_latest" >
                        <div align="center">LATEST</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="?" class="grading_Btn3  letest" id="letest1" />
                        </div>
                      </div>
                      <div class="GDingboxinner_delete">
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" src="images/grade_deletebt.png" type="image" class="grading_Btn2 reset_field" id="reset_fields" />
                        </div>
                      </div>
                      <div class="GDingboxinner_latest" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="Undo" class="grading_Btn4  undo" id="undo" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <%end%>
            <div class="gradebook_pad_top"></div>
            <div class="gradebook_pad">
              <!-- tabs-->
              <div class="gradebook_tabs menu_container" align="right">
                 <a href="javascript:void(0)"  id="menu1" value="1" filter="active" class="side_tab side_tab_open"><span class="task_tab" style="-ms-transform: rotate(90deg);"> Current</span></a>
                 <a href="javascript:void(0)"  id="menu2" value="2" filter="past" class="side_tab side_tab_close"><span class="task_tab"> Archived</span></a>
              </div>
              <!--tab content-->
              <div id="grade_book_content" class="gradebook_tab_content gradebook_tab_content2 grade_book_content">
               <!-- <div class="spacebar10px"></div>  -->
                 <%= render :partial=>"/grade_book/load_data"%>
              </div>
              <div class="clear"></div>
            </div>
          </div>

        </div>
        
      </div>
    </div>

    <input type="hidden" name="grade_val"  id ="grad_val" value="">
    <input type="hidden" name="clicked_id"  id ="clicked_id" value="">
    <input type="hidden" name="letest"  id ="letest" value="">
    <input type="hidden" name="plus_minus"  id ="plus_minus" value="">
    <input type="hidden" name="outcome_points"  id ="outcome_points" value="">
    <input type="hidden" name="last_id"  id ="last_id" value="">
  </div>



