<div class="task_side_buttons"> <a href="#" class="big_blue_btn">ATTACH</a> <a href="#" class="big_orange_btn">POST</a> <a href="#" class="big_blue_btn">PRINT</a> </div>
<!-- notepad start-->
  <div class="gradebook_content">
    <div class="gradebook_board_left">
      <div class="gradebook_board_right">
        <div class="gradebook_board_center">
          <div class="gradebook_partribbon">
            <div class="GDingbox" >
              <div class="GDingbox_botright" >
                <div class="GDingbox_botcenter" >
                  <div class="GDingbox_botleft" >
                  <div class="GDingbox_heading" >GRADE PALLETE</div>
                    <div class="GDingbox_botcontainer" >
                      <div class="GDingboxinner_grade" >
                        <div align="center">GRADES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="a" class="grading_Btn" />
                          <input name="" type="button" value="b" class="grading_Btn" />
                          <input name="" type="button" value="c" class="grading_Btn" />
                          <input name="" type="button" value="d" class="grading_Btn" />
                          <input name="" type="button" value="f" class="grading_Btn" />
                        </div>
                      </div>
                      <div class="GDingboxinner_plusminus" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" type="image" src="images/grade_plus.png" class="grading_Btn2" />
                          <input name="" src="images/grade_minus.png" type="image"  class="grading_Btn2" />
                        </div>
                      </div>
                      <div class="GDingboxinner_outcome" >
                        <div align="center">OUTCOMES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="1" class="grading_Btn Gbtn1" />
                          <input name="" type="button" value="2" class="grading_Btn Gbtn2" />
                          <input name="" type="button" value="3" class="grading_Btn Gbtn3" />
                        </div>
                      </div>
                      <div class="GDingboxinner_latest" >
                        <div align="center">LATEST</div>
                        <div class="fontsize0px">
                          <input name="" src="images/grade_latestbt.png" type="image" class="grading_Btn2" />
                          <input name="" src="images/grade_latestbt.png" type="image" class="grading_Btn2" />
                          <input name="" src="images/grade_latestbt.png" type="image" class="grading_Btn2" />
                        </div>
                      </div>
                      <div class="GDingboxinner_delete" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" src="images/grade_deletebt.png" type="image" class="grading_Btn2" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gradebook_pad_top"></div>
            <div class="gradebook_pad">
              <!-- tabs-->
              <div class="gradebook_tabs menu_container" align="right">
                 <a href="javascript:void(0)"  id="menu1" value="1" class="side_tab side_tab_open"><span class="task_tab"> Current</span></a>
                 <a href="javascript:void(0)"  id="menu2" value="2" class="side_tab side_tab_close"><span class="task_tab"> Past</span></a>
              </div>
              <!--tab content-->
              <div class="gradebook_tab_content">
               <!-- <div class="spacebar10px"></div>  -->
                <div class="course_select">
                <div class="page_heading">COURSE</div>
                <div class="selectbg"> 
                 <% unless @latest_course.nil? %>
                    <span class="fakebox"><%=@latest_course.name%></span>
                 <% end %>
                 <select id="course_id">
                  <% unless @courses.nil? %>
                    <% @courses.each do |c| %>
                      <option value="<%= c.id %>"><%= c.name %></option>
                        <% end %>
                  <% end %>
                 </select>
                </div>
                </div>
                <div class="clear"></div>
                <div id="all_participant">
                    <%= render :partial=>"/grade_book/show_participant"%>
                </div>
                <div class="clear"></div>
                <div class="extra_height_gradepage"></div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="grade_val"  id ="grad_val" value="">
  </div>
<script>

$(document).ready(function(){
  
  setPageTitle("GradeBook");
  var arr = new Array();
  //Toggle Tabs
  $(".menu_container").delegate('a', 'click', function(){
    //showSpinner(true);
    idx = $(this).attr("value");
    
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    
    for(i=0;i<3;i++){
      if(idx != i){
        //$("#div_"+i).hide();
      }
    }
 
    //---- Selected menu will highlighted
    $('#menu'+idx).addClass("side_tab_open").removeClass("side_tab_close");
   // $("#div_"+idx).fadeIn();
    
  });
  
  $(".Grade_left_panel").delegate("tr","click",function(){
   idx = $(this).find('input').attr("id");
   arr.push(idx);
   $(this).css("background-color","#b0c4d0");
  });
  
  $('.grading_Btn').click(function(){
    var val = $(this).val();
    $.each(arr, function(index, id) { 
        $("#"+id).attr("value",val.toUpperCase())
        $("#"+id).parent('table').css("background-color","#ffffff");
        //console.log($("#"+id).parent('tr'));
      });
      $("#GB_left_table").find('tr').css("background-color","");
    arr = [];
  });
});
$('#course_id').change(function(){
  var singleValues = $("#course_id :selected").text();
  var participant;
  var tasks;
  var outcomes
  course_id = $(this).val();
  $(this).parent().find('.fakebox').html(singleValues );
  $.ajax({
    type :"POST",
    url: "/grade_book/get_task", 
    dataType: "json",
    data: {course_id:course_id},
    success: function(data){
      participant = data.participant
      outcomes = data.outcomes
      tasks = data.tasks
      var option =''
      var col =''
         $(tasks).each(function(i, value) {
            option = option + "<option value = "+ value.id +">" + value.name +"</option>"
            col= col + "<th>"+value.name+"</th>"
         });
           $('#task_id').html(option)
           $('.task_right_heading').html("<tr>"+col+"</tr>")
           
      var option_outcomes =''
         $(outcomes).each(function(i, value) {
            option_outcomes = option_outcomes + "<option value = "+ value.id +">" + value.name +"</option>"
         });
         $('#outcome_id').html(option_outcomes)

       var  table = $("<table></table>")
       var  table2 = $("<table></table>")
       table.addClass("GB_left_table");
       table.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
       table2.addClass("GB_right_table");
       table.attr("id","GB_left_table")
       table2.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
         $(participant).each(function(i, value) {
            var rows =$("<tr></tr>")
            var cols =$("<td></td>");
            var col2 =$("<td></td>");
            var div = $("<div></div>");
            var div2 = $("<div></div>")
            var rows2 =$("<tr></tr>")
            var cols2 =$("<td></td>");
            var cols3 =$("<td></td>");
            var cols4 =$("<td></td>");
            var text = '';
            cols.addClass("Name_box");
            div2.addClass("GB_outcomment rotate_text")
            div2.html("WRITING USING A QUILL");
            div.addClass("b_box");
            col2.css({"align":"center", "valign":"center", "width":"37%"});
            cols.attr('width','63%');
            cols.html(value.full_name);
            var  text = $("<input type ='text' value = 'C' id = '"+ value.id +"' maxlength='1' readonly='readonly' size='5'/>")
            text.addClass("grades")
            div.html(text);
            col2.html(div);
            rows.html(cols);
            cols2.html(div2);
           
            cols3.html("2");
            cols4.html("2");
            rows2.html(cols2);
            rows2.append(cols3);
            rows2.append(cols4);
            rows2.addClass("Dark_no");
            table2.append(rows2);
            if (i%2==0)
            rows.addClass("GB_odd");
            rows.append(col2);
            table.append(rows);
           
         });
         $('.GB_left_table').replaceWith(table)
         $('.GB_right_table').replaceWith(table2)
         //$("#GB_left_table").attr("class", "GB_left_table");
     }
  });
});


$('#task_id').change(function(){
  var singleValues = $("#task_id :selected").text();
  $(this).parent().find('.fakebox').html(singleValues );
});

$("#setting_icon").click(function(){
  $("#seting_box").show();
});
/*$(function() {
  $('.editable').inlineEdit();
});*/
</script>



