<% unless @latest_course.nil? %>
  <div class="task_side_buttons"> 
    <a href="javascript:void(0)" class="big_orange_btn new_task">ADD TASK</a> 
    <%= link_to 'Export CSV', csv_path, :class =>"big_blue_btn"%>
    <a href="javascript:void(0)" class="big_blue_btn finalize" id ="finalize">Finalize</a> 
  </div>
  
<%end%>
<!-- notepad start-->
  <div class="gradebook_content">
    <div class="gradebook_board_left">
      <div class="gradebook_board_right">
        <div class="gradebook_board_center main_div_height">
        <% unless @latest_course.nil? %>
          <div class="gradebook_partribbon">
           <%if @enable_palette == true%>
            <div class="GDingbox" >
              <div class="GDingbox_botright" >
                <div class="GDingbox_botcenter main_div_height" >
                  <div class="GDingbox_botleft" >
                  <div class="GDingbox_heading" >GRADE PALETTE</div>
                    <div class="GDingbox_botcontainer" id ="GDingbox_botcontainer" >
                      <div class="GDingboxinner_grade" >
                        <div align="center">GRADES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="a" id ="letter_a" class="grading_Btn alphabet" />
                          <input name="" type="button" value="b" id ="letter_b" class="grading_Btn alphabet" />
                          <input name="" type="button" value="c" id ="letter_c" class="grading_Btn alphabet" />
                          <input name="" type="button" value="d" id ="letter_d" class="grading_Btn alphabet" />
                          <input name="" type="button" value="f" id ="letter_f" class="grading_Btn alphabet" />
                        </div>
                      </div>
                      <div class="GDingboxinner_plusminus" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" type="image" src="images/grade_plus.png" class="grading_Btn2 symbol" value="+" id="plus"/>
                          <input name="" src="images/grade_minus.png" type="image"  class="grading_Btn2 symbol" value="-"  id="minus"/>
                        </div>
                      </div>
                      <div class="GDingboxinner_outcome" >
                        <div align="center">OUTCOMES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="1" class="grading_Btn Gbtn1 outcome_point" id="one_point" />
                          <input name="" type="button" value="2" class="grading_Btn Gbtn2 outcome_point" id="two_point"/>
                          <input name="" type="button" value="3" class="grading_Btn Gbtn3 outcome_point" id="three_point"/>
                        </div>
                      </div>
                      <div class="GDingboxinner_latest" >
                        <div align="center">LATEST</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="?" class="grading_Btn3  letest" id="letest1" />
                        </div>
                      </div>
                      <div class="GDingboxinner_delete">
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" src="images/grade_deletebt.png" type="image" class="grading_Btn2 reset_field" id="reset_fields" />
                        </div>
                      </div>
                      <div class="GDingboxinner_latest" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="Undo" class="grading_Btn4  undo" id="undo" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
            <div class="gradebook_pad_top"></div>
            <div class="gradebook_pad">
              <!-- tabs-->
              <div class="gradebook_tabs menu_container" align="right">
                 <a href="javascript:void(0)"  id="menu1" value="1" filter="active" class="side_tab side_tab_open"><span class="task_tab" style="-ms-transform: rotate(90deg);"> Current</span></a>
                 <a href="javascript:void(0)"  id="menu2" value="2" filter="past" class="side_tab side_tab_close"><span class="task_tab"> Archived</span></a>
              </div>
              <!--tab content-->
              <div id="grade_book_content" class="gradebook_tab_content gradebook_tab_content2 grade_book_content">
               <!-- <div class="spacebar10px"></div>  -->
                 <%= render :partial=>"/grade_book/load_data"%>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <%else%>
          <div class="msg_pos">You are currently not in any courses</div>
          <%end%>
        </div>
      </div>
    </div>

    <input type="hidden" name="grade_val"  id ="grad_val" value="">
    <input type="hidden" name="previous_grade"  id ="previous_grade" value="">
    <input type="hidden" name="clicked_id"  id ="clicked_id" value="">
    <input type="hidden" name="letest"  id ="letest" value="">
    <input type="hidden" name="plus_minus"  id ="plus_minus" value="">
    <input type="hidden" name="outcome_points"  id ="outcome_points" value="">
    <input type="hidden" name="last_id"  id ="last_id" value="">
    <input type="hidden" name="school_id"  id ="school_id" value="<%=@latest_course.school_id if @latest_course%>">
  </div>
<script>
$(function(){
 /*<%if Rails.application.config.grade_palette == true%>
  $('#GDingbox_botcontainer :button').attr('disabled', true);
  $('#GDingbox_botcontainer :image').attr('disabled', true);
 <%end%>*/
});
$(document).ready(function(){

  setPageTitle("GradeBook");
  var arr = new Array();
  var grades = new Array();
  var grades_arr = ["","A","A-","B+","B","B-","C+","C","C-","D+","D","D-","F"];
  var arr_alphabet_id = ["letter_a","letter_b","letter_c","letter_d","letter_f"]
  var points_arr = ["",1,2,3];
  var final_value='';
  var arr_id =[];
  var previous_grade;
  var select_alphabet = false;
  var select_symbol = false;
  var select_points = false;
  var letest_points = false;
  var letest = "";
  var show_setting = false;
  var reset =  false;
  var last_value = "";
  var alphabet = "" ;
  var sign = "";
  var people = new Array();
  var arr_rel = new Array();
  var arr_profile = new Array();
  var arr_average =  new Array();
  var arrOfgrades = new Array();
  var previous_values = new Array();
  var arr_ids = new Array();
  var given_val ="";
  var click_id = "";
  var last_fills = new Array();
  var pg = new Array();
  var undo_select = false;
  var entire_column = false;
  var arr_rel2 =[];
  var arr_profile2 = [];


  //Toggle Tabs
  $(".menu_container").delegate('a', 'click', function(){
    //showSpinner(true);
    idx = $(this).attr("value");
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    for(i=0;i<3;i++){
      if(idx != i){
        //$("#div_"+i).hide();
      }
    }
    //---- Selected menu will highlighted
    $('#menu'+idx).addClass("side_tab_open").removeClass("side_tab_close");
    filter();
   // $("#div_"+idx).fadeIn();
  });
  
  
  
  //Reset Fields
  $(".reset_field").click(function(){
    undo_select = false;
    var first = true; 
    select_points = false
    select_alphabet = true;
    select_symbol = true;
    reset = false
    alphabet = "" ;
    sign = "";
    $.each(arr_id, function(index, id) { 
        if (id == "reset_fields")
        {
          first = false;
          if($("#reset_fields").hasClass("select_btn"))
            $("#reset_fields").removeClass("select_btn");
          else {
            $("#reset_fields").addClass("select_btn");
            reset = true;
          }         
        }
        else{
          $("#"+id).removeClass("select_btn");
          }
    });
    if (first == true){
     $(this).addClass("select_btn");
     reset = true  
     }
     arr_id=[];
     final_value = '';    
     arr_id.push($(this).attr("id"));
  });
  //Fill letest grade 
  $(".letest").click(function(){
    if($(this).val()=="" || $(this).val() == "?"){

    }
    else{
      undo_select = false;
      alphabet = "" ;
      sign = "";
      select_points = false
      select_alphabet = true;
      select_symbol = true;
      var first = true; 
      $.each(arr_id, function(index, id) { 
        if (id == "letest1")
        {
          first = false;
          if($("#letest1").hasClass("select_btn"))
            $("#letest1").removeClass("select_btn");
          else 
            $("#letest1").addClass("select_btn"); 
        }
        else{
          $("#"+id).removeClass("select_btn");
        }
      });
      if (first == true){
       $(this).addClass("select_btn");
       final_value = $(this).val();
       arr_id=[];
       arr_id.push($(this).attr("id"));
      } 
      else {
        final_value = '';
        $(this).removeClass("select_btn");
        arr_id=[];
      }        
    }
  });
   //Fill points to outcomes
  $('.outcome_point').click(function(){
    undo_select = false;
    select_alphabet = true;
    select_symbol = true;
    final_value = ''
    alphabet = "" ;
    sign = "";
    var previous = $("#outcome_points").val();
    $("#outcome_points").val($(this).attr("id"));
    $.each(arr_id, function(index, id) { 
       $("#"+id).removeClass("select_btn");
    });
    arr_id = [];
    arr_id.push($(this).attr("id"));
    if(previous == $(this).attr("id"))
      {
        if ( select_points == true){
            $(this).removeClass("select_btn");
            final_value=''
            select_points = false
        }
        else{
          $(this).addClass("select_btn");
          final_value = $(this).val();
          select_points = true;
        }
      }
      else{
        select_points = true;
        $(this).addClass("select_btn");
         final_value = $(this).val();
      }
  });
  
   //For plus and minus selection
  $('.symbol').click(function(){
    undo_select = false;
    var letter="";
    final_value = '';
    select_points = false
    $.each(arr_id, function(index, id) { 
      $("#"+id).removeClass("select_btn");
     if(id == "letter_a" || id == "letter_b" || id == "letter_c" || id == "letter_d" || id == "letter_f"){
       $("#"+id).addClass("select_btn");
       letter = id;
     }
    });
    $("#plus").removeClass("select_btn");
    $("#minus").removeClass("select_btn");
    var previous = $("#plus_minus").val();
    $("#plus_minus").val($(this).attr("id"));
    var val = $(this).val();
    var total_grade = '';
    arr_id = [];
    arr_id.push(letter);
    if(previous == $(this).attr("id") && select_symbol == false){
      $(this).removeClass("select_btn");
      select_symbol = true
      sign ="";
      final_value = alphabet
    }
    else{
    $(this).addClass("select_btn");
    select_symbol = false;
    sign = $(this).val();
    arr_id.push($(this).attr("id")) 
    if (alphabet!=""){
      final_value =  alphabet+sign;
      if(alphabet=="A")
       arr_id.push("letter_a");
      else if(alphabet=="B")
       arr_id.push("letter_b");
      else if(alphabet=="C")
       arr_id.push("letter_c");
      else if(alphabet=="D")
       arr_id.push("letter_d");
      else if(alphabet=="F")
       arr_id.push("letter_f");
    }
   }
  });
  //Selection of alphabets for gradeing
  $('.alphabet').click(function(){
    undo_select = false;
    select_points = false
    var previous = $("#clicked_id").val();
    $("#clicked_id").val($(this).attr("id"));
    $.each(arr_id, function(index, id) { 
      $("#"+id).removeClass("select_btn");
      if(id == "plus" || id == "minus"){
        $("#"+id).addClass("select_btn");
        select_symbol = false
      }
    });
    arr_id = [];
    var val = $(this).val();
    if(previous == $(this).attr("id") && select_alphabet == false){
      $(this).removeClass("select_btn");
      select_alphabet = true;
      alphabet = "";
      final_value="";
    }
    else{
      $(this).addClass("select_btn"); 
      select_alphabet = false;
      alphabet = val.toUpperCase();
      arr_id.push($(this).attr("id"));
      if(sign!=""){
        final_value = alphabet+sign;
        if(sign=="+")
          arr_id.push("plus");
        else 
          arr_id.push("minus");
      }
      else{
        final_value = alphabet
      }
    }
  });
  
  //Check for valid grade
  function valid_grade(val,id){  
    var last="";
    var flag = false;
    $(grades_arr).each(function(i, grade){
      if(grade == val){
        $("#"+id).removeClass("warning");
        flag = true;
        return flag;
      }
    });
    if (flag == false){
      for (value=0; value<=100; value++)  
      {
        var points = parseFloat(value)
        if(val<=value && val !=""){
          $("#"+id).removeClass("warning");
          flag = true;
          if(val != $("#letest1").val()){
            $("#letest1").attr("value",val);
          }           
          break;
        } 
      } 
    }
    if (flag == false){
      $("#"+id).addClass("warning");
      $("#"+id).val(previous_grade);
    }
    return flag;  
  }
  //Check valid outcome points
  function valid_point(val,id){   
    var flag = false;
    $(points_arr).each(function(i, point) {
      if(point == val){
        $("#"+id).removeClass("warning");
        flag = true;
        return flag;
      }
    });
    if (flag == false){
        $("#"+id).addClass("warning");
        $("#"+id).val(previous_grade);
      }
    return flag;    
  }
  //Save grades/points
  function save_grade(val,id,rel,arrOfProfile,array_of_values){ 
    var valid = false;
    var _undo = undo_select
    if(id[0]=="g"){
      valid = valid_grade(val.toUpperCase(),id)
    }
    else{
      valid = valid_point(val,id)
    }
    if(valid==true){
      var course_id = $("#course_id").val();
      var school_id = $("#school_id").val();
      var type = id[0].split("_");
      showSpinner(true);
      if(type[0]=="p"){
        
        var ids= id.split("_");
        var profile_id = ids[1];
        var outcome_id = ids[2];
        var task_id = ids[3];
        var len = rel.length
        for(i = 0; i<rel.length;i++){
          var sum = 0;
          var average = 0;
          var count = 0;
          $("input[rel="+rel[i]+"]").each(function(index,item){
          var data_include = $("#"+item.id).attr("data");
            if (data_include == "true"){
              var points = parseInt(item.value);
              if (isNaN(points)==false){
                sum = sum + points;
                count = count + 1;
              }
            }  
          });
          average = sum/count;
          if (isNaN(average)==true)
            arr_average.push('')
            arr_average.push(average.toFixed(2))
        }
         if (_undo==true){
          var datastring ='school_id=' +school_id+ '&course_id=' +course_id+ '&task_id=' +task_id+ '&outcome_id='+outcome_id+ '&profile_id=' +arrOfProfile+ '&average=' +arr_average+ '&outcome_val=' +val+ '&last_changes='+array_of_values+ '&undo='+_undo
        }
        else{
           var datastring ='school_id=' +school_id+ '&course_id=' +course_id+ '&task_id=' +task_id+ '&outcome_id='+outcome_id+ '&profile_id=' +arrOfProfile+ '&average=' +arr_average+ '&outcome_val=' +val
        }
        $.ajax({
          type :"POST",
          url: "/grade_book/outcomes_points", 
          dataType: "json",
          data: datastring,
          error: function(e){alert("error");},
          success: function(data){
            $(rel).each(function(index,item){
              $("#"+item).attr("value",data.average[index]);            
            });
            $(arr_ids).each(function(index,item){
              $("#"+item).removeClass("warning");
            });
            
            arr_average=[]; 
            arr_profile=[];
            arr_rel=[];
            previous_values=[];
            arr_ids=[];
            $("#previous_grade").attr("value",data.previous_grade[0]);
            showSpinner(false);
          }
        });
      }
      else{
       for(i = 0; i<rel.length;i++)
      {
        $("input[rel="+rel[i]+"]").each(function(index,item){
          var data_include = $("#"+item.id).attr("data");
          if (data_include == "true"){
            myString = String(item.value.replace(/\+/g, "%2B"));
            grades.push(myString);
            count =index+1
          }
          else{
            grades.push("");
          }
       });
       arrOfgrades.push(grades)
       grades=[];
      } 
        var ids = id.split("_");
        var task_id = ids[2];
        var task_grade = String(val.replace(/\+/g, "%2B"));
        task_grade = task_grade.toUpperCase();
        var profile_id = rel;
        if (_undo==true){
          var datastring ='school_id=' +school_id+ '&course_id=' +course_id+ '&task_id=' +task_id+ '&characters='+arrOfgrades+ '&profile_id=' +profile_id+ '&task_grade=' +task_grade+ '&last_changes='+array_of_values+ '&undo='+_undo
        }
        else{
           var datastring ='school_id=' +school_id+ '&course_id=' +course_id+ '&task_id=' +task_id+ '&characters='+arrOfgrades+ '&profile_id=' +profile_id+ '&task_grade=' +task_grade
        }
        $.ajax({
          type :"POST",
          url: "/grade_book/grade_calculate", 
          dataType: "json",
          data: datastring,
          error: function(e){alert("error");},
          success: function(data){
            $(rel).each(function(index,item){
              $("#"+item).attr("value",data.grade[index]);            
            })
            $(arr_ids).each(function(index,item){
              $("#"+item).removeClass("warning");
            });
            //$("#"+rel).attr("value",data.grade);
            $("#previous_grade").attr("value",data.previous_grade);
            grades = [];
            arrOfgrades=[];
            arr_profile=[];
            arr_rel=[];
            previous_values=[];
            arr_ids=[];
            showSpinner(false);
          }
        });
      }  
      $(this).css("background-color","");  
    }
    else{
      $(arr_ids).each(function(index,item){
        $("#"+item).addClass("warning");
        $("#"+item).attr("value",previous_values[index]);
      });
      arr_ids=[];
      arr_average=[]; 
      arr_profile=[];
      arr_rel=[];
      arrOfgrades=[];
      previous_values=[];
    }
  }
  //Fill grades click on table headings
  /*$(".task_right_wp").delegate("th","click",function(){
   if(final_value != "" || reset == true)
   {
    var id = $(this).attr("id");
    $("."+id).each(function() {
      previous_values.push($(this).val())
      $(this).attr("value",final_value);
      click_id = $(this).attr("id")
      given_val = $(this).val();
      var rel = $(this).attr("rel");
      grades = [];
      var ids= click_id.split("_");
      var profile_id = ids[1];
      arr_profile.push(profile_id)
      arr_rel.push(rel);
      arr_ids.push(click_id);
     
    });
    save_grade(given_val,click_id,arr_rel,arr_profile) 
   } 
  });*/
  
  
  //Undo last change
  $(".undo").click(function(){
    var first = true; 
    select_points = false
    select_alphabet = true;
    select_symbol = true;
    reset = false
    alphabet = "" ;
    sign = "";
    final_value = "";
    undo_select = true;
    $.each(arr_id, function(index, id) { 
       $("#"+id).removeClass("select_btn");
    });
     arr_id=[]; 
     change_id = $("#last_id").val()
     if (change_id!=""){
       if (entire_column == false){
         $("#"+change_id).attr("value",$("#previous_grade").val())
          previous_grade = $("#previous_grade").val();
          idd = $("#last_id").val();
          save_grade(previous_grade,idd,arr_rel2,arr_profile2,"")
          $("#last_id").attr("value","");
          //console.log(previous_grade+"---"+idd+"---"+arr_rel2+"---"+arr_profile2)
       }
       else{
          $("."+change_id).each(function(index,item) {
           /* myval = $(this).val()
            myval = myval.replace(/\+/g, "%2B")
            last_fills.push(myval)*/
            previous_values.push($(this).val())
            if(last_fills!="" && undo_select == true){
              grade_val = last_fills[index]
              $(this).attr("value",grade_val.replace(/\%2B/g, "+"));
            }
            else{
              $(this).attr("value",final_value);
            }
            click_id = $(this).attr("id")
            given_val = $(this).val();
            var rel = $(this).attr("rel");
            grades = [];
            var ids= click_id.split("_");
            var profile_id = ids[1];
            arr_profile.push(profile_id)
            arr_rel.push(rel);
            arr_ids.push(click_id);
        });
        pg = last_fills;
        save_grade(given_val,click_id,arr_rel2,arr_profile2,pg);
       // console.log(given_val+"---"+click_id+"---"+arr_rel2+"---"+arr_profile2+"entire column")
        $("#last_id").attr("value","");
      }
     } 
     
  });
  
  
  //Fill grades/ points on click task name or outcome name entire column
  $(".grade_book_content").delegate("td","click",function(){
   if(final_value != "" || reset == true)
   {
    var id = $(this).attr("id");
    if($(this).attr("rel")=="grade_column"){
      entire_column = true;
      last_fills=[];
      $("#last_id").attr("value", id);
      $("."+id).each(function(index,item) {
        myval = $(this).val()
        myval = myval.replace(/\+/g, "%2B")
        last_fills.push(myval)
        previous_values.push($(this).val())
        if(last_fills!="" && undo_select == true){
          $(this).attr("value",last_fills[index]);
        }
        else{
          $(this).attr("value",final_value);
        }
        click_id = $(this).attr("id")
        given_val = $(this).val();
        var rel = $(this).attr("rel");
        grades = [];
        var ids= click_id.split("_");
        var profile_id = ids[1];
        arr_profile.push(profile_id)
        arr_rel.push(rel);
        arr_ids.push(click_id);
      });
      pg = last_fills;
      arr_rel2 = arr_rel
      arr_profile2 = arr_profile
      //last_fills = previous_values;
      save_grade(given_val,click_id,arr_rel,arr_profile,pg)     
     } 
   }
  });
  
  //Save grade on change event
  $(".grade_book_content").delegate("input","change",function(){
      name = $(this).attr("name");
      if (name == "task_grade"){
      entire_column = false
      id = $(this).attr("id");
      $("#last_id").attr("value", id);
      if ($(this).attr("id")!=arr_ids[0])
      previous_values.push($(this).val())
      var val = $(this).val();
     
      rel = $(this).attr("rel");
      grades=[];
      $(this).val(val.toUpperCase());
      var ids= id.split("_");
      var profile_id = ids[1];
      arr_profile.push(profile_id)
      arr_rel.push(rel);
      arr_ids.push(id);
      arr_rel2 = arr_rel;
      arr_profile2 = arr_profile;
      save_grade(val,id,arr_rel,arr_profile,"");
     }
  });
  
  //Save grade on click
  $(".grade_book_content").delegate("input","click",function(){
    entire_column = false
    previous_values.push($(this).val())
    id = $(this).attr("id");
     $("#last_id").attr("value", id);
    arr_ids.push(id);
    document.getElementById(id).focus();
    document.getElementById(id).select();
    previous_grade = $(this).val();
    $(this).removeClass("warning");
    if(final_value != "" || reset == true){
      document.getElementById('reset_fields').focus(); 
      $(this).attr("value",final_value);  
      $(this).trigger("change");
    }
  });
  //Setting icon
  $("#setting_icon").click(function(){
    if (show_setting == false){
      $("#seting_box").show();
      show_setting = true;
    }
    else{
      $("#seting_box").hide();
      show_setting = false;
    }
  });
  
  
//fill grade book on change of course
 $(".grade_book_content").delegate("#course_id","change",function(){
  $("#add_task").hide();
  var singleValues = $("#course_id :selected").text();
  $(this).parent().find('.fakebox').html(singleValues );
  $("#last_id").attr("value","");
  load_outcomes();
  
});


  //Load data on change of outcome/notes drop down
 $(".grade_book_content").delegate("#outcome_note","change",function(){
  //$('#outcome_note').change(function(){
    var singleValues = $("#outcome_note :selected").text();
    $("#outcome_note").parent().find('.fakebox').html(singleValues);
    course_id = $("#course_id").val();
    var val = $(this).val();
    if (val==1){
     showSpinner(true);
      $.ajax({
        type :"POST",
        url: "/grade_book/load_outcomes", 
        dataType: "json",
        data: {course_id:course_id},
        success: function(data){
          var  table2 = $("<table></table>");
          table2.addClass("GB_right_table");//table outcome  average grade 
          table2.attr("id","GB_right_table");
          table2.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
          showSpinner(false);
          $(data.participants).each(function(p, value){
            var rows2 =$("<tr></tr>");
            if(data.outcomes.length>0){
              $(data.outcomes).each(function(i, outcomes){
                var grade_col =$("<td></td>");
                var outcomes_col =$("<td></td>");
                var outcome_name =$("<div></div>"); 
                outcomes_col.addClass("red_border1");
                if(p==0){
                  outcome_name.html(outcomes.name);
                }
                outcome_name.addClass("GB_outcomment rotate_text");
                outcomes_col.html(outcome_name);
                var  text = $("<input type ='text'  name='task_grade' value = '"+value.course_outcomes[i]+"' id = 'p_"+value.profile_id +"_"+outcomes.id +"' maxlength='1' readonly='readonly' size='1'/>")
                text.addClass("")
                grade_col.html(text);
                grade_col.addClass("td_align red_border");
                rows2.append(outcomes_col);
                rows2.append(grade_col);
              });
            }
            else{
              var grade_col =$("<td></td>");
              var outcomes_col =$("<td></td>");
              var outcome_name =$("<div></div>"); 
              outcomes_col.addClass("red_border1");
              if(p==0){
                outcome_name.html("");
              }
              outcome_name.addClass("GB_outcomment rotate_text");
              outcomes_col.html(outcome_name);
              var  text = $("<input type ='text' value = '' id = '' maxlength='1' readonly='readonly' size='1'/>")
              text.addClass("")
              grade_col.html(text);
              grade_col.addClass("td_align")
              rows2.append(outcomes_col);
              rows2.append(grade_col);
            }
            if (p%2==0){
              rows2.addClass("Dark_no");
            }
            else{
              rows2.addClass("light_row");
            }
            table2.append(rows2);
          });
          if(data.count<10){
            for (p=data.count; p<10; p++){
              var rows2 =$("<tr></tr>");
              if(data.outcomes.length>0){
                $(data.outcomes).each(function(i, outcomes){
                  var grade_col =$("<td></td>");
                  var outcomes_col =$("<td></td>");
                  var outcome_name =$("<div></div>");
                  outcomes_col.addClass("red_border1");
                  if(p==0){
                    outcome_name.html("");
                  }
                  outcome_name.addClass("GB_outcomment rotate_text");
                  outcomes_col.html(outcome_name);
                  var  text = $("<input type ='text' value = '' id = '' maxlength='1' readonly='readonly' size='1'/>")
                  text.addClass("")
                  grade_col.html(text);
                  grade_col.addClass("td_align red_border");
                  rows2.append(outcomes_col);
                  rows2.append(grade_col);
                });
              }
              else{
                var grade_col =$("<td></td>");
                var outcomes_col =$("<td></td>");
                var outcome_name =$("<div></div>"); 
                if(p==0){
                  outcome_name.html("");
                }
                outcome_name.addClass("GB_outcomment rotate_text");
                outcomes_col.html(outcome_name);
                var  text = $("<input type ='text' value = '' id = '' maxlength='1' readonly='readonly' size='1'/>")
                text.addClass("")
                grade_col.html(text);
                grade_col.addClass("td_align")
                rows2.append(outcomes_col);
                rows2.append(grade_col);
              }  
              if (p%2==0){
                rows2.addClass("Dark_no");
              }
              else{
                rows2.addClass("light_row");
              }
              table2.append(rows2);
            }
          }
          $('.GB_right_table').replaceWith(table2);
        }
      });
     //load_outcomes();
    }
    else{
      showSpinner(true);
      $.ajax({
        type :"POST",
        url: "/grade_book/load_notes", 
        dataType: "json",
        data: {course_id:course_id},
        success: function(data){
          showSpinner(false);
          var  table_note = $("<table></table>");
          
          table_note.addClass("GB_right_table");//table outcome  average grade 
          table_note.attr("id","GB_right_table");
          table_note.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
          $(data.participant).each(function(p, value) {
            var col_note =$("<td></td>");
            var cols_note =$("<td></td>");
            var rows_note =$("<tr></tr>");
            var div_note = $("<div></div>");
            //div_note.addClass("notes_margin")
            if (p%2==0){
              //rows_note.addClass("GB_odd");
              rows_note.addClass("Dark_no");
            }
            else{
              //rows_note.addClass("");
              rows_note.addClass("light_row")
            }
            var  textarea = $("<textarea id = 'n_"+ value.profile_id +"'>"+value.notes+"</textarea>")
            textarea.css("height","29px");
            textarea.css("line-height"," 110%");
            textarea.css("resize","none");
            textarea.css("overflow","hidden");
            div_note.html(textarea);
            cols_note.html(div_note);
            rows_note.html(cols_note)
            table_note.append(rows_note);
          });
          if(data.count<10){
          for (p=data.count; p<10; p++){
            var cols_note =$("<td></td>");
            var rows_note =$("<tr></tr>");
            var div_note = $("<div></div>");
            if (p%2==0){
              rows_note.addClass("Dark_no");
            }
            else{
              rows_note.addClass("light_row")
            }
            var  textarea = $("<textarea id = '' readonly='readonly'></textarea>")
            textarea.css("height","29px");
            textarea.css("line-height"," 110%");
            textarea.css("resize","none");
            textarea.css("overflow","hidden");
            div_note.html(textarea);
            cols_note.html(div_note);
            rows_note.html(cols_note)
            table_note.append(rows_note);
            }
          }
           $('.GB_right_table').replaceWith(table_note);
        }
      });  
    }    
  });
  //Scroll div to task in table on task change
 $(".grade_book_content").delegate("#task_id","change",function(){
  //$('#task_id').change(function(){
    $("#add_task").hide();
    var singleValues = $("#task_id :selected").text();
    $(this).parent().find('.fakebox').html(singleValues);
     // $(".task_right_wp").scrollLeft(0);
      var val = $(this).val();
      scroll_div(val);
     //$(".task_right_wp").scrollLeft(x.left-div.left,1);    
  });
   //Save nates on change event
   //$(".grade_book_content").delegate("#task_id","change",function(){
  $(".grade_book_content").delegate("textarea","change",function(){

    var notes = $(this).val();
    var course_id = $("#course_id").val();
    var arr = $(this).attr("id");
    var arr2 = arr.split("_");
    var profile_id = arr2[1];
    var school_id = $("#school_id").val();
    showSpinner(true);
    $.ajax({
      type :"POST",
      url: "/grade_book/save_notes", 
      dataType: "json",
      data: {school_id:school_id,course_id:course_id,profile_id:profile_id,notes:notes},
      error: function(e){alert("error");},
      success: function(data){
         showSpinner(false);
      }
    });
  });
  
  //Open pop-up for new task
  $(".new_task").click(function(){
    var course_id = $("#course_id").val();
    showSpinner(true);
    $.ajax({
      type:"POST",
      url:"/grade_book/course_outcomes",
      data:{course_id:course_id},
      error:  function(e){alert("error");},
      success: function(resp){       
         $("#add_task").show();
         $("#add_task").html(resp);
          showSpinner(false);
        }      
    });
  });
  
  $("#finalize").click(function(){
    $("#finalize_div").show();
  });
  //Save new task
  $(".grade_book_content").delegate("a","click",function(){
    id = $(this).attr("id");
    if (id=="dont_add_btn"){
      $("#add_task").hide();
    }
    else if(id=="add_btn"){     
      var outcomeObject = [];
      i = 0;
      $("input[name='chk_outcomes[]']").each(function(){
        if(this.checked) {
          storage_key = "task_outcomes_"+$(this).attr('id');
          outcomeObject[i] =  getStorage(storage_key);
          i++;
        }
      }); 
    
    var task = $("#new_task").val();
    var course_id = $("#course_id").val();
    var school_id = $("#school_id").val();  
    var category_id = $("#categories").val();
    var level = 0;
    var dataString = 'task='+ task + '&course_id=' + course_id + '&outcomes=' +outcomeObject + '&level=' + level + '&school_id=' + school_id + '&category_id=' + category_id + '&people_id=' + "all_people";  
    showSpinner(true);
    $.ajax({
      type:"POST",
      url:"/task/save",
      data:dataString,
      dataType: "json",
      error:  function(e){alert("error");},
      success: function(resp){    
        //load_outcomes();table_heading
        //var col = $("<th></th>");
        var option = $("<option></option>")
        var heading_td =$("<td></td>");
        var table_heading = $("<table></table>");
        var table_row = $("<tr></tr>");
        var row_td = $("<td></td>");
        var row_td2 = $("<td></td>");
        var name_div = $("<div></div>");
        var setup_div = $("<div></div>");
        var fill_icon_div = $("<div></div>");
        var outcomes_length = resp.outcomes.length;
        option = option + "<option value = t_"+resp.task.id +">" + resp.task.name +"</option>"
        heading_td.addClass("red_border");
        table_heading.attr("border","0");
        row_td.addClass("hover task_name_background width12px line_height24px");
        //row_td.attr("rel","grade_column");
        name_div.addClass("rotate_text GB_outcomment3 white_font");
        name_div.html(resp.task.name+" "+"<span style='color:#B5BDD0;'>("+resp.category_name+")</span>");
        row_td2.addClass("hover width60px line_height24px");
        row_td2.attr("id","t_"+resp.task.id);
        row_td2.attr("rel","grade_column");
        setup_div.html("<img id='' class='task_setup_icon' rel='"+resp.task.id+"' src='images/btn_task_setup.png'/>");
        fill_icon_div.attr("id","img_t_"+resp.task.id);
        fill_icon_div.addClass("hide");
        fill_icon_div.html("<img id='' src='images/btn_fill_column.png'/>");
        row_td2.html(fill_icon_div) ;
        row_td.append(setup_div);
        row_td.append(name_div);
        table_row.append(row_td);
        table_row.append(row_td2);
        
        if(outcomes_length>0){
            $(resp.outcomes).each(function(o, task_outcome){ 
             var outcome_div = $("<div></div>");
             var outcome_td = $("<td></td>");
             var fill_icon_div2 = $("<div></div>");
             outcome_td.addClass("hover width60px line_height24px");
             outcome_td.attr("rel","grade_column")
             outcome_td.attr("id",resp.task.id+"_"+task_outcome.id)
             outcome_div.addClass("GB_outcomment2 rotate_text");
             fill_icon_div2.attr("id","img_"+resp.task.id+"_"+task_outcome.id);
             fill_icon_div2.addClass("hide");
             fill_icon_div2.html("<img id='' src='images/btn_fill_column.png'/>")
             outcome_td.append(fill_icon_div2) ;
             outcome_td.append(outcome_div);
             table_row.append(outcome_td);
            });
          }
          
        table_heading.html(table_row);
        heading_td.html(table_heading);
        $("#table_heading").append(heading_td)
        $("#task_id").parent().find('.fakebox').html(resp.task.name);
        $('#task_id').append(option);
        $("#add_task").hide();
        showSpinner(false);
        var task = resp.task;
        var len = resp.outcomes.length;
        var count = resp.participants.length;
        $(resp.participants).each(function(p, value){ 
          var row_item = $("<tr></tr>");
          var rows =$("<td></td>");
          var column =$("<td></td>");
          var task_div = $("<div></div>"); 
          var task_name_column = $("<td></td>");
          var task_grade = $("<td></td>");
          var task_grade_div = $("<div></div>"); 
          var main_col=$("<td></td>");
          main_col.addClass("red_border")
          column.addClass("first_row_layout selected_t_"+task.id+"");
          rows.addClass("red_border")
          var table_task = $("<table></table>");
          table_task.addClass("task_grades_width");
          var  text_grade = $("<input type ='text' value = '' name='task_grade' id = 'g_"+value+"_"+resp.task.id +"' maxlength='2' size='2' rel = '"+ value +"' data='"+resp.task.include_task_grade+"'/>");
          text_grade.addClass("editable_field task_grade t_"+task.id);
          column.html(text_grade); 
          task_name_column.addClass("width12px width_30 hover task_name_background");
          //task_name_column.attr("id","t_"+task.id);
          //task_name_column.attr("rel","grade_column");
          task_div.addClass("GB_outcomment3 rotate_text white_font");
          task_grade_div.addClass("GB_outcomment3 rotate_text");
          if (p!=0){
            column.addClass("td_align")
          }
          else{
            task_div.attr("id","t_"+task.id);  
            task_div.html(" ");
            task_grade_div.html("Grade");
          }
          task_name_column.html(task_div);
          task_grade.html(task_grade_div);
          rows.append(task_name_column);
          rows.append(task_grade);
          rows.append(column);
            if(len>0){ 
             $(resp.outcomes).each(function(o, task_outcome){ 
              var point_column =$("<td></td>");
              var outcome =$("<td></td>");
              var outcome_div =$("<div></div>");             
              var  text_point = $("<input type ='text' name='task_grade' value = '' id = 'p_"+value+"_"+task_outcome.id+"_"+task.id +"' rel = 'p_"+value+"_"+task_outcome.id+"' data='"+resp.task.include_task_grade+"' maxlength='1' size='2'/>");
              text_point.addClass("editable_field task_grade "+task.id+"_"+task_outcome.id+"");
              if(p%2==0){
                outcome.addClass("Dark_no width_30 hover white_border");
                point_column.addClass("first_row_layout Dark_no width_30 o_"+task.id+"_"+task_outcome.id+"");
              }
              else{
                outcome.addClass("light_row width_30 white_border");
                point_column.addClass("first_row_layout light_row width_30 o_"+task.id+"_"+task_outcome.id+"");
              }             
              if(p==0){
                outcome_div.html(task_outcome.name);
                //outcome.addClass("hover")
              }
              //outcome.attr("rel","grade_column");
              //outcome.attr("id",task.id+"_"+task_outcome.id)
              outcome_div.addClass("GB_outcomment2 rotate_text");
              //outcome_div.attr("id",resp.task.id+"_"+task_outcome.id)
              outcome.html(outcome_div);
              point_column.html(text_point);
              point_column.addClass("td_align")
              rows.append(outcome);
              rows.append(point_column);
            });     
          }
         /* else{
            var point_column =$("<td></td>");
            var outcome =$("<td></td>");
            var outcome_div =$("<div></div>");             
            var  text_point = $("<input type ='text' value = '' maxlength='1' size='2'/>");
            text_point.addClass("editable_field task_grade ");
            if(p%2==0){
              outcome.addClass("Dark_no width_30 hover white_border");
              point_column.addClass("Dark_no width_30");
            }
            else{
              outcome.addClass("light_row width_30 hover white_border");
              point_column.addClass("light_row width_30");
            }             
            if(p==0){
              outcome_div.html("");
              //outcome.addClass("hover")
            }
            outcome_div.addClass("GB_outcomment2 rotate_text");
            outcome.html(outcome_div);
            point_column.html(text_point);
            point_column.addClass("td_align")
            rows.append(outcome);
            rows.append(point_column);
          }*/
          if (p%2==0){
              rows.addClass("GB_odd");
            }
          $("#r_"+p).append(rows);
        }); 
       if(count<10){
        for (p=count; p<10; p++){
          var row_item = $("<tr></tr>");
          var rows =$("<td></td>");
          var column =$("<td></td>");
          var task_div = $("<div></div>"); 
          var task_name_column = $("<td></td>");
          var task_grade = $("<td></td>");
          var task_grade_div = $("<div></div>"); 
          var main_col=$("<td></td>");
          main_col.addClass("red_border")
          column.addClass("first_row_layout selected_t_"+task.id+"");
          rows.addClass("red_border")
          var table_task = $("<table></table>");
          table_task.addClass("task_grades_width");
          var  text_grade = $("<input type ='text' value = '' id = '' maxlength='2' size='2' rel = ''/>");
          text_grade.addClass("task_grade");
          column.html(text_grade); 
          task_name_column.addClass(" width12px width_30 hover task_name_background");
          //task_name_column.attr("id","t_"+task.id);
          //task_name_column.attr("rel","grade_column");
          task_div.addClass("GB_outcomment3 rotate_text white_font");
          task_grade_div.addClass("GB_outcomment3 rotate_text");
          if (p!=0){
            column.addClass("td_align")
          }
          else{
            task_div.attr("id","t_"+task.id);  
            task_div.html(task.name);
          }
          task_name_column.html(task_div);
          task_grade.html(task_grade_div);
          rows.append(task_name_column);
          rows.append(task_grade);
          rows.append(column); 
            if(len>0){ 
             $(resp.outcomes).each(function(o, task_outcome){ 
              var point_column =$("<td></td>");
              var outcome =$("<td></td>");
              var outcome_div =$("<div></div>");             
              var  text_point = $("<input type ='text' value = '' id = '' rel = '' maxlength='1' size='2'/>");
              text_point.addClass("task_grade");
              if(p%2==0){
                outcome.addClass("Dark_no width_30 hover white_border");
                point_column.addClass("first_row_layout Dark_no width_30 o_"+task.id+"_"+task_outcome.id+"");
              }
              else{
                outcome.addClass("light_row width_30 white_border");
                point_column.addClass("first_row_layout light_row width_30 o_"+task.id+"_"+task_outcome.id+"");
              }             
              if(p==0){
                outcome_div.html(task_outcome.name);
                //outcome.addClass("hover")
              }
             // outcome.attr("rel","grade_column");
              //outcome.attr("id",task.id+"_"+task_outcome.id)
              outcome_div.addClass("GB_outcomment2 rotate_text");
              //outcome_div.attr("id",resp.task.id+"_"+task_outcome.id)
              outcome.html(outcome_div);
              point_column.html(text_point);
              point_column.addClass("td_align")
              rows.append(outcome);
              rows.append(point_column);
            });     
          }
          /*else{
            var point_column =$("<td></td>");
            var outcome =$("<td></td>");
            var outcome_div =$("<div></div>");             
            var  text_point = $("<input type ='text' value = '' maxlength='1' size='2'/>");
            text_point.addClass("editable_field task_grade ");
            if(p%2==0){
              outcome.addClass("Dark_no width_30 hover ");
              point_column.addClass("Dark_no width_30");
            }
            else{
              outcome.addClass("light_row width_30 hover");
              point_column.addClass("light_row width_30 ");
            }             
            if(p==0){
              outcome_div.html("");
              //outcome.addClass("hover")
            }
            outcome_div.addClass("GB_outcomment2 rotate_text");
            outcome.html(outcome_div);
            point_column.html(text_point);
            point_column.addClass("td_align")
            rows.append(outcome);
            rows.append(point_column);
          }*/
          if (p%2==0){
              rows.addClass("GB_odd");
            }
          $("#r_"+p).append(rows);

        }
       }
        scroll_div("t_"+resp.task.id);
      }      
    });  
    }
  });

  $(".grade_book_content").delegate(".task_setup_icon","click",function(){
    task_id = $(this).attr("rel");
    showSpinner(true);
    $.ajax({
      type:"POST",
      url:"/grade_book/load_task_setup",
      data:{task_id:task_id},
      error:  function(e){alert("error");},
      success: function(resp){
         $("#load_task_setup").show();
         $("#load_task_setup").html(resp);
         showSpinner(false);
      }      
   
    });
  });
  
  
});
//function for scroll scrollbar 
 function scroll_div(val){
      x=$("#"+val).position();
      div =$(".task_right_wp").position();
      var position = document.getElementById('task_right_wp').scrollLeft;
     $(".task_right_wp").animate({scrollLeft: (x.left-div.left)+position-15 }, 1000);
  }
  //show entire column on hover 
  $("table td").live("mouseover",function(){
  //$("table td").hover(function() {
      var id = $(this).attr("id");
      if($(this).attr("rel")=="grade_column"){
        $("td[id="+id+"]").each(function(index,item){
          $(".selected_"+item.id).addClass("selected_column"); 
          $(".o_"+item.id).addClass("selected_column");
          $("#img_"+id).removeClass("hide");
        });
      
      }
    }); 
    $("table td").live("mouseleave",function(){
      var id = $(this).attr("id");
      if($(this).attr("rel")=="grade_column"){
       $("td[id="+id+"]").each(function(index,item){
          $(".selected_"+item.id).removeClass("selected_column");
          $(".o_"+item.id).removeClass("selected_column");  
          $("#img_"+id).addClass("hide");
        });
      }
     }); 
  
  function load_outcomes(){

  var participant;
  var tasks;
  var outcomes
  course_id = $("#course_id").val();
  showSpinner(true);
  $.ajax({
    type :"POST",
    url: "/grade_book/get_task", 
    dataType: "json",
    data: {course_id:course_id},
    success: function(data){
      showSpinner(false);
      //$('.GB_right_table').replaceWith($("<table></table>"));
      $('#outcome_note').val(1);
      $('#outcome_note').parent().find('.fakebox').html("OUTCOMES" );
      participant = data.participant;
      outcomes = data.outcomes;
      tasks = data.tasks;
      var option ='';
      var row =$("<tr></tr>");
      row.attr("id","table_heading");
      var  table3 = $("<table></table>") 
      $(tasks).each(function(i, item) {
        var col =$("<th></th>");
        var heading_td =$("<td></td>");
        var table_heading = $("<table></table>");
        var table_row = $("<tr></tr>");
        var row_td = $("<td></td>");
        var row_td2 = $("<td></td>");
        var name_div = $("<div></div>");
        var setup_div = $("<div></div>");
        var fill_icon_div = $("<div></div>");
        var outcomes_length = item.task_outcomes.length;
        option = option + "<option value = t_"+ item.id +">" + item.name +"</option>"
        heading_td.addClass("red_border");
        table_heading.attr("border","0");
        row_td.addClass("hover task_name_background width12px line_height24px");
        //row_td.attr("rel","grade_column");
        name_div.addClass("rotate_text GB_outcomment3 white_font");
        name_div.html(item.name+" "+"<span style='color:#B5BDD0;'>"+item.task_category+"</span>");
        row_td2.addClass("hover width60px line_height24px");
        row_td2.attr("id","t_"+item.id);
        row_td2.attr("rel","grade_column");
        setup_div.html("<img id='' class='task_setup_icon' rel='"+item.id+"' src='images/btn_task_setup.png'/>");
        fill_icon_div.attr("id","img_t_"+item.id);
        fill_icon_div.addClass("hide");
        fill_icon_div.html("<img id='' src='images/btn_fill_column.png'/>");
        row_td2.html(fill_icon_div) ;
        row_td.append(setup_div);
        row_td.append(name_div);
        table_row.append(row_td);
        table_row.append(row_td2);
        if (item.show_outcomes==true){
          if(outcomes_length>0){
              for (j=0; j<outcomes_length; j++){
               var outcome_div = $("<div></div>");
               var outcome_td = $("<td></td>");
               var fill_icon_div2 = $("<div></div>");
               outcome_td.addClass("hover width60px line_height24px");
               outcome_td.attr("rel","grade_column")
               outcome_td.attr("id",item.id+"_"+item.task_outcomes[j].id)
               outcome_div.addClass("GB_outcomment2 rotate_text");
               fill_icon_div2.attr("id","img_"+item.id+"_"+item.task_outcomes[j].id);
               fill_icon_div2.addClass("hide");
               fill_icon_div2.html("<img id='' src='images/btn_fill_column.png'/>")
               outcome_td.append(fill_icon_div2) ;
               outcome_td.append(outcome_div);
               table_row.append(outcome_td);
              }
          }
        }
        table_heading.html(table_row);
        heading_td.html(table_heading);
        row.append(heading_td)
        /*col.html(value.name);
        col.addClass("red_border");
        col.addClass("hover");
        col.attr("id","t_"+value.id)
        row.append(col);*/
        if(i==0)
        $("#task_id").parent().find('.fakebox').html(item.name);
      });
      if(tasks=="")
       $("#task_id").parent().find('.fakebox').html('');
      $('#task_id').html(option);
      
      row.addClass("task_right_heading");
      table3.append(row);
      var  table = $("<table></table>");
      var  table_note = $("<table></table>");
      var  table2 = $("<table></table>");
      table.addClass("GB_left_table GB_table");//table for participant name and grade
      table.attr("id","GB_left_table")
      table.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
      table2.addClass("GB_right_table");//table outcome  average grade 
      table2.attr("id","GB_right_table");
      table2.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
      table3.css({"width":"100%", "border":"0","cellpadding":"0","cellspacing":"0"});
      table3.attr("id","heading_task");
      table3.addClass("heading_task");
      $(participant).each(function(p, value){
        var zero_outcome = false;
        if(outcomes.length==0){
          zero_outcome = true;
        }
        var count =0;
        var rows =$("<tr></tr>");
        var cols =$("<td></td>");
        var col2 =$("<td></td>");
        var div = $("<div></div>");
        var cols_note =$("<td></td>");
        var rows_note =$("<tr></tr>");
        var div_note = $("<div></div>");
        var col2_note =$("<td></td>");
        var div2 = $("<div></div>");
        var rows2 =$("<tr></tr>");
        var cols2 =$("<td></td>");
        cols.attr('width','63%');
        var text = '';
        div2.addClass("GB_outcomment rotate_text");
        div2.html("WRITING USING A QUILL");
        div.addClass("b_box");
        col2.addClass("td_align");
        cols.addClass("Name_box td_align");
        cols.html(value.full_name);
        cols2.addClass("");
        var  text = $("<input type ='text' value = '"+value.grade+"' id = '"+ value.profile_id +"' maxlength='1' readonly='readonly' size='5'/>")         
        text.addClass("task_grade")         
        div.html(text);        
        col2.html(div);        
        rows.html(cols);
        rows.append(col2);
        if(outcomes.length>0){
          $(outcomes).each(function(i, outcomes){
            var grade_col =$("<td></td>");
            var outcomes_col =$("<td></td>");
            var outcome_name =$("<div></div>"); 
            outcomes_col.addClass("red_border1");
            if(p==0){
              outcome_name.html(outcomes.name);
            }
            outcome_name.addClass("GB_outcomment rotate_text");
            outcomes_col.html(outcome_name);
            var  text = $("<input type ='text' name='task_grade' value = '"+value.course_outcomes[i]+"' id = 'p_"+value.profile_id +"_"+outcomes.id +"' maxlength='1' readonly='readonly' size='1'/>")
            text.addClass("col_width")
            grade_col.html(text);
            grade_col.addClass("td_align red_border")
            rows2.append(outcomes_col);
            rows2.append(grade_col);
          });
        }
        else{
          var grade_col =$("<td></td>");
          var outcomes_col =$("<td></td>");
          var outcome_name =$("<div></div>"); 
          outcome_col.addClass("red_border1");
          if(p==0){
            outcome_name.html(outcomes.name);
          }
          outcome_name.addClass("GB_outcomment rotate_text");
          outcomes_col.html(outcome_name);
          var  text = $("<input type ='text' value = '' id = '' maxlength='1' readonly='readonly' size='1'/>")
          text.addClass("col_width")
          grade_col.html(text);
          grade_col.addClass("td_align red_border")
          rows2.append(outcomes_col);
          rows2.append(grade_col);
        
        }
        if (p%2==0){
          rows.addClass("GB_odd");
          rows2.addClass("Dark_no");
        }
        else{
          rows2.addClass("light_row");
        }
        table2.append(rows2);
        table.append(rows);
        var row_item = $("<tr></tr>");
        var all_col='';

        $(tasks).each(function(i, task){
          var rows =$("<tr></tr>");
          var column =$("<td></td>");
          var task_name_column = $("<td></td>");
          var task_div = $("<div></div>"); 
          var task_grade = $("<td></td>");
          var task_grade_div = $("<div></div>"); 
          var main_col=$("<td></td>");
          main_col.addClass("red_border");
          column.addClass("first_row_layout selected_t_"+task.id+"");
          var table_task = $("<table></table>");width12pxclass="GB_table GB_editable task_grades_width"
          table_task.addClass("task_grades_width");//Add for remove extra column 05/09/12
          var len = task.task_outcomes.length;
          var  text_grade = $("<input type ='text' name='task_grade' value = '"+value.task_grade[i]+"' id = 'g_"+value.profile_id+"_"+task.id +"' maxlength='6' size='2' rel ='"+ value.profile_id +"' data='"+task.include_task_grade+"'/>");
          text_grade.addClass("editable_field task_grade t_"+task.id +" col_width");
          column.html(text_grade); 
          task_name_column.addClass(" width12px width_30 hover task_name_background");
          //task_name_column.attr("id","t_"+task.id);
          //task_name_column.attr("rel","grade_column");
          task_div.addClass("GB_outcomment3 rotate_text white_font");
          task_grade_div.addClass("GB_outcomment3 rotate_text");
          
          if (p!=0){
            column.addClass("td_align")
          }
          else{
            task_div.attr("id","t_"+task.id);  
            task_div.html(" ");
            task_grade_div.html("Grade");
          }
          task_name_column.html(task_div);
          task_grade.html(task_grade_div);
          rows.append(task_name_column);
          rows.append(task_grade);
          rows.append(column);
          if (task.show_outcomes==true){
            if(len>0){
              for (i=0; i<len; i++)
              {
                var point_column =$("<td></td>");
                var outcome =$("<td></td>");
                var outcome_div =$("<div></div>");             
                var  text_point = $("<input type ='text' name='task_grade' value = '"+value.task_outcome_grade[count]+"' id = 'p_"+value.profile_id+"_"+task.task_outcomes[i].id+"_"+task.id +"' data='"+task.include_task_grade+"' rel='p_"+value.profile_id+"_"+task.task_outcomes[i].id+"' maxlength='1' size='2'/>");
                count = count + 1 ;
                text_point.addClass("editable_field task_grade "+task.id+"_"+task.task_outcomes[i].id+" col_width");
                if(p%2==0){
                  outcome.addClass("Dark_no width_30 hover white_border");
                  point_column.addClass("first_row_layout Dark_no width_30 o_"+task.id+"_"+task.task_outcomes[i].id+" col_width");
                }
                else{
                  outcome.addClass("light_row width_30 hover white_border");
                  point_column.addClass("first_row_layout light_row width_30 o_"+task.id+"_"+task.task_outcomes[i].id+" col_width");
                }             
                if(p==0){
                  outcome_div.html(task.task_outcomes[i].name);
                  //outcome.addClass("hover")
                }
               // outcome.attr("rel","grade_column");
               // outcome.attr("id",task.id+"_"+task.task_outcomes[i].id)
                outcome_div.addClass("GB_outcomment2 rotate_text");
                //outcome_div.attr("id",task.id+"_"+task.task_outcomes[i].id)
                outcome.html(outcome_div);
                point_column.html(text_point);
                point_column.addClass("td_align")
                rows.append(outcome);
                rows.append(point_column);
              }
            }
            /*else{
              var point_column =$("<td></td>");
              var outcome =$("<td></td>");
              var outcome_div =$("<div></div>");             
              var  text_point = $("<input type ='text' value = '' maxlength='1' size='2'/>");
              text_point.addClass("editable_field task_grade ");
              if(p%2==0){
                outcome.addClass("Dark_no width_30 hover");
                point_column.addClass("Dark_no width_30");
              }
              else{
                outcome.addClass("light_row width_30 hover");
                point_column.addClass("light_row width_30");
              }             
              if(p==0){
                outcome_div.html("");
                //outcome.addClass("hover")
              }
              outcome_div.addClass("GB_outcomment2 rotate_text");
              outcome.html(outcome_div);
              point_column.html(text_point);
              point_column.addClass("td_align")
              rows.append(outcome);
              rows.append(point_column);
            }*/
         }  
          if (p%2==0){
              rows.addClass("GB_odd");
            }
          table_task.html(rows);
          main_col.html(table_task);
          row_item.append(main_col);
        });     
        row_item.addClass("GB_row");
        row_item.attr("id","r_"+p)
        table3.append(row_item);        
     });
     if(data.count<10){
       for (p=data.count; p<10; p++){
        var rows =$("<tr></tr>");
        var cols =$("<td></td>");
        var col2 =$("<td></td>");
        var div = $("<div></div>");
        var cols_note =$("<td></td>");
        var rows_note =$("<tr></tr>");
        var div_note = $("<div></div>");
        var col2_note =$("<td></td>");
        var div2 = $("<div></div>");
        var rows2 =$("<tr></tr>");
        var cols2 =$("<td></td>");
        cols.attr('width','63%');
        var text = '';
        div2.addClass("GB_outcomment rotate_text");
        div2.html("WRITING USING A QUILL");
        div.addClass("b_box");
        col2.addClass("td_align");
        cols.addClass("Name_box td_align");
        cols.html('');
        cols2.addClass("");
        var  text = $("<input type ='text' value = '' id = '' maxlength='1' readonly='readonly' size='5'/>")         
        text.addClass("task_grade")         
        div.html(text);        
        col2.html(div);        
        rows.html(cols);
        rows.append(col2);
        if(outcomes.length>0){
          $(outcomes).each(function(i, outcomes){

            var grade_col =$("<td></td>");
            var outcomes_col =$("<td></td>");
            var outcome_name =$("<div></div>"); 
            outcomes_col.addClass("red_border1");
            if(p==0){
              outcome_name.html(outcomes.name);
            }
            outcome_name.addClass("GB_outcomment rotate_text");
            outcomes_col.html(outcome_name);
            var  text = $("<input type ='text' value = '' id = '' maxlength='1' readonly='readonly' size='1'/>")
            text.addClass("col_width")
            grade_col.html(text);
            grade_col.addClass("td_align red_border")
            rows2.append(outcomes_col);
            rows2.append(grade_col);
          });
        }
        /*else{
          var grade_col =$("<td></td>");
          var outcomes_col =$("<td></td>");
          var outcome_name =$("<div></div>");
          outcomes_col.addClass("red_border1");            
          if(p==0){
            outcome_name.html(outcomes.name);
          }
          outcome_name.addClass("GB_outcomment rotate_text");
          outcomes_col.html(outcome_name);
          var  text = $("<input type ='text' value = '' id = '' maxlength='1' readonly='readonly' size='1'/>")
          text.addClass("")
          grade_col.html(text);
          grade_col.addClass("td_align red_border");
          rows2.append(outcomes_col);
          rows2.append(grade_col);
        
        }*/
        if (p%2==0){
          rows.addClass("GB_odd");
          rows2.addClass("Dark_no");
        }
        else{
          rows2.addClass("light_row");
        }
        table2.append(rows2);
        table.append(rows);
        var row_item = $("<tr></tr>");
        var all_col='';

        $(tasks).each(function(i, task){
          var rows =$("<tr></tr>");
          var task_name_column = $("<td></td>");
          var task_div = $("<div></div>"); 
          var task_grade = $("<td></td>");
          var task_grade_div = $("<div></div>"); 
          var column =$("<td></td>");
          var main_col=$("<td></td>");
          main_col.addClass("red_border");
          column.addClass("first_row_layout selected_t_"+task.id+"");
          var table_task = $("<table></table>");
          table_task.addClass("task_grades_width");
          var len = task.task_outcomes.length;
          var  text_grade = $("<input type ='text' value = '' id = '' readonly='readonly' maxlength='2' size='2' rel = ''/>");
          text_grade.addClass("task_grade col_width");
          column.html(text_grade); 
          task_name_column.addClass(" width12px width_30 hover task_name_background");
          task_div.addClass("GB_outcomment3 rotate_text white_font");
          task_grade_div.addClass("GB_outcomment3 rotate_text");
          task_name_column.attr("id","t_"+task.id);
          //task_name_column.attr("rel","grade_column");
          if (p!=0){
            column.addClass("td_align")
          }
          else{
            task_div.attr("id","t_"+task.id);  
            task_div.html(task.name);
            task_name_column.addClass("hover");
          }
          task_name_column.html(task_div);
          task_grade.html(task_grade_div);
          rows.append(task_name_column);
          rows.append(task_grade);
          rows.append(column);
          if (task.show_outcomes==true){
            if(len>0){
              for (i=0; i<len; i++)
              {
                var point_column =$("<td></td>");
                var outcome =$("<td></td>");
                var outcome_div =$("<div></div>");             
                var  text_point = $("<input type ='text' value = '' id = '' rel = '' readonly='readonly' maxlength='1' size='2'/>");
    
                text_point.addClass("task_grade col_width");
                if(p%2==0){
                  outcome.addClass("Dark_no width_30 hover white_border");
                  point_column.addClass("first_row_layout Dark_no width_30 o_"+task.id+"_"+task.task_outcomes[i].id+" col_width");
                }
                else{
                  outcome.addClass("light_row width_30 hover white_border");
                  point_column.addClass("first_row_layout light_row width_30 o_"+task.id+"_"+task.task_outcomes[i].id+" col_width");
                }             
                if(p==0){
                  outcome_div.html('');
                  //outcome.addClass("hover")
                }
                outcome_div.addClass("GB_outcomment2 rotate_text");
                //outcome_div.attr("id",task.id+"_"+task.task_outcomes[i].id)
                //outcome.attr("rel","grade_column");
                //outcome.attr("id",task.id+"_"+task.task_outcomes[i].id)
                outcome.html(outcome_div);
                point_column.html(text_point);
                point_column.addClass("td_align")
                rows.append(outcome);
                rows.append(point_column);
              }
            }
            /*else{
              var point_column =$("<td></td>");
              var outcome =$("<td></td>");
              var outcome_div =$("<div></div>");             
              var  text_point = $("<input type ='text' value = '' maxlength='1' size='2'/>");
              text_point.addClass("editable_field task_grade ");
              if(p%2==0){
                outcome.addClass("Dark_no width_30");
                point_column.addClass("Dark_no width_30");
              }
              else{
                outcome.addClass("light_row width_30");
                point_column.addClass("light_row width_30");
              }             
              if(p==0){
                outcome_div.html("");
                //outcome.addClass("hover")
              }
              outcome_div.addClass("GB_outcomment2 rotate_text");
              
              outcome.html(outcome_div);
              point_column.html(text_point);
              point_column.addClass("td_align")
              rows.append(outcome);
              rows.append(point_column);
            }*/
          }
          if (p%2==0){
              rows.addClass("GB_odd");
            }
          table_task.html(rows);
          main_col.html(table_task);
          row_item.append(main_col);
        });     
        row_item.addClass("GB_row");
        row_item.attr("id","r_"+p)
        table3.append(row_item);
       }
     }
     $('.GB_left_table').replaceWith(table);
     $('.GB_right_table').replaceWith(table2);
     $('.heading_task').replaceWith(table3);
     $(".task_right_wp").scrollLeft(0);
     /*scroll_div(last_task);
     last_task = 0;*/
    }
  });
}

function filter() {
  showSpinner(true);
  var filter = $(".side_tab_open:first").attr("filter");
  $.ajax({
     type: "POST",  
     url: "/grade_book/filter",  
     data: {filter:filter},
     success: function(data) {
       $("#grade_book_content").html(data);
       showSpinner(false);
     }
  });
}  
  
  
  
  
  
</script>



