<div class="task_side_buttons"> <a href="#" class="big_blue_btn">ATTACH</a> <a href="#" class="big_orange_btn">POST</a> <a href="#" class="big_blue_btn">PRINT</a> </div>
<!-- notepad start-->
  <div class="gradebook_content">
    <div class="gradebook_board_left">
      <div class="gradebook_board_right">
        <div class="gradebook_board_center">
          <div class="gradebook_partribbon">
            <div class="GDingbox" >
              <div class="GDingbox_botright" >
                <div class="GDingbox_botcenter" >
                  <div class="GDingbox_botleft" >
                  <div class="GDingbox_heading" >GRADE PALLETE</div>
                    <div class="GDingbox_botcontainer" >
                      <div class="GDingboxinner_grade" >
                        <div align="center">GRADES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="a" class="grading_Btn" />
                          <input name="" type="button" value="b" class="grading_Btn" />
                          <input name="" type="button" value="c" class="grading_Btn" />
                          <input name="" type="button" value="d" class="grading_Btn" />
                          <input name="" type="button" value="f" class="grading_Btn" />
                        </div>
                      </div>
                      <div class="GDingboxinner_plusminus" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" type="image" src="images/grade_plus.png" class="grading_Btn2" />
                          <input name="" src="images/grade_minus.png" type="image"  class="grading_Btn2" />
                        </div>
                      </div>
                      <div class="GDingboxinner_outcome" >
                        <div align="center">OUTCOMES</div>
                        <div class="fontsize0px">
                          <input name="" type="button" value="1" class="grading_Btn Gbtn1" />
                          <input name="" type="button" value="2" class="grading_Btn Gbtn2" />
                          <input name="" type="button" value="3" class="grading_Btn Gbtn3" />
                        </div>
                      </div>
                      <div class="GDingboxinner_latest" >
                        <div align="center">LATEST</div>
                        <div class="fontsize0px">
                          <input name="" src="images/grade_latestbt.png" type="image" class="grading_Btn2" />
                          <input name="" src="images/grade_latestbt.png" type="image" class="grading_Btn2" />
                          <input name="" src="images/grade_latestbt.png" type="image" class="grading_Btn2" />
                        </div>
                      </div>
                      <div class="GDingboxinner_delete" >
                        <div align="center">&nbsp;</div>
                        <div class="fontsize0px">
                          <input name="" src="images/grade_deletebt.png" type="image" class="grading_Btn2" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gradebook_pad_top"></div>
            <div class="gradebook_pad">
              <!-- tabs-->
              <div class="gradebook_tabs menu_container" align="right">
                 <a href="javascript:void(0)"  id="menu1" value="1" class="side_tab side_tab_open"><span class="task_tab"> Current</span></a>
                 <a href="javascript:void(0)"  id="menu2" value="2" class="side_tab side_tab_close"><span class="task_tab"> Past</span></a>
              </div>
              <!--tab content-->
              <div class="gradebook_tab_content">
                <div class="spacebar10px"></div>
                <div class="GB_course_box">
                  <div class="page_heading">COURSE</div>
                  <div class="selectbg"> <span class="fakebox">All Courses</span>
                   <select id="course_id">
                      <% unless @courses.nil? %>
                        <% @courses.each do |c| %> 
                        <option value="<%= c.id %>"><%= c.name %></option>
                        <% end %>
                      <% end %>
                   </select>
                  </div>
                <div class="clear"></div>
                <div class="spacebarGbook"></div>
                <div class="GBtable_wrapper">
                    <div class="outcome_wp">
                       <div class="Grade_left_panel_head"><div class="Grade_box">GRADE</div></div>
                       <div class="Grade_right_panel_head">
                         <div class="selectbg2"> <span class="fakebox">OUTCOMES</span>
                            <select id="single" name="myselect">
                              <option selected="selected" value="OUTCOMES">OUTCOMES</option>
                              <option value="OUTCOMES">OUTCOMES</option>
                              <option value="Spanish">Spanish</option>
                              <option value="English">English</option>
                              <option value="English">English</option>
                            </select>
                         </div>
                      </div>              
                    </div><!--outcome_wp-->
                           
                    <div class="Grade_left_panel">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="GB_left_table">
                        <tr class="GB_odd">
                          <td width="63%" class="Name_box">Patricio Hendricks</td>
                          <td width="37%" align="center" valign="middle"> <div class="b_box">B</div></td>
                        </tr>
                        <tr>
                          <td width="63%" class="Name_box">Nicole Liu</td>
                          <td width="37%" align="center" valign="middle"> <div class="b_box">A</div></td>
                        </tr>
                      </table>
                    </div><!--Grade_left_panel-->
                           
                    <div class="Grade_right_panel">
                           
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="GB_right_table">
                        <tr class="Dark_no">
                          <td>
                            <div class="GB_outcomment rotate_text">WRITING USING A QUILL</div>1      
                          </td>
                          <td>1</td>
                          <td>2</td>
                          <td>2</td>
                          <td>1</td>
                          <td>2</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>3</td>
                          <td>1</td>
                          <td>3</td>
                          <td>2</td>
                          <td>1</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>    
                        <tr class="Dark_no">
                          <td>2</td>
                          <td>3</td>
                          <td>1</td>
                          <td>3</td>
                          <td>2</td>
                          <td>1</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>3</td>
                          <td>1</td>
                          <td>3</td>
                          <td>2</td>
                          <td>1</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>   
                        <tr class="Dark_no">
                          <td>2</td>
                          <td>3</td>
                          <td>1</td>
                          <td>3</td>
                          <td>2</td>
                          <td>1</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                   </div><!--Grade_right_panel-->
                </div>
                </div>
                <div class="GB_course_box2">
               
                   <div class="selectbg3" id="show_all_task">
                   <%= render :partial => "/grade_book/show_task" %>        
                  </div>
                  
                  <div class="page_heading">TASK</div>
                  <div class="clear"></div>
                  <div class="spacebarGbook"></div>
                
                <div class="task_left_wp">
                  <div class="task_left_heading">
                     <div class="positn_rtlv"><div id="seting_box" style="display:none;" class="GBsttingbox"></div>
                     <div class="GB_sttingbt"><img id="setting_icon" src="images/GB_setting_icon.png" /></div></div>
                     <span>ESSAY</span>                       
                  </div><!--task_left_heading-->
                    <div class="clear"></div>
                    <table width="100%" border="0">
                      <tr class="GB_odd">
                        <td>B+</td>
                        <td class="Dark_no width_30"><div class="GB_outcomment2 rotate_text">WRITING USING A QUILL</div>3</td>
                        <td class="Dark_no width_30"><div class="GB_outcomment2 rotate_text">WRITING USING A QUILL</div>2</td>
                      </tr>
                      <tr>
                        <td>A+</td>
                        <td class="Light_no width_30">3</td>
                        <td class="Light_no width_30">2</td>
                      </tr>
                      
                      <tr class="GB_odd">
                        <td>B+</td>
                        <td class="Dark_no width_30"><div class="GB_outcomment2 rotate_text">WRITING USING A QUILL</div>3</td>
                        <td class="Dark_no width_30"><div class="GB_outcomment2 rotate_text">WRITING USING A QUILL</div>2</td>
                      </tr>
                    </table>
                </div><!--task_left_wp-->
                
                <div class="task_right_wp">
               
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr class="task_right_heading">
                    <th>ESSAY 2</th>
                    <th>ESSAY 3</th>
                    <th>ESSAY 4</th>
                    <th>ESSAY 5</th>
                    <th>ESSAY 6</th>
                  </tr>
                  <tr class="GB_odd">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  
                  <tr >
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  
                  <tr class="GB_odd">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>

                </div><!--task_left_heading-->
                
                </div>
                <div class="clear"></div>
                <div class="extra_height_gradepage"></div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>

$(document).ready(function(){
    //Toggle Tabs
  $(".menu_container").delegate('a', 'click', function(){
    //showSpinner(true);
    idx = $(this).attr("value");
    
    $('.side_tab').addClass("side_tab_close").removeClass("side_tab_open");
    
    for(i=0;i<3;i++){
      if(idx != i){
        //$("#div_"+i).hide();
      }
    }
 
    //---- Selected menu will highlighted
    $('#menu'+idx).addClass("side_tab_open").removeClass("side_tab_close");
   // $("#div_"+idx).fadeIn();
    
  });
});
$('#course_id').change(function(){
  var singleValues = $("#course_id :selected").text();
  course_id = $(this).val();
  $(this).parent().find('.fakebox').html(singleValues );
  $.ajax({
    type :"POST",
    url: "/grade_book/get_task",  
    data: {course_id:course_id},
    success: function(data){     
      $("#show_all_task").html(data);          
     }
  });
});

$('#task_id').change(function(){
  var singleValues = $("#task_id :selected").text();
  $(this).parent().find('.fakebox').html(singleValues );
});

$("#setting_icon").click(function(){
  $("#seting_box").show();
});
</script>



