<span class="fakebox">All Task</span>
<select id="task_id">
  <% unless @tasks.nil? %>
    <% @tasks.each do |t| %> 
    <option value="<%= t.id %>"><%= t.name %></option>
    <% end %>
  <% end %>
</select>

