<div class="add_task_popup">
  <div class="heading">Reward</div>
  <div class="boxadnt"> <span class="heading02">XP</span>
    <div class="heading02_field">
      <div class="dd_bg brown_bg02">
        <input type ="text" class = "dd_input brown_bg02" id ="xp_points" value="<%=@reward.xp if @reward%>">
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="boxadnt"> <span class="heading02">Target Type</span>
    <div class="heading02_field">
      <div class="dd_bg brown_bg02">
        <input type ="text" class = "dd_input brown_bg02" id ="target_type" value="<%=@reward.target_type if @reward%>">
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="boxadnt"> <span class="heading02">Target ID</span>
    <div class="heading02_field">
      <div class="dd_bg brown_bg02">
        <input type ="text" class = "dd_input brown_bg02" id ="target_id" value="<%=@reward.target_id if @reward%>">
      </div>
    </div>
    <div class="clear"></div>

     
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
  </div>
  <input type="hidden" id="hdn_reward_id" value="<%=@reward.id if @reward%>">
  <div align="right" style="margin-right:20px;">
  <a class="big_blue_btn inlineblock" id ="dont_save_btn" href="javascript:void(0)">Don't Save</a> <a class="big_blue_btn inlineblock" id ="save_btn" href="javascript:void(0)">Save</a></div>
 </div>
</div>


<script type="text/javascript">

$(document).ready(function(){

  $("#dont_save_btn").click(function(){
    $("#modification").hide();
    $("#modification").html('');
  });
  
  $("#save_btn").click(function(){
    id = $("#hdn_reward_id").val();
    xp = $("#xp_points").val();
    target_type = $("#target_type").val();
    target_id = $("#target_id").val();
    showSpinner(true);
    $.ajax({
      type:"POST",
      dataType :"json",
      url:"/reward/save/",
      data:{id:id,xp:xp,target_type:target_type,target_id:target_id},
      success: function(resp){
        if (resp.status==true){
            $("#container").load('/reward/', function(){
              showSpinner(false);
            });
          }
          else {
             showSpinner(false);
             alert("Error");
          }
      }
    });
    showSpinner(false);
  });
  
  $("#remove_btn").click(function(){
    id = $("#hdn_reward_id").val();
    if(id){
      showSpinner(true);
      $.ajax({
        type:"POST",
        data:{id:id},
        url:"/reward/delete/",
        dataType:"json",
        success:function(resp){
           if (resp.status==true){
            $("#container").load('/reward/', function(){
              showSpinner(false);
            });
          }
          else {
             showSpinner(false);
             alert("Error");
          }
        }
      });
    }
  
  });
});
</script>