<div class="course_content">
  <div class="course_board_left">
    <div class="course_board_right">
      <div class="course_board_center">
        <div class="texture_board">
          <div class="course_pad_top"> </div>
          <div class="course_pad">
            <div class="system_alert">This feature is not enabled</div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
  
  setPageTitle("Alert");

});

</script>