<div id="wardrobe_list_container">
  <div class="screen_title">
    WARDEROBE ITEMS
  </div>
  <div class="content_wrapper">
    <div id="head_items">
      <div id="head_left">
        <%=collection_select(:wardrobe, :id, Wardrobe.all, :id, :name) %>
      </div>
      <div id="head_right">
        <input type="button" name="btn_up" id="btn_up" value="Move Up" disabled="true"/> &nbsp;
        <input type="button" name="btn_down" id="btn_down" value="Move Dn" disabled="true"/>
      </div>
    </div>
    <div class="content_container">
      <div class="row_container">
        <% @wardrobe_item_lvel_0.each do |lev0| %>
          <li  id="<%=lev0.id%>" rel="<%=lev0.depth%>"><%=lev0.name%></li>
        <% end %>
      </div>
      <div class="row_container" id="wi_level_1">
        
      </div>
      <div class="row_container" id="wi_level_2">
        
      </div>
    </div>
    <input type="hidden" name="hdn_edit_id" id="hdn_edit_id" value="" />
  </div>
  <div id="sidebar_right">
    <div id="crud_level">
      <input type="button" name="btn_add" id="btn_add" value="Add" rel="/wardrobe/new" disabled="true" /> &nbsp;
      <input type="button" name="btn_edit" id="btn_edit" value="Edit" rel="/wardrobe/show" disabled="true" />
    </div>
  </div>
</div>
<div id="wardrobe_form_container" class="hide">
  <!-- to load wardrobe form -->
</div>
<script type="text/javascript">
<!--
//Set CSRF Token (Required for ajax request (post))
$(document).ajaxSend(function(e, xhr, options) {
  var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});

$(document).ready(function(){
  //List item selectable
  $('.row_container').delegate('li', 'click', function(){
    
    var wardrobe_item_id = $(this).attr('id');
    var level = parseInt($(this).attr('rel'));
    var level_container = level + 1;
    var data = "wardrobe_item_id="+wardrobe_item_id;
    
    //Enable/Disable add button
    if(level == 1){
      $("#btn_add").attr("disabled",false);
    } else {
      $("#btn_add").attr("disabled",true);
    }
    
    //Enable/Disable edit/up/down buttons
    if(level == 2){
      $("#btn_edit").attr("disabled",false);
      $("#btn_up").attr("disabled",false);
      $("#btn_down").attr("disabled",false);
    } else {
      $("#btn_edit").attr("disabled",true);
      $("#btn_up").attr("disabled",true);
      $("#btn_down").attr("disabled",true);
    }
    
    //Remove previous selected item
    $('.row_container li').each(function() {
      $(this).removeClass('marked_item');
    });
    
    //Mark the current one selected
    $(this).addClass('marked_item');
    
    if(level_container<3) {
      $('#wi_level_2').html("");
      $('#wi_level_'+level_container).html('<center>Loading...</center>');
      $.ajax({
        type: 'GET',
        url: '/wardrobe/load_wardrobe_items',
        data: data,
        success: function(data){
          $('#wi_level_'+level_container).html(data);
        }
      });
    }
    $('#hdn_edit_id').val(wardrobe_item_id);
  }); // Li select ends
  
  //Move list item up
  $('#btn_up').unbind('click').bind('click', function(){
    var current = $('#wi_level_2 .marked_item');
    current.prev().before(current);
    saveSortOrder();
  });
  
  //Move list item down
  $('#btn_down').unbind('click').bind('click', function(){
    var current = $('#wi_level_2 .marked_item');
    current.next().after(current);
    saveSortOrder();
  });
 
  //Add/Edit Call
  $('#btn_add, #btn_edit').unbind('click').bind('click', function(){
    var target = $(this).attr('rel');
    var wardrobe_id = $('#wardrobe_id').val();
    var wardrobe_item_id = $('#hdn_edit_id').val();
    var data = "id="+wardrobe_item_id+"&wardrobe_id="+wardrobe_id;
    if(target) {
      $.ajax({
        type: 'GET',
        url: target,
        data: data,
        success: function(data){
          if(data) {
            //$("#container").html(data);
            $("#wardrobe_form_container").html(data);
            $("#wardrobe_list_container").hide();
            $("#wardrobe_form_container").show();
          } else {
            alert("Error");
          }
        }
      });
    }
  });
}); //document ready ends

//Saving sort order Ajax call
function saveSortOrder() {
  var items_ids = new Array();
  i = 0
  $('#wi_level_2 li').each(function(){
    id = parseInt($(this).attr('id'));
    items_ids[i] = id;
    i++;
  });
  
  if(items_ids.length>0) {
    data = 'item_ids='+items_ids;
    $.ajax({
      type: 'POST',
      url: '/wardrobe/save_sort_order',
      data: data,
      success: function(data){
        if(data) {
          //alert("Sort order saved")
        } else {
          alert("Error");
        }
      }
    });
  }
}
-->
</script>