<div class="screen_title">
  WARDEROBE ITEMS
</div>
<div class="content_wrapper">
  <div id="head_items">
    <div id="head_left">
      <%=collection_select(:wardrobe, :id, Wardrobe.all, :id, :name) %>
    </div>
    <div id="head_right">
      <input type="button" name="btn_up" id="btn_up" value="Move Up"/> &nbsp;
      <input type="button" name="btn_down" id="btn_down" value="Move Dn"/>
    </div>
  </div>
  <div class="content_container">
    <div class="row_container">
      <% @wardrobe_item_lvel_0.each do |lev0| %>
        <li  id="<%=lev0.id%>" rel="<%=lev0.depth%>"><%=lev0.name%></li>
      <% end %>
    </div>
    <div class="row_container" id="wi_level_1">
      
    </div>
    <div class="row_container" id="wi_level_2">
      
    </div>
  </div>
  <div class="frm_button" style="width:400px;">
    <input type="button" name="btn_add" id="btn_add" value="Add" rel="/wardrobe/new" disabled="true" /> &nbsp;
    <input type="button" name="btn_edit" id="btn_edit" value="Edit" rel="/wardrobe/edit"/>
    <input type="hidden" name="hdn_edit_id" id="hdn_edit_id" value="" />
  </div>
</div>
<script type="text/javascript">
<!--
//Set CSRF Token (Required for ajax request (post))
$(document).ajaxSend(function(e, xhr, options) {
  var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});

$(document).ready(function(){
  //List item selectable
  $('.row_container li').live('click', function(){
    
    var wardrobe_item_id = $(this).attr('id');
    var level = parseInt($(this).attr('rel'));
    var level_container = level + 1;
    var data = "wardrobe_item_id="+wardrobe_item_id;
    
    if(level == 1){
      $("#btn_add").attr("disabled",false);
    } else {
      $("#btn_add").attr("disabled",true);
    }
    
    //Remove previous selected item
    $('.row_container li').each(function() {
      $(this).removeClass('marked_item');
    });
    //Mark the current one selected
    $(this).addClass('marked_item');
    
    if(level_container<3) {
      $('#wi_level_2').html("");
      $('#wi_level_'+level_container).html('<center>Loading...</center>');
      $.ajax({
        type: 'GET',
        url: '/wardrobe/load_wardrobe_items',
        data: data,
        success: function(data){
          $('#wi_level_'+level_container).html(data);
        }
      });
    }
    $('#hdn_edit_id').val(wardrobe_item_id);
  }); // Li select ends
  
  //Move list item up
  $('#btn_up').live('click', function(){
  var current = $('.marked_item');
  current.prev().before(current);
  });
  
  //Move list item down
  $('#btn_down').live('click', function(){
    var current = $('.marked_item');
    current.next().after(current);
  });
 
  //Add/Edit Call
  $('#btn_add, #btn_edit').live('click', function(){
    var target = $(this).attr('rel');
    var wardrobe_item_id = $('#hdn_edit_id').val();
    var data = "id="+wardrobe_item_id;
    if(target) {
      $.ajax({
        type: 'GET',
        url: target,
        data: data,
        success: function(data){
          if(data) {
            $("#container").html(data);
          } else {
            alert("Error");
          }
        }
      });
    }
  });
}); //document ready ends
-->
</script>