
<div class="account_detail" id="account_dialog"> 
<%if @current_user and !@current_user.nil?%>
  <div class="heading">Account Setup</div>
  <div class="dialog_body">
    </br>
     <div class="heading02">Full Name
      &nbsp;&nbsp;
    </div> 
    <div>
     <input type ="text" class = "dd_input brown_bg02" id ="user_full_name" value="<%=@current_user.full_name%>">
    </div>
    </br>
    
     <div class="heading02">Email
       &nbsp;&nbsp;
     </div> 
     <div>
      <input type ="text" class = "dd_input brown_bg02" id ="email" value="<%=@current_user.user.email%>">
     </div>
     <div class="form_error" id="email_form_error">&nbsp;</div>
     
     <div class="heading02">Password <span class="form_error" id="password_form_error"></span>
       &nbsp;&nbsp;
     </div>
     <div>
      <input type ="password" class = "dd_input brown_bg02" id ="user_password" value="" placeholder="******" >
     </div>
     <div class="heading02">Confirm Password <span class="form_error" id="password_confirmation_form_error"></span>
       &nbsp;&nbsp;
     </div>
     <div>
      <input type ="password" class = "dd_input brown_bg02" id ="user_confirm_password" value="" placeholder="******">
     </div>
     </br>
   </div>
   <div align="right" class="button_row">
    <a class="smaller_text big_blue_btn inlineblock" id="dont_change_btn" href="javascript:void(0)">Don't Change</a>
    <a class="big_orange_btn inlineblock" id = "change_btn" href="javascript:void(0)">Change</a>
   </div>
   <input type="hidden" name="hdn_user_id" id="hdn_user_id" value="<%=@current_user.user_id %>"/>
<%end%>  
</div>


<script type="text/javascript">
  $("#dont_change_btn").click(function(){
    $("#account_setup").hide();
  });
// Hide the card if clicked outside
$(document).click(function (e)
{
    var container = $("#account_setup");

    if (container.has(e.target).length === 0)
    {
        container.hide();
        $(document).unbind('click');
    }
});
 $("#change_btn").click(function(){
    var $this = $(this);

    if (!validateForm()) {
      return;
    }

    if ($this.data('disabled')) {
      if ($this.data('checking')) {
        $this.data('clicked', true);
      }
    } else {
      var id = $("#hdn_user_id").val(),
          password = $("#user_password").val(),
          full_name = $("#user_full_name").val(),
          email = $("#email").val();

      showSpinner(true);

      $.ajax({
        type: "POST",
        url: "/profile/change_password",
        dataType:"json",
        data:{id:id,password:password,full_name:full_name,email:email},
        success: function(resp){
          if (resp){
            showSpinner(false);
            $("#account_setup .dialog_body").html($('<div class="heading02">').html('<br>' + resp.text + '<br><br>'));
            $("#account_setup #change_btn").hide();
            $("#account_setup #dont_change_btn").html('Close');
            $("#alert").html(resp.alert);
            if(resp.status == true) {
              $("#tool_bar_full_name").html(full_name);
            }
            //$("#account_setup").fadeOut(5000);
          }
        }
      }); 
    }   
 });

 $('#account_dialog #email').change(function() {
  var $change_btn = $('#change_btn');

  $change_btn.data('disabled', true);
  $change_btn.data('checking', true);

  $.post('/profile/check_email', {email: this.value}, function(data) {
    if (data.exists) {
      $('#account_dialog .form_error').html('Someone is already using this email');
    } else {
      $change_btn.data('disabled', !validateForm());
      $change_btn.data('checking', false);

      if ($change_btn.data('clicked')) {
        $change_btn.data('clicked', false);
        $change_btn.click();
      }
    }
  });
 });
function validateForm(){
  var user_password = document.getElementById("user_password");
  var email=document.getElementById("email").value;
  var user_confirm_password =document.getElementById("user_confirm_password");
  var atpos=email.indexOf("@");
  var dotpos=email.lastIndexOf(".");
 
  if (email==""){
      $('#account_dialog .form_error').html('Enter Email Address');
      return false;
  }
  else if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length)
  {
    $('#email_form_error').html("Invalid email format");
    return false;
  } else {
    $('#email_form_error').html("&nbsp;");
  }
  
  if(user_password.value.length < 6 && user_password.value!=""){
    $('#password_form_error').html("Passwords have a minimum of 6 character");
    user_confirm_password.focus();
    return false;
  } else $('#password_form_error').html('');
  
  if(user_confirm_password.value == "" && user_password.value!=""){
    $('#password_confirmation_form_error').html("Please confirm your Password");
    user_confirm_password.focus();
    return false;
  } else $('#password_confirmation_form_error').html('');

  if(user_password.value!= user_confirm_password.value){
    $('#password_confirmation_form_error').html("Passwords do not match");
    user_confirm_password.focus();
    return false;
  } else $('#password_confirmation_form_error').html('');


  return true;
}

</script>