<div class="dialog_contents signin">
  <h2>WELCOME to OnCampus!</h2>
  
  <p>Full Name<br />
  <input type="text" id="dialog_full_name" name="full_name"></p>
  
  <p>Access Code<br />
  <input type="text" id="dialog_code" name="code" class="uppercase"></p>
  
  <p>If your professor has given you an access code, enter it now.<br />
    Don't worry if you don't know your code; just leave it blank.</p>
  
  <input id="use_code" name="use_code" type="button" class="clickable button" value="CONTINUE">
</div>

<script type="text/javascript">
<!--

$("#use_code").click(function() {
  $.getJSON("/profile/validate_code", { full_name: $("#dialog_full_name").val(), code: $("#dialog_code").val() },
     function(data){
       _major = data.major;
       _school = data.school;
       _profile.full_name = $("#dialog_full_name").val();
       showAvatar();
     });

  showDialog(false);
});

//--!>
</script>