<div class="wrapper">
  <div class="header">
    <div class="icon clickable">
      <img id="icon_major" src="/images/major_icons/null.png" width="130" height="135" />
    </div>
    <div class="level level_text">
      <!--Level Details goes here-->
      Level<br/>
      <img src="/images/ui/level.png" width="82" height="60" style="margin-left:0px;"/>
    </div>
    <div class="title">
      <div id="full_name" name="full_name" class="full_name clickable"></div>
      <div id="major" class="major"></div>
    </div>
  </div> 
  
  <div class="selections">
    <div id="user_stats">
      <div class="stats_container">
        <div>
          LEVEL METER
        </div>
        <!-- level meter with progressbar -->
        <div id="level_meter">
          <div id="progressbar">
            <div id="progress_stats">460 unitl level 6</div>
          </div>
        </div>
        <!-- level meter ends -->
      </div>
      <div class="stats_container">
        <div>
          QUEST POINTS
        </div>
        <div id="quest_points">
          <img src="/images/ui/points.png" width="180" height="70"/>
        </div>
      </div>
      <div class="stats_container">
        <div>
          BADGES EARNED
        </div>
        <div id="badge_earned">
          <img src="/images/badges/badge.png"/>
        </div>
      </div>
    </div>
    <div id="wardrobe_options" class="wardrobe_options">
      <div id="wardrobe_categories" class="wardrobe_categories lev0">
        <div id="category_head" class="btn wardrobe_item clickable" value="head"></div>
        <div id="category_body" class="btn wardrobe_item clickable" value="body"></div>
        <div id="category_legs" class="btn wardrobe_item clickable" value="legs"></div>
        <div id="category_feet" class="btn wardrobe_item clickable" value="feet"></div>
        <div id="category_prop" class="btn wardrobe_item clickable" value="prop"></div>
      </div>
      <div id="uparr" class="nav_button clickable"></div>
      <div id="dwnarr" class="nav_button clickable"></div>
      <div class="indi">
        <img src="/images/ui/arrowb.png" width="46" height="35" />
      </div>
      <div id="subcategory_wrapper">
        <div id="wardrobe_subcategories" class="lev1">
          <div id="subcategory_scroll">
            <div id="subcategory_container" style="position:absolute;top:0px;">
              <div id="subcategory_level_1_0" class="btn wardrobe_item clickable"></div>
              <div id="subcategory_level_1_1" class="btn wardrobe_item clickable"></div>
              <div id="subcategory_level_1_2" class="btn wardrobe_item clickable"></div>
              <div id="subcategory_level_1_3" class="btn wardrobe_item clickable"></div>
              <div id="subcategory_level_1_4" class="btn wardrobe_item clickable"></div>
            </div>
          </div>
        </div>
        <div id="wardrobe_subcategories" class="lev2">
          <div id="subcategory_scroll">
            <div id="subcategory_container">
							<div id="subcategory_level_2_0" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_1" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_2" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_3" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_4" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_5" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_6" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_7" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_8" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_9" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_10" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_11" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_12" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_13" class="btn wardrobe_item clickable"></div>
							<div id="subcategory_level_2_14" class="btn wardrobe_item clickable"></div>
						</div>
          </div>
        </div>
      </div>
      <div id="select_note" class="selection_instructions">What would you like to change?</div>
    </div>
  </div>
  <div id="modify" class="avat clickable">
    <img id="background" class="avatar">
    <img id="avatar_body" class="avatar">
    <img id="hat_back" class="avatar">
    <img id="hair_back" class="avatar">
    <img id="shoes" class="avatar">
    <img id="bottom" class="avatar">
    <img id="necklace" class="avatar">
    <img id="top" class="avatar">
    <img id="head" class="avatar">
    <img id="earrings" class="avatar">
    <img id="facial_marks" class="avatar">
    <img id="facial_hair" class="avatar">
    <img id="makeup" class="avatar">
    <img id="glasses" class="avatar">
    <img id="hair" class="avatar">
    <img id="hat" class="avatar">
    <img id="prop" class="avatar">
  </div>
  <div class="color_palette">
    <div id="color_palette_left_arrow">
      <img src="/images/ui/left_arrow.png" border="0" />
    </div>
    <div id="head_color">
      <div id="color_1" class="clickable"></div>
      <div id="color_2" class="clickable"></div>
      <div id="color_3" class="clickable"></div>
      <div id="color_4" class="clickable"></div>
      <div id="color_5" class="clickable"></div>
    </div>
    <div id="hair_color">
      <div id="hair_color_1" class="clickable"></div>
      <div id="hair_color_2" class="clickable"></div>
      <div id="hair_color_3" class="clickable"></div>
      <div id="hair_color_4" class="clickable"></div>
      <div id="hair_color_5" class="clickable"></div>
    </div>
  </div>
  <div id="show_controls" class="avatar_controls">TOUCH TO MODIFY</div>
  <div id="edit_controls" class="avatar_controls">TOUCH TO COMPLETE</div>
  <div class="bottom">
    <div class="botbtn">
      <img src="/images/ui/bt1.png" width="71" height="75" />
      Leaderboards
    </div>
    <div class="botbtn"><img src="/images/ui/bt2.png" width="71" height="75" />
      Calender
    </div> 
    <div class="botbtn"><img src="/images/ui/bt3.png" width="72" height="76" />
      Walls
    </div>
    <div class="botbtn"><img src="/images/ui/bt4.png" width="69" height="76" /><br/>
      Map
    </div>
    <div class="botbtn"><img src="/images/ui/bt5.png" width="51" height="78" /><br/>
      Game Center
    </div>
    <div class="others"><a href="/users/sign_out" data-method="delete" rel="nofollow"><img src="/images/ui/bt6.png" width="72" height="29" /></a><br/><br/>
      Logout
    </div>
  </div>
</div>

<script type="text/javascript">
<!--
var _wardrobeItems;
var _profile;
var _avatar;
var _currentSubCategory;
var _major;
var _school;
var _itemForColor = new Array("head", "head_shape","hair");

$(document).ajaxSend(function(e, xhr, options) {
  var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});

$(window).load(function() {

  // CUSTOMIZE AVATAR
  $("#modify").click(function() {
    if ($("#wardrobe_options").css("display") == "none") {
      modifyAvatar();
    } else {
      saveAvatar();
      showProfile();
    }
  });

  // Finish editing a field
  $(".input").blur(function() {
  });

  // Change full name
  $("#full_name").click(function () {
    wardrobeSubCategorySlide('hide');
    changeName();
  });
  // Click a wardrobe option
  $(".wardrobe_item").click(function() {
    image_file = $(this).attr("image_file");
    show_colorpalette = false; //Set for color palette
    current_tab_category = $(this).attr("id");
    _item_depth = $(this).attr("item_depth");
		
		// move indication icon to according position
		if(_item_depth==0) {
			$(".indi").animate({top: parseInt($("#"+current_tab_category).position().top) + 50 +'px'},250);
		}
    
		//check the clicked item typed with array for showing color pallete
    _item_type = $(this).attr("item_type");
    //alert(_item_depth); // debug
    $.each(_itemForColor, function(key, value) {
      if(parseInt(_item_depth) > 1 && _item_type == value) {
        show_colorpalette = true;
      }
    });
    
		//Check if need to show the color palette
		if(show_colorpalette) {
      if (_item_type == "head_shape" || _item_type == "head") {
        $("#head_color").show();
        $("#hair_color").hide();
      } else if (_item_type == "hair") {
        $("#hair_color").show();
        $("#head_color").hide();
      }
      else {
        $("#hair_color").hide();
				$("#head_color").hide();
      }
			
			//Show & move color palette
      $(".color_palette").animate({left: parseInt($("#"+current_tab_category).position().left) + 330 +'px'},250);
      $(".color_palette").animate({top: parseInt($("#"+current_tab_category).position().top) + 280 +'px'},250);
      $(".color_palette").fadeIn(80);
    } else {
      $(".color_palette").fadeOut();
    }

    if (image_file != undefined) {
			// Clicked on an option that can be applied
			item_type = $(this).attr("item_type");
			if (image_file == _avatar[item_type]) {
				// Already applied? Remove this item
				image_file = "null";
			}
			// Display the item on the avatar
			$("#"+item_type).attr("src", "/images/wardrobe/"+image_file+".png");
			_avatar[item_type] = image_file
			// Check if there is a back layer
			if (item_type == "hair" || item_type == "hat") {
				item_type_back = item_type + "_back";
				_avatar[item_type_back] = image_file + "_back";
				$("#"+item_type_back).attr("src", "/images/wardrobe/"+image_file+"_back.png");
			}
			saveAvatar();
			// Refresh the current list of options in case option stat has changed
			showSubCategory(_currentSubCategory, _item_type);
		} else {
			_currentSubCategory = $(this).attr("value");
			resetSubCategory(_item_depth);
			showSubCategory(_currentSubCategory, _item_type);
			wardrobeSubCategorySlide('show', _item_depth);
		}
  });
  
  //Change major
  $("#icon_major").click(function () {
    wardrobeSubCategorySlide('hide');
    changeMajor();
  });
  
  //Scroll up the subcategories
  $("#dwnarr").click(function () {
    //alert(_last_status_lev1+"=="+_last_status_lev2) //debug
    if(_last_status_lev1 != null && _last_status_lev1=="shown") {
      var wrapper = $(".lev1 #subcategory_scroll");
      var scroller = $(".lev1 #subcategory_scroll #subcategory_container");
    } else if (_last_status_lev2 != null && _last_status_lev2=="shown") {
      var wrapper = $(".lev2 #subcategory_scroll");
      var scroller = $(".lev2 #subcategory_scroll #subcategory_container");
    }
    var wrapper_h = wrapper.outerHeight();
    var scroller_h = scroller.outerHeight();
    var scroller_top = parseInt(scroller.css("marginTop"));
    if((scroller_top - wrapper_h - 525) < - scroller_h ){
      var offset2 = scroller_h - wrapper_h;
      //alert(offset2); //debug
      scroller.stop().animate({marginTop:"-" + offset2 + "px"}, 500);
      return;
    }
    scroller.stop().animate({
      marginTop: "-=" + 525 + "px"
    }, 500);
  });
  
  //Scroll down the subcategories
  $("#uparr").click(function () {
    //alert(_last_status_lev1+"=="+_last_status_lev2) //debug
    if(_last_status_lev1 != null && _last_status_lev1=="shown") {
      var wrapper = $(".lev1 #subcategory_scroll");
      var scroller = $(".lev1 #subcategory_scroll #subcategory_container");
    } else if (_last_status_lev2 != null && _last_status_lev2=="shown") {
      var wrapper = $(".lev2 #subcategory_scroll");
      var scroller = $(".lev2 #subcategory_scroll #subcategory_container");
    }
    var wrapper_h = wrapper.outerHeight();
    var scroller_top = scroller.css("marginTop");
    var offset = parseInt(scroller_top) + parseInt(wrapper_h);
    if(offset > 0){
       $(scroller).stop().animate({marginTop:0}, 500);
       return;
    }
    $(scroller).stop().animate({
      marginTop: "+=" + 525 + "px"
    }, 500);
  });
  
  //Color 1 change for body & head
  $("#color_1").click(function(){
    $("#avatar_body").attr("src", "/images/wardrobe/avatar/body/body_1.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"1";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  //Color 2 change for body & head
  $("#color_2").click(function(){
    $("#avatar_body").attr("src", "/images/wardrobe/avatar/body/body_2.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"2";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  //Color 3 change for body & head
  $("#color_3").click(function(){
    $("#avatar_body").attr("src", "/images/wardrobe/avatar/body/body_3.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"3";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  //Color 4 change for body & head
  $("#color_4").click(function(){
    $("#avatar_body").attr("src", "/images/wardrobe/avatar/body/body_4.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"4";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  //Color 5 change for body & head
  $("#color_5").click(function(){
    $("#avatar_body").attr("src", "/images/wardrobe/avatar/body/body_5.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"5";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  
  //Color 1 change for hair
  $("#hair_color_1").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"1";
  $("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });

  //Color 2 change for hair
  $("#hair_color_2").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"2";
  $("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });

  //Color 3 change for hair
  $("#hair_color_3").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"3";
  $("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });

  //Color 4 change for hair
  $("#hair_color_4").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"4";
  $("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });

  //Color 5 change for hair
  $("#hair_color_1").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"5";
  $("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  
  $.getJSON("/profile/show",
     function(data){
			 _profile = data.profile;
       _avatar = data.avatar;
       _major = data.major;
       _school = data.school;
       if (data.new_profile == true) {
         acceptCode();
       }
       showAvatar();
     }
  );
	showProfile();
});

function resetSubCategory(depth) {
  depth = parseInt(depth) + 1;
  for (i=0; i<5; i++) {
    if(typeof(depth) != 'undefined') {
      $("#subcategory_level_" + depth + "_"+i).html("");
      $("#subcategory_level_" + depth + "_"+i).removeAttr("value");
      $("#subcategory_level_" + depth + "_"+i).removeAttr("image_file");
      $("#subcategory_level_" + depth + "_"+i).removeAttr("item_type");
    }  
  }
}

function prepWardrobeIcons() {
  for (i=0; i<_wardrobeItems.length; i++) {
    if (_wardrobeItems[i].depth == 0) {
      item_type = _wardrobeItems[i].item_type;
      item_depth = _wardrobeItems[i].depth;
      $("#category_"+item_type).attr("value", _wardrobeItems[i].id);
        $("#category_"+item_type).html("<img src='/images/wardrobe/icon/level0/"+item_type+"_icon.png' /><br/>"+_wardrobeItems[i].name);
        $("#category_"+item_type).attr("item_type", item_type);
      $("#category_"+item_type).attr("item_depth", item_depth);
    }
  }
}

function showSubCategory(id, partent_item_type) {
  idx = 0;
  
  for (i=0; i<_wardrobeItems.length; i++) {
    if (_wardrobeItems[i].parent_item_id == id) {
      cat_depth = _wardrobeItems[i].depth;
      $("#subcategory_level_" + cat_depth + "_" +idx).attr("value", _wardrobeItems[i].id);
      // Set the image file
      item_type = _wardrobeItems[i].item_type;
      image_file = _wardrobeItems[i].image_file;
      if (image_file == undefined) {
        // Not a leaf node
        $("#subcategory_level_" + cat_depth + "_" +idx).html("<img src='/images/wardrobe/icon/level" + cat_depth + "/" + partent_item_type + "/" + item_type + "_icon.png' /><br/>"+_wardrobeItems[i].name);
      } else {
        $("#subcategory_level_" + cat_depth + "_" +idx).html("<img src='/images/wardrobe/icon/"+image_file+"_icon.png' /><br/>"+_wardrobeItems[i].name);
        $("#subcategory_level_" + cat_depth + "_" +idx).attr("image_file", _wardrobeItems[i].image_file);
      }

      // Set the item type
      if (item_type != undefined) {
        $("#subcategory_level_" + cat_depth + "_" +idx).attr("item_type", item_type);
      }
      // set the depth
      item_depth = _wardrobeItems[i].depth;
      if (item_depth != undefined) {
        $("#subcategory_level_" + cat_depth + "_" +idx).attr("item_depth", item_depth);
      }
      // Is the item currently used?
      if (image_file != null && image_file == _avatar[item_type]) {
        $("#subcategory_level_" + cat_depth + "_" +idx).addClass("selected");
      } else {
        $("#subcategory_level_" + cat_depth + "_" +idx).removeClass("selected");
      }
      idx = idx + 1;
    }
  }
  // Show up & down navigation arrow if items exceeds more than 5
  if (idx>5) {
   $(".nav_button").fadeIn(1000);
  } else {
   $(".nav_button").fadeOut();
  }
}

function showAvatar() {
  $("#full_name").html(_profile.full_name);
  if (_major != undefined) {
    $("#major").html(_major.name);
    $("#icon_major").attr("src", "/images/major_icons/" + _major.code + ".png");
  }

  if (_school != undefined) {
    $("#school").html(_school.code);
  }
	
	if(_avatar.points !=null) {
		//$("#quest_points").html(_avatar.points);
	}
	
  $("#background").attr("src", "/images/wardrobe/"+_avatar.background+".png");
  $("#avatar_body").attr("src", "/images/wardrobe/"+_avatar.body+".png"); //Id changed by vaibhav because having id "body" is creating problem with jQuery.position()
  $("#hat_back").attr("src", "/images/wardrobe/"+_avatar.hat_back+".png");
  $("#hair_back").attr("src", "/images/wardrobe/"+_avatar.hair_back+".png");
  $("#shoes").attr("src", "/images/wardrobe/"+_avatar.shoes+".png");
  $("#bottom").attr("src", "/images/wardrobe/"+_avatar.bottom+".png");
  $("#necklace").attr("src", "/images/wardrobe/"+_avatar.necklace+".png");
  $("#top").attr("src", "/images/wardrobe/"+_avatar.top+".png");
  $("#head").attr("src", "/images/wardrobe/"+_avatar.head+".png");
  $("#earrings").attr("src", "/images/wardrobe/"+_avatar.earrings+".png");
  $("#facial_marks").attr("src", "/images/wardrobe/"+_avatar.facial_marks+".png");
  $("#facial_hair").attr("src", "/images/wardrobe/"+_avatar.facial_hair+".png");
  $("#makeup").attr("src", "/images/wardrobe/"+_avatar.makeup+".png");
  $("#glasses").attr("src", "/images/wardrobe/"+_avatar.glasses+".png");
  $("#hair").attr("src", "/images/wardrobe/"+_avatar.hair+".png");
  $("#hat").attr("src", "/images/wardrobe/"+_avatar.hat+".png");
  $("#prop").attr("src", "/images/wardrobe/"+_avatar.prop+".png");
}

function modifyAvatar() {
  if (_wardrobeItems == undefined) {
    showSpinner(true);
  // Fill-up the wardrobe for the first time
    $.getJSON("/profile/edit",
      function(data){
        for (i=0; i<data.length; i++) {
          if (data[i].depth == 0) {
            $("#category_"+data[i].item_type).attr("value", data[i].id);
          }
        }
        _wardrobeItems = data;
        prepWardrobeIcons();
        showSpinner(false);
      });  
  }

  $("#show_controls").hide();
  $("#edit_controls").show();
  $("#wardrobe_options").show();
  $("#user_stats").hide();
  wardrobeSubCategorySlide('hide');
  $(".color_palette").fadeOut();
  $("#select_note").show();
  $(".nav_button").hide();
}

function saveAvatar() {
  if (_school != undefined) {
    _profile.school_id = _school.id;
  }
  if (_major != undefined) {
    _profile.major_id = _major.id;
  }
  
	//Save avatar data
	$.ajax({ //Previously was with getJson but having problem of too many parameters in request URI so switched to $.ajax with post
    url: "/profile/save",
    data: { id: _profile.id, profile: _profile, avatar: _avatar }, 
    type: 'post',
    dataType: 'json',
    success: function(data){
      _profile = data.profile;
      _avatar = data.avatar;
    }
  });
}

function showProfile() {
  $("#show_controls").show();
  $("#edit_controls").hide();
  $("#wardrobe_options").hide();
	$("#user_stats").show();
  $(".color_palette").fadeOut();
	wardrobeSubCategorySlide('hide');
	$("#select_note").show();
}

function acceptCode() {
  $.get('/profile/accept_code', function(data) {
    $('#dialog').html(data);
  })
  .success(function() { showDialog(true); });
}

function changeName() {
  $.get('/profile/change_name', function(data) {
    $('#dialog').html(data);
  })
  .success(function() { showDialog(true); });
}

function changeMajor() {
  $.get('/profile/change_major', function(data) {
    $('#dialog').html(data);
  })
  .success(function() { showDialog(true); });
}

var _last_status_lev1 = null;
var _last_status_lev2 = null;
var _last_status_lev3 = null;

// Show hide wardrobe subcategory menu items (with slide effect)
function wardrobeSubCategorySlide(action,depth) {
  // Reset the subcategory divs as may shifted while the vertical scorlling.
  $(".lev1 #subcategory_scroll #subcategory_container").css("marginTop" , "0px");
  $(".lev2 #subcategory_scroll #subcategory_container").css("marginTop" , "0px");
  if (action == 'show') {
    if(depth==0) {
      $(".lev1").show();
      $(".lev1").animate({right: '100px'},500 ,function(){$(".lev1").css('z-index' , '1');});
      _last_status_lev1 = 'shown';

      if(_last_status_lev2=='shown') {
        $(".lev2").css('z-index' , '-1');
        $(".lev2").animate({right: '-175px'},500 ,function(){$(".lev2").hide()});
        //_last_status_lev1 = 'left';
      }
    } else if (depth==1) {
      $(".lev1").css('z-index' , '-1');
      $(".lev1").animate({right: '385px'},500 ,function(){$(".lev1").hide();});
      $(".lev2").show();
      $(".lev2").animate({right: '100px'},500 ,function(){$(".lev2").css('z-index' , '1');});
      _last_status_lev2 = 'shown';
      _last_status_lev1 = 'left';
    }
    $("#select_note").hide();
    $(".indi").show();
  } else if (action == 'hide') {
    $(".lev1").hide();
    $(".lev2").hide();
    $(".indi").hide();
    $(".lev1").animate({right: '0px'},500 ,function(){$(".lev1").css('z-index' , '-1');});
    $("#select_note").show();
  }
}

//-->
</script>