<div class="wrapper">
  <div class="header">
      <div class="icon">
          <img src="/images/ui/titico.png" width="147" height="139" />
          <div style="position:absolute; left: 520px; top: 30px; padding-left:10px;" class="level_text">
            Level<br/>
            <img src="/images/ui/level.png" width="82" height="60" style="margin-left:0px;"/>
          </div>
        </div>
        <div class="title">
          <div id="full_name" name="full_name" class="full_name"></div>
          <div id="major" class="major"></div>
        </div>
  </div> 
  <div class="level">
      <!--Level Details goes here-->
  </div>

  <div class="selections">
	
    <div id="wardrobe_options" class="wardrobe_options">
    
      <div id="wardrobe_categories" class="wardrobe_categories lev2">
        <div id="category_head" class="btn wardrobe_item clickable" value="head"></div>
        <div id="category_body" class="btn wardrobe_item clickable" value="body"></div>
        <div id="category_legs" class="btn wardrobe_item clickable" value="legs"></div>
        <div id="category_feet" class="btn wardrobe_item clickable" value="feet"></div>
        <div id="category_prop" class="btn wardrobe_item clickable" value="prop"></div>
      </div>
	  <div id="wardrobe_subcategories" class="lev1">
        <div class="indi">
          <img src="/images/ui/arrowb.png" width="46" height="35" style="margin-top:10px;" />
        </div>

        <div id="uparr" class="nav_button"></div>
        <div id="dwnarr" class="nav_button"></div>
		<div id="subcate_scroll" style="float:left;height:528px;overflow:hidden;padding-left:3px;">
          <div id="subcategory_container" style="float:left">
		    <div id="subcategory_0" class="btn wardrobe_item clickable"></div>
            <div id="subcategory_1" class="btn wardrobe_item clickable"></div>
            <div id="subcategory_2" class="btn wardrobe_item clickable"></div>
            <div id="subcategory_3" class="btn wardrobe_item clickable"></div>
            <div id="subcategory_4" class="btn wardrobe_item clickable"></div>
		    <div id="subcategory_5" class="btn wardrobe_item clickable"></div>
		  </div>
		</div>
      </div>
	  <div id="select_note" class="selection_instructions">What would you like to change?</div>
    </div>
    </div>
    
    <div id="modify" class="avat clickable">
      <img id="background" class="avatar">
      <img id="body" class="avatar">
      <img id="hat_back" class="avatar">
      <img id="hair_back" class="avatar">
      <img id="shoes" class="avatar">
      <img id="bottom" class="avatar">
      <img id="necklace" class="avatar">
      <img id="top" class="avatar">
      <img id="head" class="avatar">
      <img id="earrings" class="avatar">
      <img id="facial_marks" class="avatar">
      <img id="facial_hair" class="avatar">
      <img id="makeup" class="avatar">
      <img id="glasses" class="avatar">
      <img id="hair" class="avatar">
      <img id="hat" class="avatar">
      <img id="prop" class="avatar">
    </div>
	<div class="color_palette">
	  <div id="head_color">
	    <div id="color_1" class="clickable"></div>
	    <div id="color_2" class="clickable"></div>
	    <div id="color_3" class="clickable"></div>
	    <div id="color_4" class="clickable"></div>
	    <div id="color_5" class="clickable"></div>
	  </div>
	  <div id="hair_color">
	    <div id="hair_color_1" class="clickable"></div>
	    <div id="hair_color_2" class="clickable"></div>
	    <div id="hair_color_3" class="clickable"></div>
	    <div id="hair_color_4" class="clickable"></div>
	    <div id="hair_color_5" class="clickable"></div>
	  </div>
	</div>
    <div id="show_controls" class="avatar_controls">TOUCH TO MODIFY</div>

    <div id="edit_controls" class="avatar_controls">TOUCH TO COMPLETE</div>

    <div class="bottom">
       <div class="botbtn">
      <img src="/images/ui/bt1.png" width="71" height="75" />
      Leaderboards
      </div>
      <div class="botbtn"><img src="/images/ui/bt2.png" width="71" height="75" />
      Calender
      </div> 
      <div class="botbtn"><img src="/images/ui/bt3.png" width="72" height="76" />
      Walls
      </div>
      <div class="botbtn"><img src="/images/ui/bt4.png" width="69" height="76" /><br/>
      Map
      </div>
      <div class="botbtn"><img src="/images/ui/bt5.png" width="51" height="78" /><br/>
      Game Center
      </div>
      
      <div class="others"><a href="/users/sign_out" data-method="delete" rel="nofollow"><img src="/images/ui/bt6.png" width="72" height="29" /></a><br/><br/>
      Logout
      </div>
  </div>
</div>

<script type="text/javascript">
<!--

var _wardrobeItems;
var _profile;
var _avatar;
var _currentSubCategory;
var _major;
var _school;
var _itemForColor = new Array("head", "head_shape","hair");

$(window).load(function() {
  // CUSTOMIZE AVATAR
  $("#modify").click(function() {
    if ($("#wardrobe_options").css("display") == "none") {
      modifyAvatar();
    } else {
      saveAvatar();
      showProfile();
    }
  });

  // Finish editing a field
  $(".input").blur(function() {
  });
  
  // Click a wardrobe option
  $(".wardrobe_item").click(function() {
    image_file = $(this).attr("image_file");
	show_colorpalette = false;
	
	current_tab_category = $(this).attr("id");
	
	// move indication icon to according position
	if(current_tab_category == "category_head") {
	 $(".indi").css("margin-top","10px");
	} else if(current_tab_category == "category_body") {
	 $(".indi").css("margin-top","110px");
	} else if(current_tab_category == "category_legs") {
	 $(".indi").css("margin-top","215px");
	} else if(current_tab_category == "category_feet") {
	 $(".indi").css("margin-top","320px");
	} else if(current_tab_category == "category_prop") {
	 $(".indi").css("margin-top","425px");
	}
	
	//check the clicked item typed with array for showing color pallete
	_item_type = $(this).attr("item_type");
	//alert(_item_type); // debug
	$.each(_itemForColor, function(key, value) {
	  if(current_tab_category != "category_head" && _item_type == value) {
	    show_colorpalette = true;
	  }
	});
	
	if(show_colorpalette) {
	  if (_item_type == "head_shape" || _item_type == "head") {
	    $("#head_color").show();
		$("#hair_color").hide();
	  } else if (_item_type == "hair") {
	    $("#hair_color").show();
		$("#head_color").hide();
	  }
	  else {
	    $("#hair_color").hide();
		$("#head_color").hide();
	  }
	  
	  $(".color_palette").css("left", parseInt($("#"+current_tab_category).position().left) + 370);
	  $(".color_palette").css("top", parseInt($("#"+current_tab_category).position().top) + 280);
	  $(".color_palette").fadeIn();
	}
	else {
	  $(".color_palette").fadeOut();
	}
	
	//alert($(this).attr("item_type"));
	
	if (image_file != undefined) {
      // Clicked on an option that can be applied
      item_type = $(this).attr("item_type");
	  if (image_file == _avatar[item_type]) {
        // Already applied? Remove this item
        image_file = "null";
      }
      // Display the item on the avatar
      $("#"+item_type).attr("src", "/images/wardrobe/"+image_file+".png");
      _avatar[item_type] = image_file
      // Check if there is a back layer
      if (item_type == "hair" || item_type == "hat") {
        item_type_back = item_type + "_back";
        _avatar[item_type_back] = image_file + "_back";
        $("#"+item_type_back).attr("src", "/images/wardrobe/"+image_file+"_back.png");
      }
      saveAvatar();
      // Refresh the current list of options in case option stat has changed
	  showSubCategory(_currentSubCategory);
    } else {
      _currentSubCategory = $(this).attr("value");
      resetSubCategory();
      showSubCategory(_currentSubCategory);
	  wardrobeSubCategorySlide('show');
    }

  });
  
  $("#uparr").click(function(){
	var divOffset = $('#subcate_scroll').offset().top;
    var pOffset = $('#subcategory_container div:eq(5)').offset().top;
	alert(divOffset + "===" + pOffset)
	var pScroll = pOffset - divOffset;
    $('#subcate_scroll').animate({scrollTop: '+=' + pScroll + 'px'}, 1000);
  });
  
  //Color 1 change for body & head
  $("#color_1").click(function(){
    $("#body").attr("src", "/images/wardrobe/avatar/body/body_1.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"1";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  //Color 2 change for body & head
  $("#color_2").click(function(){
    $("#body").attr("src", "/images/wardrobe/avatar/body/body_2.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"2";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  //Color 3 change for body & head
  $("#color_3").click(function(){
    $("#body").attr("src", "/images/wardrobe/avatar/body/body_3.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"3";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  //Color 4 change for body & head
  $("#color_4").click(function(){
    $("#body").attr("src", "/images/wardrobe/avatar/body/body_4.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"4";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  //Color 5 change for body & head
  $("#color_5").click(function(){
    $("#body").attr("src", "/images/wardrobe/avatar/body/body_5.png");
    var str = _avatar.head;
    var newStr = str.substring(0, str.length-1)+"5";
    $("#head").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  
  //Color 1 change for hair
  $("#hair_color_1").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"1";
	$("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  
  //Color 2 change for hair
  $("#hair_color_2").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"2";
	$("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  
  //Color 3 change for hair
  $("#hair_color_3").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"3";
	$("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  
  //Color 4 change for hair
  $("#hair_color_4").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"4";
	$("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  
  //Color 5 change for hair
  $("#hair_color_1").click(function(){
    var str = _avatar.hair;
    var newStr = str.substring(0, str.length-1)+"5";
	$("#hair").attr("src", "/images/wardrobe/"+newStr+".png"); 
  });
  
  $.getJSON("/profile/show",
     function(data){
       _profile = data.profile;
       _avatar = data.avatar;
       _major = data.major;
       _school = data.school;
       if (data.new_profile == true) {
         acceptCode();
       }
       showAvatar();
     });  

  $("#edit_controls").hide();
  $("#wardrobe_options").hide();
  //$("#wardrobe_subcategories").hide();
  wardrobeSubCategorySlide('hide');
  $(".color_palette").fadeOut();
  $("#select_note").show();

});

function resetSubCategory() {
  for (i=0; i<5; i++) {
    $("#subcategory_"+i).html("");
    $("#subcategory_"+i).removeAttr("value");
    $("#subcategory_"+i).removeAttr("image_file");
    $("#subcategory_"+i).removeAttr("item_type");
  }
}

function prepWardrobeIcons() {
  for (i=0; i<_wardrobeItems.length; i++) {
    if (_wardrobeItems[i].depth == 0) {
      item_type = _wardrobeItems[i].item_type;
	  $("#category_"+item_type).attr("value", _wardrobeItems[i].id);
      $("#category_"+item_type).html("<img src='/images/wardrobe/icon/"+item_type+"_icon.png' /><br/>"+_wardrobeItems[i].name);
      $("#category_"+item_type).attr("item_type", item_type);
    }
  }
}

function showSubCategory(id) {
  idx = 0;
  for (i=0; i<_wardrobeItems.length; i++) {
    if (_wardrobeItems[i].parent_item_id == id) {
      $("#subcategory_"+idx).attr("value", _wardrobeItems[i].id);
      // Set the image file
      item_type = _wardrobeItems[i].item_type;
	  image_file = _wardrobeItems[i].image_file;
      if (image_file == undefined) {
        $("#subcategory_"+idx).html("<img src='/images/wardrobe/icon/"+item_type+"_icon.png' /><br/>"+_wardrobeItems[i].name);
      } else {
        $("#subcategory_"+idx).html("<img src='/images/wardrobe/icon/"+image_file+"_icon.png' /><br/>"+_wardrobeItems[i].name);
        $("#subcategory_"+idx).attr("image_file", _wardrobeItems[i].image_file);
      }
      // Set the item type
      if (item_type != undefined) {
        $("#subcategory_"+idx).attr("item_type", item_type);
      }
	  
	  // Is the item currently used?
      if (image_file != null && image_file == _avatar[item_type]) {
        $("#subcategory_"+idx).addClass("selected");
      } else {
        $("#subcategory_"+idx).removeClass("selected");
      }

      idx = idx + 1;
    }
  }
  // Show up & down navigation arrow if items exceeds more than 5
  if(idx>5) {
   $(".nav_button").show();
  } else {
   $(".nav_button").hide();
  }
}

function showAvatar() {
  $("#full_name").html(_profile.full_name);
  if (_major != undefined) {
    $("#major").html(_major.name);
  }
  if (_school != undefined) {
    $("#school").html(_school.code);
  }
  $("#background").attr("src", "/images/wardrobe/"+_avatar.background+".png");
  $("#body").attr("src", "/images/wardrobe/"+_avatar.body+".png");
  $("#hat_back").attr("src", "/images/wardrobe/"+_avatar.hat_back+".png");
  $("#hair_back").attr("src", "/images/wardrobe/"+_avatar.hair_back+".png");
  $("#shoes").attr("src", "/images/wardrobe/"+_avatar.shoes+".png");
  $("#bottom").attr("src", "/images/wardrobe/"+_avatar.bottom+".png");
  $("#necklace").attr("src", "/images/wardrobe/"+_avatar.necklace+".png");
  $("#top").attr("src", "/images/wardrobe/"+_avatar.top+".png");
  $("#head").attr("src", "/images/wardrobe/"+_avatar.head+".png");
  $("#earrings").attr("src", "/images/wardrobe/"+_avatar.earrings+".png");
  $("#facial_marks").attr("src", "/images/wardrobe/"+_avatar.facial_marks+".png");
  $("#facial_hair").attr("src", "/images/wardrobe/"+_avatar.facial_hair+".png");
  $("#makeup").attr("src", "/images/wardrobe/"+_avatar.makeup+".png");
  $("#glasses").attr("src", "/images/wardrobe/"+_avatar.glasses+".png");
  $("#hair").attr("src", "/images/wardrobe/"+_avatar.hair+".png");
  $("#hat").attr("src", "/images/wardrobe/"+_avatar.hat+".png");
  $("#prop").attr("src", "/images/wardrobe/"+_avatar.prop+".png");
}

function modifyAvatar() {
  if (_wardrobeItems == undefined) {
    showSpinner(true);
	// Fill-up the wardrobe for the first time
    $.getJSON("/profile/edit",
       function(data){
         for (i=0; i<data.length; i++) {
           if (data[i].depth == 0) {
             $("#category_"+data[i].item_type).attr("value", data[i].id);
           }
         }
         _wardrobeItems = data;
         prepWardrobeIcons();
         showSpinner(false);
       });  
  }
  
  $("#show_controls").hide();
  $("#edit_controls").show();
  $("#wardrobe_options").show();
  //$("#wardrobe_subcategories").hide();
  wardrobeSubCategorySlide('hide');
  $(".color_palette").fadeOut();
  $("#select_note").show();
  $(".nav_button").hide();
}

function saveAvatar() {
  if (_school != undefined) {
    _profile.school_id = _school.id;
  }
  if (_major != undefined) {
    _profile.major_id = _major.id;
  }
  $.getJSON("/profile/save", { id: _profile.id, profile: _profile, avatar: _avatar },
     function(data){
       _profile = data.profile;
       _avatar = data.avatar;
     });
}

function showProfile() {
  $("#show_controls").show();
  $("#edit_controls").hide();
  $("#wardrobe_options").hide();
  $(".color_palette").fadeOut();
}

function acceptCode() {
  $.get('/profile/accept_code', function(data) {
    $('#dialog').html(data);
  })
  .success(function() { showDialog(true); });
}

//Show hide wardrobe subcategory menu items (with slide effect)
function wardrobeSubCategorySlide(action) {
  if (action == 'show') {
    $("#wardrobe_subcategories").show();
    $("#wardrobe_subcategories").animate({left: '150px'},500 ,function(){$(".indi").show();$("#wardrobe_subcategories").css('z-index' , '1');});
	$("#select_note").hide();
  } else if (action == 'hide') {
	$("#wardrobe_subcategories").hide();
    $("#wardrobe_subcategories").animate({left: '0px'},500 ,function(){$(".indi").hide();$("#wardrobe_subcategories").css('z-index' , '-1');});
	$("#select_note").show();
  }
}

//-->
</script>