<!DOCTYPE html>
<html>
<head>
  <title>CollegeQuest</title>

  <meta name="viewport" content="width=device-width;" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="apple-touch-icon" href="/images/ios_icon.png">
  
  <link href="/stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/default.css" media="screen" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
 
  <%= yield %>

  <div id="dialog" class="dialog"></div>
  <div id="waiting" class="waiting"><img src="/images/ajax-loader.gif"></div>

</body>
</html>
