<div class="warningbox ">
  <div class="heading">Warning</div>
    <div class="clear"></div>
    <div class="spacebar10px"></div>
    <div class="spacebar10px"></div>
    <div>You are removing <span id="delete_badge_name"></span> from your list of badges. Are you sure?</div>
    <input type="hidden" id="delete_badge_id" value="" />
    
    <div class="spacebar10px"></div>
  <div align="right">
  <a class="smaller_text big_blue_btn inlineblock" id = "dont_delete_btn" href="javascript:void(0)">DON'T DELETE</a>
  <a class="big_orange_btn inlineblock clr_red" id = "delete_btn" href="javascript:void(0)">DELETE</a> 
  </div>
</div>

<script type="text/javascript">
$(function() {
	
	$("#dont_delete_btn").click(function(){
		$("#warning_box").hide();
	});
	
	$("#delete_btn").click(function(){
		
		var badge_id = $("#delete_badge_id").val();
		showSpinner(true);
      	$.ajax({
	         type: "POST",
	         url: "/badge/delete_badge",
	         data:{badge_id:badge_id},
	         success: function(data) {
	           $("#warning_box").hide();
	           $("#last_used_"+badge_id).remove();
	           $("#all_"+badge_id).remove();
	           delete_badge_id="";
	           showSpinner(false);
	         },
	         error: function()
	         {
	           alert("An Error has occured");
	           showSpinner(false);
	         },
	    });
	});
});

<!--
//-->
</script>